<app-loading type="fullscreen"></app-loading>
<form [formGroup]="form" *ngIf="form">
    <pre class="debug">{{form.value | json}}</pre>
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="">NOME DO ITEM</label>
                <input type="text" class="form-control" formControlName="nomeItem" placeholder="Nome">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">

            <div class="form-group">
                <label for="">RECURSO MATERIAL ASSOCIADO</label>
                <select name="" id="" class="form-control" formControlName="recursoMaterialId">
                    <option value="">Selecionar</option>
                    <option [value]="r.id" *ngFor="let r of recursos">{{ r.nome }}</option>
                </select>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-4">

            <div class="form-group">
                <label for="">EMPRESA FINACIADORA <span [hidden]="projeto.isPD">e Recebedora</span></label>
                <select name="" id="" class="form-control" formControlName="empresaFinanciadoraId">
                    <option value="">Selecionar</option>
                    <option [value]="item.id" *ngFor="let item of empresasFinanciadoras">{{item.nome}}</option>
                </select>
            </div>

        </div>

        <div class="col-4" *ngIf="projeto.isPD">
            <div class="form-group">
                <label for="">EMPRESA RECEBEDORA</label>
                <select name="" id="" class="form-control" formControlName="empresaRecebedoraId">
                    <option value="">Selecionar</option>
                    <option [value]="item.id" *ngFor="let item of empresasRecebedoras">{{item.nome}}</option>
                </select>
            </div>
        </div>

        <div class="col-4">
            <div class="form-group">
                <label for="">BENEFÍCIADO</label>
                <input type="text" class="form-control" formControlName="beneficiado">
            </div>
        </div>
        <div class="col-4" *ngIf="projeto.isPG">

            <div class="form-group">
                <label for="">CNPJ BENEFICIADO</label>
                <input type="text" class="form-control" mask="00.000.000/0000-00" placeholder="00.000.000/0000-00" value="cnpjBeneficiado" formControlName="cnpjBeneficiado">
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-4" *ngIf="projeto.isPD">
            <div class="form-group">
                <label for="">CNPJ BENEFICIADO</label>
                <input type="text" class="form-control" mask="00.000.000/0000-00" placeholder="00.000.000/0000-00" value="cnpjBeneficiado" formControlName="cnpjBeneficiado">
            </div>

        </div>

        <div class="col-4">
            <div class="form-group">
                <label for="">CATEGORIA CONTÁBIL</label>
                <select name="" id="" class="form-control" [formControlName]="projeto.isPD?'categoriaContabil':'catalogCategoriaContabilGestaoId'">
                    <option value="">Selecionar</option>
                    <option [value]="c.value" *ngFor="let c of categoriasContabeis">{{c.text}}</option>
                </select>
            </div>
        </div>
        <div class="col-8" *ngIf="projeto.isPG">
            <div class="form-group">
                <label for="">TIPO DE ATIVIDADE</label>
                <select name="" id="" class="form-control" formControlName="catalogAtividadeId">
                    <option value="">Selecionar</option>
                    <option [value]="c.value" *ngFor="let c of atividades">{{c.text}}</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="categoriaContabil.value === 'MP'">
        <div class="col-4">
            <div class="form-group">
                <label for="">IRÁ EQUIPAR LABORATÓRIO EXISTENTE?</label>
                <select name="" id="" class="form-control" formControlName="equiparLabExistente">
                    <option value="">Selecionar</option>
                    <option [value]="true">Sim</option>
                    <option [value]="false">Não</option>
                </select>
            </div>

        </div>

        <div class="col-4">
            <div class="form-group">
                <label for="">IRÁ EQUIPAR LABORATÓRIO NOVO?</label>
                <select name="" id="" class="form-control" formControlName="equiparLabNovo">
                    <option value="">Selecionar</option>
                    <option [value]="true">Sim</option>
                    <option [value]="false">Não</option>
                </select>
            </div>
        </div>

        <div class="col-4">
            <div class="form-group">
                <label for="">ITEM NACIONAL?</label>
                <select name="" id="" class="form-control" formControlName="itemNacional">
                    <option value="">Selecionar</option>
                    <option [value]="true">Sim</option>
                    <option [value]="false">Não</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-4">

            <div class="form-group">
                <label for="">MÊS REFERÊNCIA</label>
                <select name="" id="" class="form-control" formControlName="mes">
                    <option value="">Selecione</option>
                    <option [value]="item.value" *ngFor="let item of mesesRef" [innerHTML]="item.text"></option>
                </select>
            </div>

        </div>

        <div class="col-4">
            <div class="form-group">
                <label for="">QUANTIDADE ITENS</label>
                <input type="text" class="form-control" maxlength="7" formControlName="qtdItens" mask="0*">
            </div>
        </div>

        <div class="col-4">
            <div class="form-group">
                <label for="">VALOR UNITÁRIO</label>
                <input type="text" class="form-control" currencyMask formControlName="valorUnitario">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-4">

            <div class="form-group">
                <label for="">TIPO DE DOCUMENTO?</label>
                <select name="" id="" class="form-control" formControlName="tipoDocumento">
                    <option value="">Selecionar</option>
                    <option [value]="t.value" *ngFor="let t of tipoDocs">{{ t.text }}</option>
                </select>
            </div>

        </div>

        <div class="col-4">
            <div class="form-group">
                <label for="">NÚMERO DE DOCUMENTO</label>
                <input type="text" class="form-control" formControlName="numeroDocumento">
            </div>
        </div>

        <div class="col-4">
            <div class="form-group">
                <label for="">DATA DO DOCUMENTO</label>
                <input type="date" class="form-control" formControlName="dataDocumento">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="">ESPECÍFICAÇÃO TÉCNICA</label>
                <textarea name="" id="" cols="30" rows="4" class="form-control" formControlName="especificacaoTecnica"></textarea>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="">FUNÇÃO DESTE RECURSO NESTA ETAPA DO PROJETO</label>
                <textarea name="" id="" cols="30" rows="4" class="form-control" formControlName="funcaoRecurso"></textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group" [formGroup]="obsInternas">
                <label for="">OBSERVAÇÕES INTERNAS(OPCIONAL)</label>
                <textarea name="" id="" cols="30" rows="4" class="form-control" formControlName="texto"></textarea>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <div class="form-group">
                <label for="">COMPROVANTE DE DESPESA</label>
            </div>
            <div>
                <label class="btn btn-link">
                    <i class="ta-upload mx-2 fs-22"></i>
                    <span>Selecionar arquivo </span>
                    <strong *ngFor="let file of file.files"> ({{file.name}})</strong>
                    <input type="file" name="" id="" class="form-control d-none" #file (change)="changeFile($event)">
                </label>
            </div>
        </div>
        <div class="col-4">&nbsp;</div>
        <div class="col-4">
            <div class="form-group">
                <label for="">VALOR FINAL (CÁLCULO AUTOMÁTICO)</label>
                <input type="text" disabled class="form-control" [value]="valorFinal|currency:'R$'">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-right">
            <button class="btn btn-link">Cancelar</button>
            <button class="btn btn-primary" type="button" (click)="submit()" [disabled]="form.invalid">
                <i class="ta-plus-circle"></i>
                Salvar Registro
            </button>
        </div>
    </div>
</form>
