<div class="row mt-5">
    <div class="col-12">
        <div class="form-group">
            <label for="">NOME DO ITEM</label>
            <input type="text" class="form-control">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">

        <div class="form-group">
            <label for="">RECURSO MATERIAL ASSOCIADO</label>
            <input type="text" class="form-control">
        </div>

    </div>
</div>

<div class="row">
    <div class="col-4">

        <div class="form-group">
            <label for="">EMPRESA FINACIADORA</label>
            <select name="" id="" class="form-control">
            </select>
        </div>

    </div>

    <div class="col-4">
        <div class="form-group">
            <label for="">EMPRESA RECEBEDORA</label>
            <select name="" id="" class="form-control">
            </select>
        </div>
    </div>

    <div class="col-4">
        <div class="form-group">
            <label for="">BENEFÍCIADO</label>
            <select name="" id="" class="form-control">
            </select>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-4">

        <div class="form-group">
            <label for="">CNPJ BENEFICIADO</label>
            <input type="text" class="form-control" value="">
        </div>

    </div>

    <div class="col-8">
        <div class="form-group">
            <label for="">CATEGORIA CONTÁBIL</label>
            <select name="" id="" class="form-control">
            </select>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-4">

        <div class="form-group">
            <label for="">IRÁ EQUIPAR LABORATÓRIO EXISTENTE?</label>
            <select name="" id="" class="form-control">
            </select>
        </div>

    </div>

    <div class="col-4">
        <div class="form-group">
            <label for="">IRÁ EQUIPAR LABORATÓRIO NOVO?</label>
            <select name="" id="" class="form-control">
            </select>
        </div>
    </div>

    <div class="col-4">
        <div class="form-group">
            <label for="">ITEM NACIONAL?</label>
            <select name="" id="" class="form-control">
            </select>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-4">

        <div class="form-group">
            <label for="">MÊS REFERÊNCIA</label>
            <select name="" id="" class="form-control">
            </select>
        </div>

    </div>

    <div class="col-4">
        <div class="form-group">
            <label for="">QUANTIDADE ITENS</label>
            <input type="text" class="form-control">
        </div>
    </div>

    <div class="col-4">
        <div class="form-group">
            <label for="">VALOR UNITÁRIO</label>
            <input type="text" class="form-control">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-4">

        <div class="form-group">
            <label for="">TIPO DE DOCUMENTO?</label>
            <select name="" id="" class="form-control">
            </select>
        </div>

    </div>

    <div class="col-4">
        <div class="form-group">
            <label for="">NÚMERO DE DOCUMENTO</label>
            <input type="text" class="form-control">
        </div>
    </div>

    <div class="col-4">
        <div class="form-group">
            <label for="">DATA DO DOCUMENTO</label>
            <input type="text" class="form-control">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="form-group">
            <label for="">ESPECÍFICAÇÃO TÉCNICA</label>
            <textarea name="" id="" cols="30" rows="4" class="form-control"></textarea>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="form-group">
            <label for="">FUNÇÃO DESTE RECURSO NESTA ETAPA DO PROJETO</label>
            <textarea name="" id="" cols="30" rows="4" class="form-control"></textarea>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="form-group">
            <label for="">OBSERVAÇÕES INTERNAS(OPCIONAL)</label>
            <textarea name="" id="" cols="30" rows="4" class="form-control"></textarea>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-4">
        <div class="form-group">
            <label for="">COMPROVANTE DE DESPESA</label>
            <div>
                <input type="file">
                <div><i class="ta"></i> Anexar (ID86)</div>
            </div>
        </div>
    </div>
    <div class="col-4">&nbsp;</div>
    <div class="col-4">
        <div class="form-group">
            <label for="">VALOR FINAL (CÁLCULO AUTOMÁTICO)</label>
            <input type="text" disabled class="form-control" value="R$15.4990,00 (ID87)">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 text-right">
        <button class="btn btn-link">Cancelar</button>
        <button class="btn btn-primary"><i class="ta-plus-circle"></i> Salvar Registro</button>
    </div>
</div>
