<div class="row">
        <div class="col">
            <h5 class="text-uppercase text-blue font-weight-normal my-3">INSERIR REGISTRO - REFP</h5>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <ul class="nav nav-bar-row nav-justified pt-3">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Recurso Humano</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Recurso Material</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-12">
            <div class="form-group">
                <label for="">BENEFICIÁRIO (RECURSO HUMANO)</label>
                <select name="" id="" class="form-control">
                    <option value="">Flávia Monique Fernandes Goulart (ID77)</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-4">

            <div class="form-group">
                <label for="">MÊS REFERÊNCIA</label>
                <select name="" id="" class="form-control">
                    <option value="">Novembro 2019 (ID78)</option>
                </select>
            </div>

        </div>

        <div class="col-4">
            <div class="form-group">
                <label for="">QUANTIDADE HORAS</label>
                <input type="text" class="form-control" value="160 (ID79)">
            </div>
        </div>

        <div class="col-4">
            <div class="form-group">
                <label for="">EMPRESA FINACIADORA</label>
                <select name="" id="" class="form-control">
                    <option value="">Novembro 2019 (ID78)</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-4">

            <div class="form-group">
                <label for="">TIPO DE DOCUMENTO?</label>
                <select name="" id="" class="form-control">
                    <option value="">Declaração de horas (ID81)</option>
                </select>
            </div>

        </div>

        <div class="col-4">
            <div class="form-group">
                <label for="">NÚMERO DE DOCUMENTO</label>
                <input type="text" class="form-control" value="NF 2016/251 (ID82)">
            </div>
        </div>

        <div class="col-4">
            <div class="form-group">
                <label for="">DATA DO DOCUMENTO</label>
                <input type="text" class="form-control" value="25/12/2019 (ID83)">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="">ATIVIDADE REALIZADA NA ETAPA PELA PESSOA</label>
                <textarea name="" id="" cols="30" rows="4" class="form-control"></textarea>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="">OBSERVAÇÕES INTERNAS(OPCIONAL)</label>
                <textarea name="" id="" cols="30" rows="4" class="form-control"></textarea>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <div class="form-group">
                <label for="">COMPROVANTE DE DESPESA</label>
                <div>
                    <input type="file">
                    <div><i class="ta"></i> Anexar (ID86)</div>
                </div>
            </div>
        </div>
        <div class="col-4">&nbsp;</div>
        <div class="col-4">
            <div class="form-group">
                <label for="">VALOR FINAL (CÁLCULO AUTOMÁTICO)</label>
                <input type="text" disabled class="form-control" value="R$15.4990,00 (ID87)">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-right">
            <button class="btn btn-link">Cancelar</button>
            <button class="btn btn-primary"><i class="ta-plus-circle"></i> Salvar Registro</button>
        </div>
    </div>