<form [formGroup]="formProjetoXml" (ngSubmit)="gerarXml(formProjetoXml, 'FinalProjeto')">
    <div class="row mt-5">
        <div class="col-12 fs-22 text-cinza text-uppercase">
            Gerar XML do relatório final do projeto
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="bg-cinza-claro p-3 rounded">
                <div>
                    <div class="form-group">
                        <label>Versão</label>
                    </div>
                    <div class="d-flex">
                        <div class="mr-3">
                            <input type="text" formControlName="versao" class="form-control">
                        </div>
                        <div>
                            <button class="btn btn-primary" type="submit" [disabled]="formProjetoXml.invalid">
                                <i class="ta-download mr-1"></i>
                                Gerar XML
                            </button>
                        </div>
                    </div>
                </div>
                <div class="d-flex align-items-center text-green mt-3">
                    <i class="ta-ok fs-22 mr-2"></i>
                    <span>
                        Todos os campos necessários para a geração deste XML estão preenchidos.
                    </span>
                </div>
            </div>
        </div>
    </div>
</form>

<form [formGroup]="formAuditoriaXml" (ngSubmit)="gerarXml(formAuditoriaXml, 'Auditoria')">
    <div class="row mt-5">
        <div class="col-12 fs-22 text-cinza text-uppercase">
            Gerar XML da auditoria contábil e financeira do projeto
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="bg-cinza-claro p-3 rounded">
                <div>
                    <div class="form-group">
                        <label>Versão</label>
                    </div>
                    <div class="d-flex">
                        <div class="mr-3">
                            <input type="text" formControlName="versao" class="form-control">
                        </div>
                        <div>
                            <button class="btn btn-primary" type="submit" [disabled]="formAuditoriaXml.invalid">
                                <i class="ta-download mr-1"></i>
                                Gerar XML
                            </button>
                        </div>
                    </div>
                </div>
                <div class="d-flex align-items-center text-danger mt-3">
                    <i class="ta-cancel-circle fs-22 mr-2"></i>
                    <span>
                        O Campo "CÓDIGO DO PROJETO" não foi definido.
                    </span>
                </div>
            </div>
        </div>
    </div>
</form>