<app-loading type="fullscreen"></app-loading>
<form [formGroup]="form" *ngIf="form" class="mb-3">
    <div class="row">
        <div class="col-3" [formGroup]="fotoPerfil">
            <app-upload-image formControlName="file" name="file" [asBase64]="true"></app-upload-image>
            <div class="text-center mt-3">
                <button class="btn btn-danger btn-sm" *ngIf="userId" (click)="removeUser()">
                    <span class="ta-trash"></span> Excluir usuário
                </button>
            </div>
        </div>
        <div class="col-9">

            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label for="tipo">Tipo de usuário</label>
                        <select name="tipo" formControlName="role" id="tipo" class="form-control">
                            <option *ngFor="let role  of  roles" [value]="role.value">{{ role.text }}</option>

                        </select>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="nome-completo">Nome Completo</label>
                        <input type="text" formControlName="nomeCompleto" id="nome-completo" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" autocomplete="off" formControlName="email" class="form-control">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="">Status</label>
                        <select name="status" id="status" formControlName="status" class="form-control">
                            <option [value]="1">Ativo</option>
                            <option [value]="0">Desativo</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label for="">Empresa</label>
                        <!-- formControlName="empresa" -->
                        <select name="catalogEmpresaId" id="" class="form-control" formControlName="catalogEmpresaId"
                                #empresa>
                            <option value="">Selecione</option>
                            <option *ngFor="let empresa of empresas" [value]="empresa.id">{{ empresa.nome }}</option>
                            <option value="0">Outra (Empresa Externa)</option>
                        </select>
                    </div>
                    <div class="form-group" *ngIf="razaoSocial">
                        <label for="">Nome da Empresa</label>
                        <input type="text" class="form-control" formControlName="razaoSocial">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="">CPF Usuário</label>
                        <!-- formControlName="cpf" -->
                        <input type="text" mask="000.000.000-00" formControlName="cpf" placeholder="999.999.999-99"
                               class="form-control">
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-12">
                    <!-- Acesso por projetos -->
                </div>
            </div>
            <div class="row" *ngIf="resultado && !resultado.sucesso">
                <div class="col-12">
                    <div class="alert border-danger text-danger font-weight-bold">
                        <ul class="m-0">
                            <li *ngFor="let item of resultado.inconsistencias">{{item}}</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <hr>
                    <app-user-projetos [user]="user" [readonly]="!projetoAcessosEnabled"></app-user-projetos>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-right">
                    <a routerLink="/dashboard/gerenciar-usuarios" class="btn btn-link">Cancelar</a>
                    <button class="btn btn-primary" [disabled]="form.invalid" (click)="submit()"><i class="ta-save"></i> Salvar</button>
                </div>
            </div>
        </div>
    </div>
</form>
