<div class="row mt-5">
  <div class="col-12">
    <form [formGroup]="formContrato" (ngSubmit)="onSubmit()">
    
      <div class="form-group">
        <div class="d-flex align-items-center rounded bg-cinza-claro pt-5 pb-5 my-3 subestacao-list position-relative"
          *ngFor="let control of _clausulas.controls; index as i" [formGroup]="control">
          <div class="number">{{ i + 1 }}</div>
          <div class="d-flex flex-column mt-4 px-2">
            <button 
              type="button" 
              class="btn p-0" 
              ngbTooltip="Subir Cláusula" 
              *ngIf="i > 0" 
              (click)="move(i, -1)"
            >
              <i class="ta-arrow-up fs-48 text-blue"></i>
            </button>
            <button 
              type="button" 
              class="btn p-0" 
              ngbTooltip="Descer Cláusula" 
              *ngIf="i < _clausulas.controls.length - 1" 
              (click)="move(i, 1)"
            >
              <i class="ta-arrow-down fs-48 text-blue"></i>
            </button>
          </div>
          <div class="flex-grow-1">
            <label>Cláusula</label>
            <app-textarea class="form-control" rows="5" formControlName="clausula" maxlength="1000"></app-textarea>
          </div>
          <div class="px-2">
            <button 
              type="button" class="btn mt-4" 
              ngbTooltip="Excluir Cláusula" 
              *ngIf="_clausulas.controls.length > 1" 
              (click)="removeClausula(i)">
              <i class="ta-cancel-circle fs-22"></i>
            </button>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="text-right">
          <div class="btn btn-link px-0" (click)="addClausula()">
            <i class="ta-plus-circle"></i>
            Adicionar cláusula
          </div>
        </div>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary" [disabled]="formContrato.invalid">
          <i class="ta-save mr-1"></i>
            Salvar Dados
          </button>
      </div>

    </form>
  </div>
</div>