<div class="modal-header">
  <div class="text-uppercase modal-title text-blue-light fs-24"></div>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.close('close')">
    <i class="ta-cancel-circle"></i>
  </button>
</div>
<div class="modal-body">
  <app-form-editor *ngIf="formValue; else loading" [key]="key" [formValue]="formValue" [anexos]="anexos"
                   [demandaId]="demandaId"
                   [disabled]="true"
                   [readonly]="true"
                   (save)="submit($event)" [canAppendFile]="true"></app-form-editor>
  <ng-template #loading>Carregando Formulário</ng-template>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="activeModal.close('ok')">Ok</button>
</div>



