<form [formGroup]="formd" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col">
      <h5 class="text-uppercase text-cinza font-weight-normal my-4">1. APRESENTAÇÃO E OBJETIVO</h5>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="form-group">
        <ckeditor formControlName="apresentacaoObjetivo" [config]="config"></ckeditor>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col pt-2">
      <h5 class="text-uppercase text-cinza font-weight-normal my-4">2. ESCOPO DE FORNECIMENTO</h5>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col py-4 of-1">
      <div class="form-group">
        <label for="">2.1. TEMA ANEEL</label>
        <p>Clique no botão abaixo para definir os temas:</p>
        <button class="btn btn-outline-primary" (click)="definirTemas()">
          <i class="ta ta-plus-circle pr-2"></i>
          <span>Definir Temas e SubTemas</span>
        </button>
      </div>

      <div class="form-group py-4">
        <label for="">2.2 TÍTULO BREVE DO PROBLEMA </label>
        <input type="text" formControlName="tituloBreve" class="form-control">
      </div>

      <div class="form-group py-3">
        <label for="">2.3 DESCRIÇÃO COMPLETA DO PROBLEMA</label>
        <ckeditor formControlName="descricaoProblema" [config]="config"></ckeditor>

      </div>

      <div class="form-group py-4">
        <label for="">2.4 RESULTADOS ESPERADOS DE PESQUISA</label>
        <ckeditor formControlName="resultadoPesquisa" [config]="config"></ckeditor>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col of-2 py-3">
      <div class="form-group">
        <label for="">2.4.1 PRODUTO PRINCIPAL</label>
        <ckeditor formControlName="produtoPrincipal" [config]="config"></ckeditor>
      </div>

      <div class="form-group py-4">
        <label for="">2.4.2 Produto Complementar A</label>
        <ckeditor formControlName="produtoComplementarA" [config]="config"></ckeditor>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-right py-2">
      <button class="btn btn-outline-blue text-nowrap" (click)="add()">
        <i class="ta-plus-circle pr-2"></i> <span>Adicionar Produto Complementar</span>
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col of-2 py-3">
      <div class="form-group">
        <label for="">2.4.3 Produtos Acadêmicos - Artigos, Teses e Dissertações</label>
        <ckeditor formControlName="produtosAcademicos" [config]="config"></ckeditor>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col of-2 py-3">
      <div class="form-group">
        <label for="">2.4.4 Outros Produtos</label>
        <ckeditor formControlName="outrosProdutos" [config]="config"></ckeditor>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col of-2 py-3">
      <div class="form-group">
        <label for="">2.4.5 Internalização de Conhecimento Científico</label>
        <ckeditor formControlName="internalizacaoConhecimentoCientifico" [config]="config"></ckeditor>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col of-1 py-4">
      <div class="form-group">
        <label for="">2.5 Fases da Cadeia de Inovação</label>
        <ckeditor formControlName="fasesCadeiaInovacao" [config]="config"></ckeditor>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col of-2 py-3">
      <div class="form-group">
        <label for="">2.5.1 DESENVOLVIMENTO EXPERIMENTAL (DE)</label>
        <ckeditor formControlName="desenvolvimentoExperimental" [config]="config"></ckeditor>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col of-2 py-3">
      <div class="form-group">
        <label for="">2.5.2 CABEÇA DE SÉRIE (CS)</label>
        <ckeditor formControlName="cabecaSerie" [config]="config"></ckeditor>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col of-2 py-3">
      <div class="form-group">
        <label for="">2.5.3 Inserção no Mercado (IM)</label>
        <ckeditor formControlName="insercaoMercado" [config]="config"></ckeditor>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col of-2 py-3">
      <div class="form-group">
        <label for="">2.6 Retorno Financeiro Esperado (Tempo e Valor):</label>
        <ckeditor formControlName="retornoFinanceiroEsperado" [config]="config"></ckeditor>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col of-2 py-3">
      <div class="form-group">
        <label for="">2.7 Projeto(s) e/ou Produtos similar(es):</label>
        <ckeditor formControlName="projetosProdutosSimilares" [config]="config"></ckeditor>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col of-2 py-3">
      <div class="form-group">
        <label for="">2.8 Busca de Anterioridade</label>
        <ckeditor formControlName="buscaAnterioridade" [config]="config"></ckeditor>
      </div>
    </div>
  </div>




  <div class="row">
    <div class="col pt-2">
      <h5 class="text-uppercase text-cinza font-weight-normal my-4">3. ANÁLISE E SELEÇÃO DAS PROPOSTAS</h5>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col pb-3">
      <div class="form-group">
        <ckeditor formControlName="analiseSelecaoPropostas" [config]="config"></ckeditor>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col pt-2">
      <h5 class="text-uppercase text-cinza font-weight-normal my-4">4. OBRIGAÇÕES DO PROPONENTE E/OU CONTRATADO</h5>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col pb-3">
      <div class="form-group">
        <ckeditor formControlName="obrigacaoProponenteContrato" [config]="config"></ckeditor>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col pt-2">
      <h5 class="text-uppercase text-cinza font-weight-normal my-4">5. INFORMAÇÕES GERAIS</h5>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col pb-3">
      <div class="form-group">
        <ckeditor formControlName="informacoesGerais" [config]="config"></ckeditor>
      </div>
    </div>
  </div>



  <div class="row">
    <div class="col text-left pt-5">
      <button class="btn btn-primary">
        <i class="ta-save pr-2"></i>
        <span>Salvar Padrão Formulário</span>
      </button>

      <button type="button" class="btn btn-link ml-3" (click)="cancelar()">
        <span>Cancelar Alterações</span>
      </button>
    </div>
  </div>

</form>

<!-- <app-loading type="fullparent" background="transparent"></app-loading> -->