<div class="row">
    <div class="col">
        <h5 class="text-uppercase text-blue font-weight-normal my-3">REGISTROS PENDENTES - REFP</h5>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Nome / Benefíciário</th>
                        <th>Categoria Contábil</th>
                        <th>Empresa Pagadora</th>
                        <th>Valor</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>GJ de Faria & Cia Ltda ME</td>
                        <td>Recursos Humanos</td>
                        <td>Novatrans - 2609</td>
                        <td>R$12.4559,00</td>
                        <td>
                            <button class="btn btn-primary btn-sm" type="button"><i class="ta-edit"></i> Ver Detalhes</button>
                        </td>
                    </tr>
                    <tr>
                        <td>GJ de Faria & Cia Ltda ME</td>
                        <td>Recursos Humanos</td>
                        <td>Novatrans - 2609</td>
                        <td>R$12.4559,00</td>
                        <td>
                            <button class="btn btn-primary btn-sm" type="button"><i class="ta-edit"></i> Ver Detalhes</button>
                        </td>
                    </tr>
                    <tr>
                        <td>GJ de Faria & Cia Ltda ME</td>
                        <td>Recursos Humanos</td>
                        <td>Novatrans - 2609</td>
                        <td>R$12.4559,00</td>
                        <td>
                            <button class="btn btn-primary btn-sm" type="button"><i class="ta-edit"></i> Ver Detalhes</button>
                        </td>
                    </tr>
                    <tr>
                        <td>GJ de Faria & Cia Ltda ME</td>
                        <td>Recursos Humanos</td>
                        <td>Novatrans - 2609</td>
                        <td>R$12.4559,00</td>
                        <td>
                            <button class="btn btn-primary btn-sm" type="button"><i class="ta-edit"></i> Ver Detalhes</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
