@import "../../../styles/components-base";

.gestao-demandas {
  display: grid;
  grid-row-gap: 12px;
  grid-auto-rows: 1fr;
  .gestao-etapas {
    display: flex;
    font-size: 14px;
    overflow: hidden;
    .gestao-etapa {
      position: relative;
      padding-left: 36px;
      flex: 1 0;
      background: #fff;
      .badge{
        font-size: 93% !important;
      }
      &:first-child {
        padding-left: 10px;
        background: $cinzaClaro !important;
        flex: 1 1 100px;
      }
      &:last-child:before {
        display: none;
      }
      .gestao-etapa-info {
        z-index: 2;
        position: relative;
        padding: 6px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      &:before {
        content: "";
        display: block;
        background: inherit;
        width: 100px;
        height: 100px;
        position: absolute;
        right: 0;
        border: 3px solid #fff;
        border-width: 0 8px 8px 0;
        transform: translate(48px, -50%) scale(0.4, 1) rotate(-45deg);
        z-index: 1;
        top: 50%;
      }
    }
  }
}
