<div>
  <div class="row py-4" *ngIf="filters && filters.length > 0">
    <div class="form-group col" *ngFor="let filter of filters">
      <select
        class="form-control"
        [(ngModel)]="filter.value"
        (change)="setCurrentData()"
      >
        <option
          *ngFor="let f of filter.options | orderBy: 'text'"
          [value]="f.value"
        >{{ f.text }}</option
        >
      </select>
    </div>
  </div>

  <table class="table">
    <thead *ngIf="showHeader">
    <tr>
      <td *ngIf="showSelect">
        <i
          [ngClass]="{
              'ta-radio-checked': allSelected,
              'ta-radio-unchecked': !allSelected
            }"
          class="toogle-select"
          (click)="toggleGroupSelect()"
        ></i>
      </td>
      <ng-container *ngIf="cols">
        <th *ngFor="let col of cols">
          <div class="d-flex align-items-center">
            <span class="mr-2">{{ col.title }}</span>
            <app-handler-order
              *ngIf="col.order"
              [current]="listOrder"
              [field]="col.field"
              (order)="reorderItems($event)"
            >
            </app-handler-order>
          </div>
        </th>
      </ng-container>
      <th *ngIf="_buttons.length > 0">
        <div class="d-flex align-items-center">
          <span class="mx-2">Ações</span>
        </div>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr
      *ngFor="let item of currentData; index as i; trackBy: trackFunc"
      [ngClass]="{ selected: item.selected }"
      (click)="itemClick($event, item)"
    >
      <td *ngIf="showSelect" width="22">
        <i
          [ngClass]="{
              'ta-radio-checked': item.selected,
              'ta-radio-unchecked': !item.selected
            }"
          class="toogle-select"
          (click)="item.toggleSelect()"
        ></i>
      </td>
      <ng-container *ngIf="cols">
        <ng-container *ngFor="let col of cols; trackBy: trackCol">
          <td
            [innerHTML]="item.rendered[col.field]"
            [className]="getFieldClass(col)"
          ></td>
        </ng-container>
      </ng-container>
      <td *ngIf="_buttons.length > 0" width="1%">
        <ng-container *ngFor="let actionItem of _buttons">
          <button
            type="button"
            class="btn btn-sm text-nowrap"
            [ngClass]="actionItem.className"
            (click)="doAction(actionItem.action, item.data)"
          >
            <i [class]="actionItem.icon" *ngIf="actionItem.icon"></i>
            {{ actionItem.text }}
          </button>
        </ng-container>
      </td>
    </tr>
    <tr *ngIf="currentData.length === 0">
      <td [colSpan]="colLength" class="text-center">{{ emptyText }}</td>
    </tr>
    </tbody>
    <tfoot *ngIf="showSelect">
    <tr>
      <td [colSpan]="colLength">
        <div class="d-flex justify-content-start align-items-center">
          <select
            class="form-control flex-shrink-1 w-auto mr-3"
            [(ngModel)]="actionGroup"
            [disabled]="selection.length === 0"
          >
            <option value="">Ações em massa</option>
            <option
              *ngFor="let actionItem of _groups_buttons"
              [value]="actionItem.action"
            >
              {{ actionItem.text }}
            </option>
          </select>
          <button
            class="btn btn-primary"
            [disabled]="selection.length === 0 || actionGroup === ''"
            type="button"
            (click)="doActionGroup(actionGroup, selection)"
          >
            Aplicar
          </button>
        </div>
      </td>
    </tr>
    </tfoot>
  </table>
</div>
