th,
td {
  vertical-align: middle;
}
tbody {
  .toogle-select {
    cursor: pointer;
  }

  tr {
    td {
      vertical-align: middle;
    }
    &.selected {
      background: rgba(128, 128, 128, 0.2);
    }
  }
}
