<div class="wrap fs-12" [ngClass]="className">
  <header class="text-cinza text-uppercase fs-12 font-weight-bold">
    Etapa:
  </header>
  <main>
    <div class="text-blue fs-12 font-weight-medium">
      {{ etapa && etapa.titulo }}
    </div>
    <div class="font-weight-medium fs-12">
      {{ (responsavel && (responsavel.nomeCompleto || responsavel.userName)) || "Pendente" }}
    </div>
  </main>
  <footer>
    <div class="rounded status-etapa p-1 text-white text-center">
      {{ etapaStatusText }}
    </div>
  </footer>
</div>
