:host {
  flex: 1;

  .wrap {
    display: flex;
    height: 100%;
    justify-content: space-between;
    flex-direction: column;
    box-sizing: border-box;
    padding: 8px 32px;
    margin: 0 -8px;
    background: #eee;
    clip-path: polygon(
        0px 0px,
        calc(100% - 22px) 0,
        100% 50%,
        calc(100% - 22px) 100%,
        0% 100%,
        22px 50%
    );

    .status-etapa {
      background: #666;
    }

    &.etapa {
      &-sucesso {
        background: #b4daa3;

        .status-etapa {
          background: #4e972c;
        }
      }

      &-elaboracao {
        background: #7d98d1;
        filter: drop-shadow(0 0 3px rgba(255, 0, 0, 0.4));
        .status-etapa {
          background: #133785;
        }
      }

      &-reprovada {
        background: #e69c9c;

        .status-etapa {
          background: #e24e4e;
        }
      }

      &-cancelada {
        opacity: 0.5;

        &:hover {
          filter: none;
        }
      }
    }

    header {
    }

    main {
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: space-between;
    }

    footer {
      margin-top: 12px;
    }
  }

  &:last-child {
    .wrap {
      clip-path: polygon(0px 0px, 100% 0, 100% 100%, 0% 100%, 22px 50%);
      margin-right: 0;
      padding-right: 12px;
    }
  }

  &:hover {


    .wrap {
    }
  }
}
