<div class="modal-header">
    <h5 class="modal-title">REGISTRAR RESULTADO SOCIOAMBIENTAL</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body" *ngIf="form" [formGroup]="form" appLogger="Resultado Socioambientais">

    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label for="">TIPO DE INDICADOR SOCIOAMBIENTAL</label>
                <select name="" id="" class="form-control" formControlName="tipo"
                        appLogItem="Tipo de indicador socioambiental">
                    <option value="">Selecione</option>
                    <option *ngFor="let tipo of indicadoresSocioambientais" [value]="tipo.value">{{tipo.text}}</option>
                </select>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label for="">RESULTADO POSITIVO?</label>
                <select class="form-control" formControlName="positivo" appLogItem="Resultado Positivo?">
                    <option value="">Selecione</option>
                    <option value="true">Sim</option>
                    <option value="false">Não</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="">DESCRIÇÃO DE IMPACTO/MITIGAÇÃO DO RESULTADO DO PROJETO DE P&D</label>
                <app-textarea class="form-control" formControlName="desc" rows="4" maxlength="500"
                              appLogItem="Descrição de impacto/mitigação do resultado do projeto de P&D"></app-textarea>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <button *ngIf="editable" class="btn btn-link" (click)="remove()">
                <i class="ta-trash"></i> Excluir
            </button>
        </div>
        <div class="col">
            <div class="text-right">
                <button class="btn btn-link" (click)="close()"><i class="ta-cancel-circle"></i> Cancelar</button>
                <button *appUserEscrita class="btn btn-primary" (click)="submit()" [disabled]="form.invalid"><i
                        class="ta-plus-circle"></i> Salvar
                </button>
            </div>
        </div>
    </div>


</div>
