<div class="modal-header">
    <div class="text-uppercase modal-title text-blue-light fs-20">
        {{ indicador ? 'Editar' : 'Registrar' }} Resultado Indicadores Econômicos
    </div>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.close('close')">
        <i class="ta-cancel-circle"></i>
    </button>
</div>

<div class="modal-body">
    <form [formGroup]="form" (ngSubmit)="submit()">

        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label>TIPO DE INDICADOR ECONÔMICO OBTIDO COMO RESULTADO DO PROJETO</label>
                    <select class="form-control" formControlName="tipo">
                        <option value="" hidden>Selecione</option>
                        <option value="PR1">Redução de Homem/Hora - Produtividade</option>
                        <option value="PR2">Redução de Insumos - Produtividade</option>
                        <option value="PR3">Redução de Tempo - Produtividade</option>
                        <option value="PRX">Outro - Produtividade</option>
                        <option value="QF1">Redução de DEC, FEC e TMA - Qualidade do Fornecimento</option>
                        <option value="QF2">Redução de VTCDs e Outros Distúrbios - Qualidade do Fornecimento</option>
                        <option value="QF3">Redução do Índice de Reclamações - Qualidade do Fornecimento</option>
                        <option value="QFX">Outro - Qualidade do Fornecimento</option>
                        <option value="GA1">Postergação de Investimento - Gestão de Ativos</option>
                        <option value="GA2">Investimento Evitado - Gestão de Ativos</option>
                        <option value="GA3">Redução de Roubos e Furtos - Gestão de Ativos</option>
                        <option value="GAX">Outro - Gestão de Ativos</option>
                        <option value="NT1">Redução de Inadimplência - Perdas Não Técnicas</option>
                        <option value="NT2">Redução de Fraudes e Desvios - Perdas Não Técnicas</option>
                        <option value="NT3">Redução de Erros de Medição - Perdas Não Técnicas</option>
                        <option value="NT4">Redução de Perdas Indenizatórias - Perdas Não Técnicas</option>
                        <option value="NTX">Outro - Perdas Não Técnicas</option>
                        <option value="ME1">Redução no Custo da Energia - Mercado da Empresa</option>
                        <option value="ME2">Redução nos Erros de Previsão - Mercado da Empresa</option>
                        <option value="MEX">Outro - Mercado da Empresa</option>
                        <option value="EE1">Aumento da Demanda Disponível (Oferta) - Eficiência Energética</option>
                        <option value="EE2">Aumento da Energia Disponível (Oferta) - Eficiência Energética</option>
                        <option value="EE3">Redução de Demanda (Uso Final) - Eficiência Energética</option>
                        <option value="EE4">Energia Economizada (Uso Final) - Eficiência Energética</option>
                        <option value="EEX">Outro - Eficiência Energética</option>
                        <option value="OU">Outro - Outro</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label>DESCRIÇÃO DO BENEFÍCIO ECONÔMICO PARA O INDICADOR ECONÔMICO SELECIONADO</label>
                    <app-textarea class="form-control" rows="4" maxlength="400" formControlName="beneficio"></app-textarea>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label>UNIDADE DA BASE DO INDICADOR</label>
                    <input type="text" class="form-control" maxlength="10" formControlName="unidadeBase"/>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label>VALOR NUMÉRICO DO INDICADOR</label>
                    <input type="number" class="form-control" formControlName="valorNumerico"/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label>PORCENTAGEM DO IMPACTO</label>
                    <input type="number" step="0.1" max="100" class="form-control" formControlName="porcentagemImpacto"/>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label>VALOR DO BENEFÍCIO ECONÔMICO</label>
                    <input type="text" class="form-control" formControlName="valorBeneficio" currencyMask/>
                </div>
            </div>
        </div>

        <div class="form-group d-flex justify-content-end mt-4">
            <div class="button btn btn-link" (click)="activeModal.close('cancel')">
                Cancelar
            </div>
            <button type="button" class="btn btn-link" [disabled]="form.invalid"
                *ngIf="form.value.id"
                (click)="delete()">
                <i class="ta-times-circle mr-1"></i>
                Excluir
            </button>
            <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
                <i class="ta-save mr-1"></i>
                Salvar Resultado Indicadores Econômicos
            </button>
        </div>
    </form>
</div>