<div class="modal-header">
  <div class="text-uppercase modal-title text-blue-light fs-24">
    TEM CERTEZA QUE NÃO CONCORDA COM ESTA CLÁUSULA?
  </div>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.close(false)">
    <i class="ta-cancel-circle"></i>
  </button>
</div>

<app-loading type="fullscreen"></app-loading>

<div class="modal-body">
  <form [formGroup]="form">
    <div>
      <p>
        Esta ação é irreversível. Ao não concordar com uma das cláusulas sua participação no projeto será cancelada
      </p>
      <div class="form-check mt-3 mb-6">
        <input type="checkbox" formControlName="confirm" id="confirm" [value]="true" class="form-check-input">
        <label for="confirm" class="form-check-label">
          Confirmo que não concordo com esta cláusula
        </label>
      </div>

      <div class="text-right">
        <div class="button btn btn-link" (click)="activeModal.close(false)">
          Cancelar
        </div>
        <button

          type="button"
          class="btn btn-danger"
          [disabled]="form.invalid"
          (click)="activeModal.close(true)"
        >
          <i class="ta-cancel-circle mr-1"></i>
          Confirmamos que não concordamos com esta cláusula
        </button>

      </div>
    </div>
  </form>
</div>
