<div class="row">
    <div class="col">
        <h4 class="text-uppercase text-blue font-weight-normal my-3">ALTERAÇÕES PROJETO</h4>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <ul class="nav nav-bar-row nav-justified pt-3">
            <li class="nav-item" *ngIf="projeto && projeto.isPD">
                <a class="nav-link" [routerLink]="['./prorrogar']" routerLinkActive="active" >Prorrogar Projeto</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['./recursos-humanos']" routerLinkActive="active">Alterar Recursos Humanos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['./recursos-materiais']" routerLinkActive="active">Alterar Recursos Materiais</a>
            </li>
        </ul>
    </div>
</div>
<div class="row mt-4">
    <div class="col-12">
        <router-outlet></router-outlet>
    </div>
</div>
