<div class="row">
  <div class="col-12">
    <div class="area-pdf">

      <iframe *ngIf="loadedFileUrl; else carregandoPdf" [src]="loadedFileUrl" frameborder="0" width="100%"
              height="100%"></iframe>
      <ng-template #carregandoPdf>
        <div class="p-6 text-center">
          <app-loading type="inline" [isLoading]="true"></app-loading>
        </div>
      </ng-template>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 d-flex justify-content-end">
    <a [href]="url.concat('?dl=1')" download class="btn btn-link" target="_blank">
      <i class="ta-download"></i> Download PDF
    </a>
  </div>
</div>
