<div class="modal-header">
  <div class="text-uppercase modal-title text-blue-light fs-24">
    <span *ngIf="canEdit">{{form.value.id === 0 ? "EDITAR ALOCAÇÃO DE" : "ALOCAR"}}</span>
    <span *ngIf="!canEdit">ALOCAÇÃO</span>
    RECURSO HUMANO
  </div>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <i class="ta-cancel-circle"></i>
  </button>
</div>

<app-loading type="fullscreen"></app-loading>

<div class="modal-body">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="recurso-humano">Recurso humano
        <app-help codigo="alocacao-recurso-humano"></app-help>
      </label>
      <select class="form-control" id="recurso-humano" formControlName="recursoId">
        <option value="" hidden>Selecione a pessoa que irá executar a tarefa</option>
        <option [value]="recurso.id" *ngFor="let recurso of recursos">
          {{ recurso.nomeCompleto }}
        </option>
      </select>
    </div>

    <div class="form-row">
      <div class="form-group col">
        <label for="empresa-financiadora">Empresa Financiadora
          <app-help codigo="alocacao-recurso-humano-financiadora"></app-help>
        </label>
        <select class="form-control" id="empresa-financiadora" formControlName="empresaFinanciadora">
          <option value="" hidden>Selecione uma empresa financiadora</option>
          <option [value]="empresa.value" *ngFor="let empresa of empresas">
            {{ empresa.text }}
          </option>
        </select>
      </div>
      <div class="form-group col">
        <label for="etapa">Etapa relacionada
          <app-help codigo="alocacao-recurso-humano-etapa"></app-help>
        </label>
        <select class="form-control" id="etapa" formControlName="etapaId">
          <option value="" hidden>Selecione uma etapa</option>
          <option [value]="etapa.id" *ngFor="let etapa of etapas">
            Etapa {{ etapa.ordem | pad:'0':2 }}
          </option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="form-group mb-0">
          <label>Horas alocadas por mês</label>
        </div>
        <div class="p-3 bg-cinza-claro rounded mb-4">
          <div class="wrap-controls" [formGroup]="formMeses">
            <ng-container *ngFor="let m of meses">
              <div class="wrap-input-control rounded">
                <div class="form-group">
                  <div class="font-weight-bold fs-14 text-blue-light text-uppercase">Mês {{m| pad:'0':2}}</div>
                  <input type="number" class="form-control" [formControlName]="m" min="0" [max]="max"
                         [placeholder]="'Max '.concat(max.toString(),'h')">
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>Justificativa do recurso</label>
      <app-textarea class="form-control" formControlName="justificativa" rows="4" maxlength="1000"></app-textarea>
    </div>

    <div class="form-group d-flex justify-content-between" *ngIf="canEdit">
      <div>
        <button type="button" class="button btn btn-danger" (click)="remover()" *ngIf="form.value.id !== 0">
          <i class="ta-trash mr-1"></i>
          Excluir Alocação
        </button>
      </div>
      <div class="text-right">
        <div class="button btn btn-link" (click)="activeModal.dismiss('cancel')">
          Cancelar
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
          <i class="ta-save mr-1"></i>
          Salvar Alocação
        </button>

      </div>
    </div>

  </form>
</div>
