<div *ngIf="demanda">

  <div class="row justify-content-between">
    <div class="col">
      <h5 class="text-uppercase text-blue font-weight-normal my-4">DOCUMENTO E APROVAÇÕES</h5>
    </div>
  </div>
  <div class="row">
    <div class="col d-flex justify-content-end">
      <button class="btn btn-link" (click)="exibirHistorico()">
        <i class="ta-ampulheta"></i>
        Histórico de Versões
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-pdf-viewer [url]="pdfUrl"></app-pdf-viewer>
    </div>
  </div>
  <div class="row my-3" *ngIf="anexos.length > 0">
    <div class="col-12">
      <h6 class="text-uppercase text-blue-light">Arquivos Complementares</h6>
      <div class="pr-3 mb-3">
        <span *ngFor="let anexo of anexos;" style="cursor: pointer" class="text-blue d-block my-1"
              (click)="download(anexo)">
          <i class="ta-projeto"></i> -
          <span>{{anexo.fileName}}</span>
        </span>
      </div>
    </div>
  </div>

  <app-demanda-comentarios [demanda]="demanda"></app-demanda-comentarios>

  <ng-container *ngIf="demanda.etapaAtual === ETAPAS_VALUES.Elaboracao; else aprovacao">
    <div class="row" [formGroup]="form">
      <div class="col-12">
        <div class="row" *ngIf="demanda.status === ETAPAS_STATUS.Reprovada && form.get('comentario')">
          <div class="col-12">
            <h6 class="text-uppercase text-blue-light">Responder Comentários</h6>
            <div class="form-group">
              <textarea cols="30" rows="5" class="form-control"
                        formControlName="comentario"></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 d-flex justify-content-end">
            <button class="btn btn-primary" [disabled]="form.invalid" (click)="proximaEtapa()">
              <i class="ta-save"></i>
              Enviar para Próxima Etapa
            </button>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #aprovacao>
    <div class="row">
      <div class="col-12">
        Essa Demanda está na etapa <strong>{{etapa_atual}}</strong>
      </div>
    </div>
  </ng-template>
</div>
