@import 'components-base';

.order-handler {
    span {
        line-height: 1;
        cursor: pointer;

        &:hover {
            color: $blue;
        }
    }

    &.active {
        &.asc .order-asc,
        &.desc .order-desc {
            color: $blue;

        }
    }
}
