<div class="row">
    <div class="col">
        <h5 class="text-uppercase text-blue font-weight-normal my-3">RELATÓRIO ETAPAS PROJETO</h5>
    </div>
</div>

<div class="row mt-5">
    <div class="col-12">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Etapas</th>
                        <th>Data Inicial</th>
                        <th>Data Final</th>
                        <th>Atividade Cadastradas?</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Etapa 01</td>
                        <td>05/2019</td>
                        <td>11/2019</td>
                        <td>Sim</td>
                        <td>
                            <button class="btn btn-primary btn-sm" type="button"><i class="ta-edit"></i> Editar</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Etapa 01</td>
                        <td>05/2019</td>
                        <td>11/2019</td>
                        <td>Sim</td>
                        <td>
                            <button class="btn btn-primary btn-sm" type="button"><i class="ta-edit"></i> Editar</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Etapa 01</td>
                        <td>05/2019</td>
                        <td>11/2019</td>
                        <td>Sim</td>
                        <td>
                            <button class="btn btn-primary btn-sm" type="button"><i class="ta-edit"></i> Editar</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Etapa 01</td>
                        <td>05/2019</td>
                        <td>11/2019</td>
                        <td>Sim</td>
                        <td>
                            <button class="btn btn-primary btn-sm" type="button"><i class="ta-edit"></i> Editar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
