<app-loading type="fullscreen"></app-loading>
<div class="row">
    <div class="col">
        <h5 class="text-uppercase text-blue font-weight-normal my-3">RELATÓRIO ETAPAS PROJETO</h5>
    </div>
</div>

<div class="row mt-5">
    <div class="col-12">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Etapas</th>
                        <th>Data Inicial</th>
                        <th>Data Final</th>
                        <th>Atividade Cadastradas?</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let etapa of etapas; let i = index">
                        <td>Etapa {{i+1}}</td>
                        <td>{{etapa.dataInicio | date:'MM/yyyy'}}</td>
                        <td>{{etapa.dataFim | date:'MM/yyyy'}}</td>
                        <td>{{etapa.atividadesRealizadas?'Sim':'Não'}}</td>
                        <td>
                            <button class="btn btn-primary btn-sm" type="button" (click)="editar(etapa)">
                                <i class="ta-edit"></i>
                                Editar
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
