<div class="row">
    <div class="col">
        <h5 class="text-uppercase text-blue font-weight-normal my-3">RESULTADOS PRODUÇÃO TÉCNICO CIENTÍFICA</h5>
    </div>
</div>

<div class="row mt-5">
    <div class="col-12 text-right">
        <button class="btn btn-outline-primary"><i class="ta-plus-circle"></i> Registrar Produção Técnico Científica</button>
    </div>
</div>

<div class="row mt-5">
    <div class="col-12">
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>Tipo</th>
                    <th>Periódico</th>
                    <th>Atividade Cadastradas?</th>
                    <th>Ações</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Periódico Nacional</td>
                    <td>Ciência Hoje</td>
                    <td>Sim</td>
                    <td>
                        <button class="btn btn-primary btn-sm" type="button"><i class="ta-edit"></i> Editar</button>
                    </td>
                </tr>
                <tr>
                    <td>Periódico Nacional</td>
                    <td>Ciência Hoje</td>
                    <td>Sim</td>
                    <td>
                        <button class="btn btn-primary btn-sm" type="button"><i class="ta-edit"></i> Editar</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>