<app-loading type="fullscreen"></app-loading>
<div *ngIf="form" [formGroup]="form">
    <div class="row">
        <div class="col">
            <h5 class="text-uppercase text-blue font-weight-normal my-3">RELATÓRIO FINAL E AUDITORIA</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label>PRODUTO PRINCIPAL PREVISTO FOI ALCANÇADO OU SUPERADO?</label>
                <select class="form-control" formControlName="produtoAlcancado" #produtoAlcancado>
                    <option value="">Selecione</option>
                    <option value="true">Sim</option>
                    <option value="false">Não</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="dynamicForm['justificativaProduto']">
        <div class="col-12">
            <div class="form-group">
                <label for="">JUSTIFICATIVA PELO NÃO ALCANCE DO PRODUTO PRINCIPAL PREVISTO</label>
                <app-textarea class="form-control" rows="4" formControlName="justificativaProduto" maxlength="1000"></app-textarea>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="dynamicForm['especificacaoProduto']">
        <div class="col-12">
            <div class="form-group">
                <label for="">ESPECIFICAÇÃO TÉCNICA DO PRODUTO PRINCIPAL OBTIDO</label>
                <app-textarea class="form-control" rows="4" formControlName="especificacaoProduto" maxlength="1000"></app-textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <div>
                    <label for="">TÉCNICA PREVISTA FOI IMPLEMENTADA?</label>
                    <select class="form-control" formControlName="tecnicaPrevista">
                        <option value="">Selecione</option>
                        <option value="true">Sim</option>
                        <option value="false">Não</option>
                    </select>
                </div>

            </div>

        </div>
    </div>
    <div class="row" *ngIf="dynamicForm['justificativaTecnica']">
        <div class="col-12">
            <div class="form-group">
                <label for="">JUSTIFICATIVA PELA NÃO IMPLEMENTAÇÃO DA TÉCNICA PREVISTA</label>
                <app-textarea class="form-control" rows="4" formControlName="justificativaTecnica" maxlength="1000"></app-textarea>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="dynamicForm['descTecnica']">
        <div class="col-12">
            <div class="form-group">
                <label for="">DESCRIÇÃO, SUCINTA, DA TÉCNICA EMPREGADA</label>
                <app-textarea class="form-control" rows="4" formControlName="descTecnica" maxlength="1000"></app-textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <div>
                    <label for="">APLICABILIDADE PREVISTA FOI ALCANÇADA OU SUPERADA?</label>
                    <select class="form-control" formControlName="aplicabilidadePrevista">
                        <option value="">Selecione</option>
                        <option value="true">Sim</option>
                        <option value="false">Não</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="dynamicForm['justificativaAplicabilidade']">
        <div class="col-12">
            <div class="form-group">
                <label for="">JUSTIFICATIVA PELO NÃO ALCANCE DA APLICABILIDADE PREVISTA</label>
                <app-textarea class="form-control" rows="4" formControlName="justificativaAplicabilidade" maxlength="1000"></app-textarea>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="dynamicForm['descTestes']">
        <div class="col-12">
            <div class="form-group">
                <label for="">DESCRIÇÃO, SUCINTA, DOS RESULTADOS DOS TESTES DE FUNCIONALIDADE DO PRODUTO PRINCIPAL E SUAS RESTRIÇÕES</label>
                <app-textarea class="form-control" rows="4" formControlName="descTestes" maxlength="1000"></app-textarea>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="dynamicForm['descAbrangencia']">
        <div class="col-12">
            <div class="form-group">
                <label for="">DESCRIÇÃO DA ABRANGÊNCIA DE APLICAÇÃO DO PRODUTO PRINCIPAL E SUAS RESTRIÇÕES</label>
                <app-textarea class="form-control" rows="4" formControlName="descAbrangencia" maxlength="1000"></app-textarea>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="dynamicForm['descAmbito']">
        <div class="col-12">
            <div class="form-group">
                <label for="">DESCRIÇÃO DO ÂMBITO DE APLICAÇÃO DO PRODUTO PRINCIPAL E SUAS RESTRIÇÕES</label>
                <app-textarea class="form-control" rows="4" formControlName="descAmbito" maxlength="1000"></app-textarea>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="">DESCRIÇÃO, SUCINTA, DAS ATIVIDADES RELACIONADAS À TRANSFERÊNCIA/DIFUSÃO TECNOLÓGICA</label>
                <app-textarea class="form-control" rows="4" formControlName="descAtividades" maxlength="500"></app-textarea>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="form-group mb-0">
                <label for="">ARQUIVO PDF RELATÓRIO FINAL</label>
                <div *ngIf="relatorio">
                    <span class="btn btn-link" *ngFor="let file of arquivosRelatorioFinal" [downloadFile]="file">{{file.nomeArquivo}} <i class="ta-cancel-circle" title="Excluir o arquivo" 
                        (click)="deletarArquivo(file)"></i></span>
                </div>
            </div>
            <label class="btn btn-link">
                <i class="ta-upload mx-2 fs-22"></i>
                <span>Selecionar arquivo </span>
                <strong *ngFor="let file of file.files"> ({{file.name}})</strong>
                <input type="file" accept=".pdf" class="form-control d-none" #file (change)="changeFile($event)">
            </label>

        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="form-group mb-0">
                <label for="">ARQUIVO EM FORMATO PDF DO RELATÓRIO DE AUDITORIA CONTÁBIL E FINANCEIRA DO PROJETO DE P&D</label>
                <div *ngIf="relatorio">
                    <span class="btn btn-link" *ngFor="let file of arquivosRelatorioAuditoria" [downloadFile]="file">
                        {{file.nomeArquivo}} 
                        <i class="ta-cancel-circle" title="Excluir o arquivo" (click)="deletarArquivo(file)"></i>
                    </span>
                </div>
            </div>
            <label class="btn btn-link">
                <i class="ta-upload mx-2 fs-22"></i>
                <span>Selecionar arquivo </span>
                <strong *ngFor="let file of fileAuditoria.files"> ({{file.name}})</strong>
                <input type="file" accept=".pdf" class="form-control d-none" #fileAuditoria (change)="changeFile($event)">
            </label>

        </div>
    </div>

    <hr>

    <div class="row mt-5">
        <div class="col-6">
        </div>
        <div class="col-6">
            <div class="text-right">
                <button class="btn btn-primary" (click)="submit()" [disabled]="form.invalid"><i class="ta-save"></i> Salvar Dados</button>
            </div>
        </div>
    </div>
</div>
