<app-loading #loading type="fullscreen"></app-loading>
<div *ngIf="form">
    <div class="row">
        <div class="col-12">
            <div class="alert alert-danger"><i class="ta-warning"></i> Será criada uma nova Etapa no projeto chamada "Prorrogação" contendo a duração que será acrescentada ao projeto.</div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="form-group m-0">
                <label for="">NOVA DATA FINAL DO PROJETO</label>
            </div>
            <div class="form-group form-inline">
                <select name="" [(ngModel)]="mes" class="form-control mr-3">
                    <option value="0">JAN</option>
                    <option value="1">FEV</option>
                    <option value="2">MAR</option>
                    <option value="3">ABR</option>
                    <option value="4">MAI</option>
                    <option value="5">JUN</option>
                    <option value="6">JUL</option>
                    <option value="7">AGO</option>
                    <option value="8">SET</option>
                    <option value="9">OUT</option>
                    <option value="10">NOV</option>
                    <option value="11">DEZ</option>
                </select>
                <input type="number" [(ngModel)]="ano" class="form-control">
            </div>
        </div>
    </div>



    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="">PRODUTOS INTERMEDIÁRIOS ASSOCIADOS A ESTA ETAPA</label>
                <div class="row mb-3" *ngFor="let item of produtosGroup.controls; let i = index;">
                    <div class="col-11" [formGroup]="item">
                        <select name="" id="" class="form-control" formControlName="produtoId">
                            <option value="">Selecione</option>
                            <option *ngFor="let p of filtrarProdutos(item)" [value]="p.id">{{p.titulo}}</option>
                        </select>
                    </div>
                    <div class="col-1 d-flex align-items-center">
                        <button class="btn p-0 hover-text-blue" type="button" (click)="removerProduto(i)">
                            <i class="ta-remove-circle fs-24"></i>
                        </button>
                    </div>
                </div>

                <div class="row my-3" *ngIf="produtosGroup.length < produtos.length">
                    <div class="col">
                        <button class="btn p-0 hover-text-blue" (click)="adicionarProduto()">
                            <i class="ta-plus-circle fs-24 align-middle"></i>
                            Adicionar Produto
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="form-group" [formGroup]="etapaGroup">
                <label for="">DESCRIÇÃO DAS ATIVIDADES</label>
                <textarea name="" id="" cols="30" rows="4" class="form-control" formControlName="desc"></textarea>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-12 text-right">
            <button class="btn btn-primary" [disabled]="form.invalid" (click)="submit()">
                <i class="ta-sync"></i>
                Prorrogar Projeto
            </button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h5>GERAR XML DE PRORROGAÇÃO PROJETO</h5>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="bg-cinza-claro my-3 p-3 rounded">

            <div class="form-group" [formGroup]="formXml">
                <label for="">VERSÃO</label>
                <div class="row">
                    <div class="col-2">
                        <input type="text" class="form-control" formControlName="xmlProjetoProrrogacao" mask="0*">
                    </div>
                    <div class="col-10">
                        <app-loading #xmlLoading type="inline"></app-loading>
                        <button class="btn btn-primary" [disabled]="formXml.invalid" (click)="gerarXmlProrrogacao()">
                            <i class="ta-download"></i> Gerar XML
                        </button>
                    </div>
                </div>
            </div>
            <div hidden>
                <p class="text-success"><i class="ta-ok"></i> Todos os campos necessários para a geração deste XML estão preenchidos.</p>
            </div>
        </div>
    </div>
</div>
