<div class="row">
  <div class="col-12">
    <h6 class="text-uppercase text-blue-light">Definir Revisor</h6>
    <div class="d-flex align-items-center">
      <div class="form-group mb-0 mr-3" [formGroup]="form">
        <select class="form-control" formControlName="revisorId">
          <option value="">Selecione um responsável</option>
          <option *ngFor="let user of users" [value]="user.id">{{user.nomeCompleto || user.userName}}</option>
        </select>
      </div>
      <button class="btn btn-success" [disabled]="form.invalid" (click)="userSelected.emit(form.value)">
        <i class="ta-ok"></i>
        Definir Revisor
      </button>
    </div>
  </div>
</div>
