<div class="modal-header">
    <h5 class="modal-title">REGISTRAR APOIO A INFRA-ESTRUTURA</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body" *ngIf="form" [formGroup]="form" appLogger="Resultado Apoio a Infra-estrutura">
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label>TIPO DE INFRAESTRUTURA RECEPTORA DA CAPACITAÇÃO TECNOLÓGICA</label>
                <select class="form-control" formControlName="tipo"
                        appLogItem="Tipo de infraestrutura receptora da capacitação tecnológica">
                    <option value="">Selecione</option>
                    <option *ngFor="let tipo of tiposInfras" [value]="tipo.value">{{tipo.text}}</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label>CNPJ INSTITUIÇÃO RECEPTORA</label>
                <input type="text" class="form-control" formControlName="cnpjReceptora" mask="00.000.000/0000-00"
                       appLogItem="CNPJ Instituição receptora"
                       placeholder="00.000.000/0000-00">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label>NOME DO LABORATÓRIO RECEPTOR DO APOIO À INFRAESTRUTURA</label>
                <app-textarea class="form-control" formControlName="nomeLaboratorio" maxlength="100"
                              appLogItem="Nome do laboratório receptor do apaio à infraestrutura"
                              rows="1"></app-textarea>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label>ÁREA DE PESQUISA DO LABORATÓRIO RECEPTOR DO APOIO À INFRAESTRUTURA</label>
                <app-textarea class="form-control" formControlName="areaPesquisa" maxlength="50"
                              rows="1"></app-textarea>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label>LISTA DE MATERIAIS PERMANENTES E EQUIPAMENTOS, SEPARADOS POR VÍRGULA, DESTINADOS AO APOIO
                    À INFRAESTRUTURA DO LABORATÓRIO</label>
                <app-textarea class="form-control" formControlName="listaMateriais" maxlength="300"
                              appLogItem="Lista de materiais e equipamentos"
                              rows="1"></app-textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div *appUserAdmin>
                <button *ngIf="editable" class="btn btn-link" (click)="remove()">
                    <i class="ta-trash"></i> Excluir
                </button>
            </div>
        </div>
        <div class="col">
            <div class="text-right">
                <button class="btn btn-link" (click)="close()"><i class="ta-cancel-circle"></i> Cancelar</button>
                <button *appUserEscrita class="btn btn-primary" (click)="submit()" [disabled]="form.invalid"><i
                        class="ta-plus-circle"></i> Salvar Apoio a infra-estrutura
                </button>
            </div>
        </div>
    </div>
</div>
<app-loading type="fullscreen"></app-loading>
