<div class="row justify-content-between">
  <div class="col">
    <h5 class="text-uppercase text-blue font-weight-normal my-4">DETALHES DA DEMANDA</h5>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="alert border border-success d-flex align-items-center" *ngIf="detalhesDemanda.status">
      <div class="mr-3">
          <i class="ta-ok fs-48 text-success"></i>
      </div>
      <div class="text-success">
        Você confirmou seu interesse em participar deste projeto. Obrigado.
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <h6 class="text-uppercase text-blue-light">Específicação técnica</h6>
    <app-pdf-viewer [url]="pdfUrl"></app-pdf-viewer>
  </div>
</div>

<div class="row">
  <div class="col mb-4">
    <h6 class="text-uppercase text-blue-light">Arquivos complementares</h6>
    <div *ngFor="let arquivo of detalhesDemanda.arquivos">
      <div class="btn btn-link px-0 py-1">
        <span (click)="deletarArquivo(i)">
          <i class="ta-attachment"></i>
        </span>
        {{ arquivo }}
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-4 mb-4">
    <h6 class="text-uppercase text-blue-light">Data máxima de envio proposta</h6>
    <input type="date" class="form-control" disabled [value]="detalhesDemanda.dataProposta">
  </div>
</div>

<div class="row">
  <div class="col mb-4">
    <h6 class="text-uppercase text-blue-light">Observações projeto</h6>
    <div class="bg-cinza-claro rounded p-4">
      {{ detalhesDemanda.observacoes }}
    </div>
  </div>
</div>

<div class="row" *ngIf="!detalhesDemanda.status">
  <div class="col">
    <div class="d-flex justify-content-center">
      <button type="button" class="btn btn-danger m-3" (click)="statusParticipar(false)">
        <i class="ta-cancel-circle fs-24 align-middle"></i>
        Não Iremos Participar
      </button>
      <button type="button" class="btn btn-green m-3" (click)="statusParticipar(true)">
        <i class="ta-ok fs-24 align-middle"></i>
        Desejo Participar
      </button>
    </div>
  </div>
</div>