<div class="row justify-content-between">
  <div class="col">
    <h5 class="text-uppercase text-blue font-weight-normal my-4">ESPECIFICAÇÃO TÉCNICA DEMANDA</h5>
  </div>
</div>


<app-form-editor *ngIf="formValue; else loading" [key]="key" [formValue]="formValue"
                 (save)="submit($event)"></app-form-editor>
<ng-template #loading>Carregando Formulário</ng-template>


<div class="row">
  <div class="col-4">
    <div class="form-group">
      <label for="">ARQUIVOS COMPLEMENTARES (OPCIONAL)</label>
    </div>
    <div>
      <label class="btn btn-link">
        <i class="ta-upload mx-2 fs-22"></i>
        <span>Anexar Arquivos (opcional)</span>
        <strong> ()</strong>
        <input type="file" name="" id="" class="form-control d-none">
      </label>
    </div>
  </div>
</div>

<div class="row">
  <div class="col text-left pt-5">
    <button type="submit" class="btn btn-primary" (click)="onSubmit()">
      <i class="ta-save pr-2"></i>
      <span>Salvar Dados</span>
    </button>
  </div>
</div>
