<!-- Filtros -->
<form class="container my-4" [formGroup]="filterForm">
    <div class="row">
        <div class="col">
            <div class="form-group">
                <select name="" id="" class="form-control" formControlName="catalogStatusId">
                    <option value="">Todos os Status</option>
                    <option *ngFor="let item of status | async" [value]="item.id">{{item.status}}</option>
                </select>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <select name="" id="" class="form-control" formControlName="catalogEmpresaId">
                    <option value="">Empresa Proponente</option>
                    <option *ngFor="let item of empresas | async" [value]="item.id">{{item.nome}}</option>
                </select>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <input type="search" name="" id="" class="form-control" formControlName="search" placeholder="Buscar">
            </div>
        </div>
        <div class="col d-flex align-items-center">
            <span class="d-block mb-3 text-right flex-grow-1">{{total_projetos}} projetos</span>
        </div>
    </div>
</form>
<!-- Lista -->
<div class="container mb-3">
    <div class="row">
        <div class="col">
            <div class="d-grid grid-gap-4 wrap-projetos-cards">
                <app-projeto-card *ngFor="let projeto of projetosFiltered | orderBy:'id':'desc'" [projeto]="projeto"></app-projeto-card>
            </div>
            <ngb-alert [dismissible]="false" type="dark" *ngIf="projetosFiltered.length === 0 && projetos.length > 0">
                <i class="ta-cancel-circle"></i> Lamentavelmente, sua busca não encontrou nenhum resultado. Favor tentar novamente com outros parâmetros.
            </ngb-alert>

        </div>
    </div>
</div>
