<h5 class="text-blue">ACESSOS POR PROJETO</h5>
<table class="table">
    <thead>
        <tr>
            <th class="w-25">
                <div class="d-flex align-items-center">
                    <span class="mx-2">Número e tipo</span>
                </div>
            </th>
            <th class="w-50">
                <div class="d-flex align-items-center">
                    <span class="mx-2">Nome</span>
                </div>

            </th>
            <th class="w-25">
                <div class="d-flex align-items-center">
                    <span class="mx-2">Nível de acesso</span>
                </div>
            </th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let item of projetos">
            <td class="align-middle">
                <div class="text-blue">
                    {{item.projeto.numero}}
                </div>
                <div>
                    {{ item.projeto.numero | tipoProjeto }}
                </div>
            </td>
            <td class="align-middle">
                {{item.projeto.tituloDesc}}
            </td>
            <td class="align-middle">
                <form class="form-group" [formGroup]="item.form">
                    <select class="form-control" formControlName="CatalogUserPermissaoId">
                        <option value="">Sem Permissão</option>
                        <option [value]="nivel.id" *ngFor="let nivel of permissoes">
                            {{nivel.nome}}
                        </option>
                    </select>
                </form>
            </td>
        </tr>
    </tbody>

</table>
