<h5 class="text-uppercase text-blue font-weight-normal my-3">Temas e Sub-temas Aneel</h5>
<app-loading type="fullscreen"></app-loading>
<form [formGroup]="form" *ngIf="form" appLogger="Tema">
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="">
                    Formulário Assinado com Especificação Técnica da demanda
                    <app-tip [tipId]="33"></app-tip>
                </label>

            </div>
            <div>
                <div *ngIf="temaProjeto">
                <span class="btn btn-link" [downloadFile]="file" *ngFor="let file of temaProjeto.uploads">
                        {{file.nomeArquivo}}
                    <i class="ta-cancel-circle" (click)="deletarArquivo(file)"></i>
                    </span>
                </div>
                <label class="btn btn-link">
                    <i class="ta-upload mx-2 fs-22"></i>
                    <span>Selecionar arquivo </span>
                    <strong *ngFor="let file of file.files"> ({{file.name}})</strong>
                    <input type="file" class="form-control d-none" #file (change)="changeFile($event)">
                </label>
                <hr>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">

            <div class="form-group">
                <label for="">Tema
                    <app-tip [tipId]="31"></app-tip>
                </label>
                <select name="" id="" class="form-control w-50" formControlName="catalogTemaId" appLogItem="Tema">
                    <option value="">Selecione</option>
                    <option [value]="tema.id" *ngFor="let tema of temas | orderBy:'order'">{{tema.nome}}
                        - {{tema.valor}}</option>
                </select>
            </div>
            <div class="form-group" *ngIf="tema && tema.valor === 'OU'">
                <label for="">Outro Tema</label>
                <app-textarea [maxlength]="200" rows="2" class="form-control"
                              appLogItem="Outro Tema"
                              formControlName="outroDesc"></app-textarea>
            </div>

        </div>
    </div>

    <div class="row" *ngIf="subTemasForms" formArrayName="subTemas">
        <div class="col-12">
            <div class="bg-cinza-claro my-3 p-3 rounded"
                 *ngFor="let formSubtema of subTemasForms.controls; let i = index;" [formGroup]="formSubtema">
                <div class="form-group">
                    <label for="">Sub-Tema
                        <app-tip [tipId]="34"></app-tip>
                    </label>
                    <select class="form-control" formControlName="catalogSubTemaId"
                            appLogItem="Sub-tema">
                        <option value="">Selecione</option>
                        <option [value]="subTema.subTemaId"
                                *ngFor="let subTema of subtemasdisponiveis(formSubtema.get('catalogSubTemaId').value) | orderBy:'order'">{{subTema.nome}}
                            - {{subTema.valor}}</option>
                    </select>
                </div>

                <div class="form-group" *ngIf="isOther(formSubtema.get('catalogSubTemaId').value)">
                    <label>Outro sub-tema</label>
                    <app-textarea [maxlength]="200" rows="2" class="form-control"
                                  formControlName="outroDesc"
                                  appLogItem="Sub-tema outros"></app-textarea>
                </div>
                <div class="text-right" *ngIf="i > 0">
                    <button type="button" class="btn btn-link text-cinza" (click)="delete(i)" *appUserEscrita>
                        <i class="ta-cancel-circle"></i> Excluir
                    </button>
                </div>
            </div>
        </div>
        <div class="col-12 text-right" *ngIf="subTemas.length > subTemasForms.length">
            <button type="button" *appUserEscrita class="btn btn-outline-primary" (click)="addSubTema()">
                <i class="ta-plus-circle"></i> Adicionar Sub-Tema
            </button>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-auto">
            <!-- <i class="ta-user-o text-blue-light"></i> Última atualização em 16.02.2019, às 19:30 por André Moraes -->
        </div>
        <div class="col text-right">
            <button *appUserEscrita class="btn btn-primary" [disabled]="form && form.invalid" type="button"
                    (click)="updateTemas()"><i class="ta-save"></i> Salvar Dados
            </button>
        </div>
    </div>
</form>
