<div class="modal-header">
    <div class="text-uppercase modal-title text-blue-light fs-24">{{modalTitle}}</div>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <i class="ta-cancel-circle"></i>
    </button>
</div>
<form class="modal-body" [formGroup]="form" *ngIf="form" appLogger="Alocar Recurso Material">
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="">Selecione um recurso material</label>
                <select name="" id="" class="form-control" formControlName="recursoMaterialId"
                        appLogItem="Recurso Material">
                    <option value="">Selecione</option>
                    <option [value]="rec.id" *ngFor="let rec of recursosMaterias">{{rec.nome}}</option>
                </select>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-6" [ngClass]="{'col-6':projeto.isPD,'col-12':projeto.isPG}">
            <div class="form-group">
                <label for="">Empresa Financiadora <span [hidden]="projeto.isPD">e Recebedora</span></label>
                <select name="" id="" class="form-control" formControlName="empresaFinanciadoraId"
                        [appLogItem]="'Empresa Financiadora'.concat(projeto.isPG?' e Recebedora':'')">
                    <option value="">Selecione</option>
                    <option [value]="empresa.id" *ngFor="let empresa of empresasFinanciadoras">{{empresa.nome}}</option>
                </select>
            </div>
        </div>
        <div class="col-6" *ngIf="projeto.isPD">
            <div class="form-group">
                <label for="">Empresa Recebedora</label>
                <select class="form-control" formControlName="empresaRecebedoraId" appLogItem="Empresa REcebedora">
                    <option value="">Selecione</option>
                    <option [value]="emR.id" *ngFor="let emR of empresasRecebedoras">{{emR.nome}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6" *ngIf="projeto.isPD">
            <div class="form-group">
                <label for="">Etapa</label>
                <select class="form-control" formControlName="etapaId" appLogItem="Etapa">
                    <option value="">Selecione</option>
                    <option [value]="etapa.id" *ngFor="let etapa of etapas">Etapa {{ etapa.numeroEtapa }}</option>
                </select>
            </div>
        </div>
        <div [ngClass]="{'col-6':projeto.isPD,'col-12':projeto.isPG}">
            <div class="form-group">
                <label for="">Quantidade</label>
                <input type="number" class="form-control" formControlName="qtd" appLogItem="Quantidade">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="">Justificativa do recurso nesta etapa</label>
                <app-textarea formControlName="justificativa" cols="30" rows="4" class="form-control"
                              appLogItem="Justificativa do recurso nesta etapa"
                              placeholder="Por que o recurso é necessário nesta etapa?" maxlenght="1000"></app-textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-between">
                <div>
                    <div *appUserAdmin>
                        <button class="btn btn-link" (click)="excluir()" *ngIf="alocacao.id"><i
                                class="ta-cancel-circle"></i> Excluir
                        </button>
                    </div>
                </div>

                <div class="text-right">
                    <div class="button btn btn-link" (click)="activeModal.dismiss('cancel')">Cancelar</div>

                    <button class="btn btn-primary" type="button" (click)="submit()"
                            [disabled]="form.invalid || !form.touched || !form.dirty"
                            *appUserEscrita
                    >
                        <i [class]="buttonAction.icon"></i>
                        {{buttonAction.text}}
                    </button>

                </div>
            </div>
        </div>


    </div>
</form>
<app-loading type="fullscreen"></app-loading>
