<p class="text-center">
    Insira abaixo seu e-mail de cadastro
    que enviaremos um link para a geração
    de uma nova senha.
</p>
<div class="form-group position-relative">
    <input type="email" class="form-control form-control-lg" placeholder="Email">
    <i class="ta-envelope position-absolute text-cinza fs-18" style="top: 0.8em; right: 1em;"></i>
</div>
<div class="py-3 d-flex justify-content-between">
    <button type="submit" class="btn btn-blue btn-lg">Gerar nova senha</button>
    <a routerLink="/login" class="btn btn-link">
        <strong>Fazer Login</strong>
    </a>
</div>