<div class="row">
    <div class="col-12">
        <h5 class="text-uppercase text-blue font-weight-normal my-4">Resultados socioambientais</h5>
    </div>
</div>
<div class="row">
    <div class="col-12 text-right">
        <button class="btn btn-outline-primary" type="button" routerLink="../" fragment="novo">
            <i class="ta-plus-circle fs-24 align-middle align-middle"></i>
            Registrar Resultado Socioambiental
        </button>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <app-table [cols]="cols" [buttons]="buttons" [data]="socioambientais"></app-table>
    </div>
</div>