<div class="modal-header">

  <div class="text-uppercase modal-title text-blue-light fs-20">
    Aprovação Registro
  </div>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.close('close')">
    <i class="ta-cancel-circle"></i>
  </button>
</div>
<div class="modal-body">

  <div class="row">
    <div class="col-12" [ngSwitch]="registro.tipo">
      <app-recurso-humano *ngSwitchCase="'RegistroFinanceiroRh'" [registro]="registro"
                          [readonly]="true"></app-recurso-humano>
      <app-recurso-material *ngSwitchCase="'RegistroFinanceiroRm'" [registro]="registro"
                            [readonly]="true"></app-recurso-material>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <div>
          <label>COMPRAVANTE DA DESPESA</label>
        </div>
        <button class="btn-link btn" type="button" (click)="downloadComprovante()">
          <i class="ta-attachment"></i> Ver Anexo
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <label>OBSERVAÇÕES INTERNAS</label>
      </div>
      <ng-container *ngFor="let obs of observacoes">
        <div class="observacao mb-3">
          <div class="bg-cinza-claro observacao-content p-3 rounded">{{obs.content}}</div>
          <div class="fs-12 observacao-info text-cinza text-right">
            {{obs.createdAt | date:'short'}} por {{obs.author}}
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="row" *ngIf="registro.status === 'Pendente' && isResponsavel">
    <div class="col-12 d-flex justify-content-center">
      <button class="btn btn-danger mx-2" type="button" (click)="modalReprovar(reprovar)"><i
        class="ta-cancel-circle"></i> Reprovar Registro
      </button>
      <button class="btn btn-success mx-2" type="button" (click)="setStatusRegistro(null, true)"><i class="ta-ok"></i>
        Aprovar Registro
      </button>
    </div>
  </div>
  <div class="row" *ngIf="isResponsavel">
    <div class="col-12">
      <button class="btn-link btn" type="button" (click)="excluir()">
        <i class="ta-cancel-circle"></i> Excluir Registro
      </button>
    </div>
  </div>
</div>

<ng-template #reprovar let-modalreprovador>
  <div class="modal-header">
    <div class="text-uppercase modal-title text-blue-light fs-20">
      Reprovação Registro
    </div>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modalreprovador.close()">
      <i class="ta-cancel-circle"></i>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group" [formGroup]="formReprovacao">
      <label>Motivo da reprovação (Será Adicionado as Observações Internas)</label>
      <textarea cols="30" rows="3" class="form-control" formControlName="observacao"></textarea>
    </div>
  </div>
  <div class="modal-footer">
    <div class="d-flex flex-end">
      <button class="btn btn-link" type="button" (click)="modalreprovador.close()">Cancelar</button>
      <button class="btn btn-danger" type="button" [disabled]="formReprovacao.invalid"
              (click)="setStatusRegistro(modalreprovador,false, observacao.value)">
        <i class="ta-cancel-circle"></i> Reprovar
      </button>
    </div>
  </div>
</ng-template>
