<h5 class="text-uppercase text-blue font-weight-normal mb-5">Extrato Financeiro por etapas</h5>
<div class="row" *ngFor="let etapa of extratoEtapas">
    <div class="col-12">
        <h6>{{etapa.nome}}</h6>
    </div>
    <div class="col-12">
        <app-accordion *ngFor="let empresa of etapa.empresas">
            <header role="heading" class="d-flex justify-content-between">
                <span> {{ empresa.desc }} </span><span>{{ empresa.valor | currency:'R$' }}</span>
            </header>
            <div role="main">
                <table class="table table-borderless">
                    <tr *ngFor="let item of empresa.items">
                        <td>
                            <span class="btn btn-sm btn-link"
                                  (click)="openModal(item, empresa.items)"> {{item.desc}} </span>
                        </td>
                        <td width="30%">{{categoriaPorCod(item.categoriaContabil) }}</td>
                        <td width="15%"> {{ item.valor | currency:'R$' }} </td>
                    </tr>
                </table>
            </div>
        </app-accordion>
    </div>
</div>
<div class="row" *ngIf="extrato">
    <div class="col text-right">
        <h5 class="text-blue">
            Total Geral: {{ totalGeral | currency:'R$' }}
        </h5>
        <button class="btn btn-outline-blue" (click)="orcamentoGerarCSV()">
            <i class="ta-download fs-18"></i>
            Gerar XLSX
        </button>
    </div>
</div>

<hr>
<div class="row">
    <div class="col-auto">
        <!-- <i class="ta-user-o text-blue-light"></i> Última atualização em 16.02.2019, às 19:30 por André Moraes --> </div>
    <div class="col text-right">

    </div>
</div>
<div class="text-center">
    <app-loading type="inline"></app-loading>
</div>
