<div class="modal-header">
    <div class="text-uppercase modal-title text-blue-light fs-24">
        {{ status ? 'EDITAR ALOCAÇÃO DE RECURSO HUMANO' : 'ALOCAR RECURSO HUMANO' }}
    </div>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <i class="ta-cancel-circle"></i>
    </button>
</div>

<app-loading type="fullscreen"></app-loading>

<div class="modal-body">
    <form [formGroup]="formAlocarRecurso" (ngSubmit)="onSubmit()">

        <div class="form-group">
            <label for="recurso-humano">Recurso humano</label>
            <select class="form-control" id="recurso-humano" formControlName="recursoHumano">
                <option value="" hidden>Selecione a pessoa que irá executar a tarefa</option>
                <option [value]="recurso.nome" *ngFor="let recurso of recursosHumanos">
                    {{ recurso.nome }}
                </option>
            </select>
        </div>

        <div class="form-row">
            <div class="form-group col">
                <label for="empresa-financiadora">Empresa Financiadora</label>
                <select class="form-control" id="empresa-financiadora" formControlName="empresaFinanciadora">
                    <option value="" hidden>Selecione uma empresa financiadora</option>
                    <option [value]="empresaFinanciadora.nome" *ngFor="let empresaFinanciadora of empresasFinanciadoras">
                        {{ empresaFinanciadora.nome }}
                    </option>
                </select>
            </div>
            <div class="form-group col">
                <label for="etapa">Etapa relacionada</label>
                <select class="form-control" id="etapa" formControlName="etapa">
                    <option value="" hidden>Selecione uma etapa</option>
                    <option [value]="etapa.nome" *ngFor="let etapa of etapas">
                        {{ etapa.nome }}
                    </option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group mb-0">
                    <label for="">Horas alocadas por mês</label>
                </div>
                <div class="row mx-0 p-3 bg-cinza-claro rounded mb-4">
                    <div class="col-2 mb-2" *ngFor="let i of totalMeses | n2array: 1" formGroupName="horasAlocadas">
                        <label for="">{{ getMesAnoAt(i) }}</label>
                        <input placeholder="Max 160h" mask="999" sufix="h" type="text" class="form-control" [formControlName]="'mes-' + i" />
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>Justificativa do recurso</label>
            <app-textarea class="form-control" formControlName="justificativa" rows="4" maxlength="1000"></app-textarea>
        </div>

        <div class="form-group">
            <div class="text-right">
                <div class="button btn btn-link" (click)="activeModal.dismiss('cancel')">
                    Cancelar
                </div>
                <button type="submit" class="btn btn-primary" [disabled]="formAlocarRecurso.invalid" *ngIf="status">
                    <i class="ta-save mr-1"></i>
                    Salvar Alocação
                </button>
                <button type="submit" class="btn btn-primary" [disabled]="formAlocarRecurso.invalid" *ngIf="!status">
                    <i class="ta-plus-circle mr-1"></i>
                    Alocar Recurso
                </button>
            </div>
        </div>

    </form>
</div>