<div class="row justify-content-between">
  <div class="col mb-4">
    <h5 class="text-uppercase text-blue font-weight-normal my-4">
      <ng-content select="[slot=title]"></ng-content>
    </h5>
  </div>
  <div class="col-auto">
    <a *ngIf="showNewItemButton && editor" class="btn btn-outline-primary" routerLink="./" fragment="novo">
      <i class="ta-plus-circle fs-24 align-middle"></i>
      {{newItemLabel}}
    </a>
  </div>
</div>
<div class="row">
  <div class="col">
    <ng-content select="[slot=top]"></ng-content>
  </div>
</div>
<div class="row">
  <div class="col">
    <app-table
      [cols]="cols"
      [data]="data"
      [dataRequester]="request"
      [buttons]="buttons"
    >
    </app-table>
  </div>
</div>
<div class="row">
  <div class="col">
    <ng-content select="[slot=bottom]"></ng-content>
  </div>
</div>
