<div class="bg-light py-4">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="d-flex justify-content-between">
                    <h3 class="text-uppercase text-dark">Meus Projetos</h3>
                    <button type="button" (click)="openNovoProjeto()" class="btn btn-outline-primary">
                        <fa-icon icon="plus-circle"></fa-icon>
                        Novo Projeto
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container my-4">
    <div class="row">
        <div class="col">
            <div class="form-group">
                <select name="" id="" class="form-control">
                    <option value="">Todos os Status</option>
                </select>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <select name="" id="" class="form-control">
                    <option value="">Empresa Proponente</option>
                </select>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <input type="search" name="" id="" class="form-control" placeholder="Buscar">
            </div>
        </div>
        <div class="col d-flex align-items-center">
            <span class="d-block mb-3 text-right flex-grow-1">xxx projetos</span>
        </div>
    </div>
</div>