<div class="modal-header">
    <div class="text-uppercase modal-title text-blue-light fs-24">{{title}}</div>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.close('close')">
        <i class="ta-cancel-circle"></i>
    </button>
</div>
<div class="modal-body modal-page">
    <div class="inner-content" [innerHTML]="htmlContent"></div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="activeModal.close('ok')">Fechar</button>
</div>
