<div class="modal-header">
    <div class="text-uppercase modal-title text-blue-light fs-20">
        Registrar Propriedade Intelectual
    </div>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.close('close')">
        <i class="ta-cancel-circle"></i>
    </button>
</div>

<div class="modal-body">
    <form [formGroup]="form" (ngSumit)="submit">

        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label>TIPO DE PROPRIEDADE INTELECTUAL</label>
                    <select class="form-control" formControlName="tipo">
                        <option value="" hidden>Selecione</option>
                        <option [value]="1">Valor 1</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label>DATA DO PEDIDO INPI</label>
                    <input type="date" class="form-control" formControlName="dataPedido">
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label>NÚMERO PEDIDO INPI</label>
                    <input type="number" class="form-control" formControlName="numeroPedido">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label>TÍTULO DA PROPRIEDADE INTELECTUAL NO INPI</label>
                    <app-textarea class="form-control" rows="3" maxlength="200" formControlName="titulo"></app-textarea>
                </div>
            </div>
        </div>

        <!-- app-multi-select -->

        <div class="form-group d-flex justify-content-end mt-4">
            <div class="button btn btn-link" (click)="activeModal.dismiss('cancel')">
                Cancelar
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
                <i class="ta-save mr-1"></i>
                Adicionar Propriedade Intelectual
            </button>
        </div>
    </form>
</div>