.form-group {
    label {
        color: $blueLight;
        text-transform: uppercase;
        font-weight: bold;
    }

    textarea {
        &.form-control {
            resize: none;
        }
    }
}
