<div class="modal-header">
  <div class="text-uppercase modal-title text-blue-light fs-24">
    {{ form.value.id > 0 ? 'EDITAR RECURSO HUMANO' : 'REGISTRAR RECURSO HUMANO' }}
  </div>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <i class="ta-cancel-circle"></i>
  </button>
</div>

<app-loading type="fullscreen"></app-loading>

<div class="modal-body">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <pre class="debug">{{form.value| json}}</pre>
    <div class="form-row">
      <div class="form-group col">
        <label for="empresa">Empresa</label>
        <select class="form-control" id="empresa" formControlName="empresa">
          <option value="" hidden>Selecione um Empresa</option>
          <option [value]="empresa.value" *ngFor="let empresa of empresas">
            {{ empresa.text }}
          </option>
        </select>
      </div>
      <div class="form-group col">
        <label for="valor-hora">Valor hora</label>
        <input
          type="text"
          class="form-control"
          id="valor-hora"
          formControlName="valorHora"
          currencyMask
        />
      </div>
    </div>

    <div class="form-group">
      <label for="nome-completo">Nome Completo</label>
      <input type="text" class="form-control" id="nome-completo" formControlName="nomeCompleto"
             placeholder="Digite o seu nome completo">
    </div>

    <div class="form-row">
      <div class="form-group col">
        <label for="titulacao">Titulação</label>
        <select class="form-control" id="titulacao" formControlName="titulacao">
          <option value="" hidden>Selecione uma Titulação</option>
          <option *ngFor="let titulo of titulacoes" [value]="titulo.value">{{titulo.text}}</option>
        </select>
      </div>
      <div class="form-group col">
        <label for="funcao">Função</label>
        <select class="form-control" id="funcao" formControlName="funcao">
          <option value="" hidden>Selecione uma Função</option>
          <option *ngFor="let funcao of funcoes" [value]="funcao.value">{{funcao.text}}</option>
        </select>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col">
        <label for="brasileiro">Brasileiro?</label>
        <select class="form-control" id="brasileiro" formControlName="nacionalidade">
          <option value="" hidden>Selecione</option>
          <option value="Brasileiro">Sim</option>
          <option value="Estrangeiro">Não</option>
        </select>
      </div>
      <div class="form-group col">
        <label for="cpf">Cpf ou passaporte</label>
        <input
          type="text"
          class="form-control"
          id="cpf"
          formControlName="documento"
          placeholder="00.000.000/0000-00"
        />
      </div>
    </div>

    <div class="form-group">
      <label for="curriculo-lattes">Endereço currículo lattes</label>
      <input type="text" class="form-control" id="curriculo-lattes" formControlName="urlCurriculo"
             placeholder="Insira aqui o URL do currículo">
    </div>

    <div class="form-group">
      <div class="text-right">
        <div class="button btn btn-link" (click)="activeModal.dismiss('cancel')">
          Cancelar
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
          <i class="ta-save mr-1"></i>
          Salvar Pessoa
        </button>
      </div>
    </div>

  </form>
</div>
