<div class="row mb-3">
    <div class="col">
        <h5 class="text-uppercase text-blue font-weight-normal my-4">VALIDAÇÃO DO CONTRATO BASE</h5>
    </div>
</div>

<div class="row mb-3">
    <div class="col">
        <span>
            Para a participação em Projetos de P&D existem algumas cláusulas obrigatórias no contrato. Leia as
            mesmas com atenção para validar sua participação no projeto Seguem abaixo:
        </span>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="d-flex bg-cinza-claro rounded">
            <div class="d-flex flex-row">
                <button 
                    type="button" 
                    class="btn btn-link text-decoration-none p-0"
                    [disabled]="active == 1"
                    (click)="prev()"
                >
                    <i class="ta-arrow-left fs-48"></i>
                </button>
            </div>
            <div class="flex-fill">
                <ng-container *ngFor="let clausula of clausulas; index as i">
                    <div class="text-center mx-3 mt-4 mb-6" *ngIf="(i+1) == active">
                        <h6 class="text-blue mb-4">
                            {{ getTitle() }}
                        </h6>
                        <div class="text-left">
                            {{ clausula.text }}
                        </div>
                    </div>
                </ng-container>
            </div>
            <div class="d-flex flex-row">
                <button 
                    type="button" 
                    class="btn btn-link text-decoration-none p-0"
                    [disabled]="active == clausulas.length"
                    (click)="next()"
                >
                    <i class="ta-arrow-right fs-48"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="d-flex justify-content-center">
            <button 
                type="button" 
                class="btn btn-danger m-3"
                [disabled]="getStatus()"
                (click)="setStatus(false)"
            >
                <i class="ta-cancel-circle fs-24 align-middle"></i>
                Não Concordo com esta cláusula
            </button>
            <button 
                type="button" 
                class="btn btn-green m-3"
                [disabled]="getStatus()"
                (click)="setStatus(true)"
            >
                <i class="ta-ok fs-24 align-middle"></i>
                Concordo com esta cláusula
            </button>
        </div>
    </div>
</div>