<a [routerLink]="['/dashboard/projeto',projeto.id, status.status.toLocaleLowerCase()]" class="card w-100">
    <div class="card-header bg-blue-light text-white d-flex justify-content-between">
        <span class="text-uppercase text-white d-flex align-items-center">
            {{projeto.numero}} - {{projeto.titulo}}
        </span>
        <span class="text-uppercase">
          <span class="fs-24 align-middle">
            <i [class]="icon"></i>
          </span>
          <span class="ml-2">{{status.status}}</span>
        </span>
    </div>
    <div class="card-body d-flex flex-column justify-content-between">
        <div>{{projeto.tituloDesc}}</div>
        <div class="d-flex justify-content-between mt-3" *ngIf="empresa">
            <div class="text-blue-light">{{ empresa.nome }} - {{empresa.valor }}</div>
            <div class="text-blue-light text-uppercase">{{ projeto.numero | tipoProjeto }}</div>
        </div>
    </div>
</a>
