<div class="modal-header">
    <div class="text-uppercase modal-title text-blue-light fs-24">{{modalTitle}}</div>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <i class="ta-cancel-circle"></i>
    </button>
</div>
<form class="modal-body" *ngIf="form" [formGroup]="form" appLogger="Recurso Material">
    <div class="row">
        <div class="col-12">
            <div class="form-group">

                <label for="">Nome do recurso material</label>
                <input type="text" class="form-control" formControlName="nome" appLogItem="Nome do recurso Material">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label for="">Categoria Contábil
                    <app-tip message="Clique para mais detalhes"
                             (click)="app.openPage('detalheCategoriaContabeis')"></app-tip>
                </label>
                <select name="" id="" class="form-control"
                        appLogItem="Categoria Contábil"
                        [formControlName]="projeto.isPD?'categoriaContabil':'catalogCategoriaContabilGestaoId'">
                    <option value="">Selecione</option>
                    <option [value]="cat.value" *ngFor="let cat of categoriaContabel">{{cat.text}}</option>
                </select>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label for="">Custo unitário</label>
                <input type="text" currencyMask class="form-control" formControlName="valorUnitario"
                       appLogItem="Custo unitário">
            </div>
        </div>
    </div>
    <div class="row" *ngIf="projeto.isPG">
        <div class="col-12">
            <div class="form-group">
                <label>Tipo de Atividade</label>
                <select class="form-control" formControlName="catalogAtividadeId" appLogItem="Tipo de atividade">
                    <option value="">Selecione</option>
                    <option [value]="atividade.id" *ngFor="let atividade of atividades">{{atividade.nome}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="">Especificação técnica detalhada do recurso</label>
                <app-textarea maxlength="1000" cols="30" rows="3" class="form-control"
                              appLogItem="Especificação técnica detalhada do recurso"
                              formControlName="especificacao"></app-textarea>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-between">
                <div>
                    <div *appUserAdmin>
                        <button class="btn btn-link" (click)="excluir()" *ngIf="recursoMaterial.id"><i
                                class="ta-cancel-circle"></i> Excluir
                        </button>
                    </div>
                </div>

                <div class="text-right">
                    <div class="button btn btn-link" (click)="activeModal.dismiss('cancel')">Cancelar</div>

                    <button class="btn btn-primary" type="button" (click)="submit()"
                            *appUserEscrita
                            [disabled]="form.invalid || !form.touched || !form.dirty">
                        <i [class]="buttonAction.icon"></i>
                        {{buttonAction.text}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
<app-loading type="fullscreen"></app-loading>
