<div class="modal-header">
  <div class="text-uppercase modal-title text-blue-light fs-24">Upload de arquivos</div>
</div>
<div class="modal-body">
  <div>
    <div class="row">
      <div class="col-12">
        <app-upload-file [(ngModel)]="files" (ngModelChange)="fileChange($event)"></app-upload-file>
      </div>
    </div>
    <div class="row" *ngIf="progress && isSending">
      <div class="col-12">
        <ngb-progressbar [showValue]="true" type="info" [value]="progress"></ngb-progressbar>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h5 class="my-3">Arquivos Selecionados:</h5>
        <div class="list-group" [formGroup]="form" *ngIf="form">
          <label *ngFor="let file of filesSent; "
                 class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                 [ngClass]="{active: element && element.checked}">
            <input type="checkbox" [formControlName]="file.id" hidden #element>
            <span>{{file.name}}</span>
            <span class="badge badge-primary badge-pill">{{file.size | filesize}}</span>
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center align-items-center">
    <app-loading type="inline" [isLoading]="isSending"></app-loading>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-link" (click)="activeModal.dismiss()">Cancelar</button>
  <button type="button" class="btn btn-primary"
          [disabled]="filesSent === undefined || filesSent.length === 0 || isSending"
          (click)="selectFiles()"><i class="ta-upload"></i> Selecionar Arquivos
  </button>
</div>

