<div class="row justify-content-between">
  <div class="col">
    <h5 class="text-uppercase text-blue font-weight-normal my-4">PROCESSO DE APROVAÇÃO DA DEMANDA - ETAPA PRÉ APROVAÇÃO
      SUPERIOR DIRETO</h5>
  </div>
</div>



<app-documento-pdf></app-documento-pdf>



<div *ngIf="reprovado" [formGroup]="formReprovado">

  <div class="row">
    <div class="col pt-5">
      <div class="form-group">
        <label for="">MOTIVO REPROVAÇÃO (SERÁ ADICIONADO AS OBSERVAÇÕES INTERNAS)</label>
        <textarea formControlName="motivoReprovacao" id="" cols="30" rows="4" class="form-control"></textarea>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="">DEFINIR PRÓXIMA ETAPA:</label>
      </div>
      <div class="form-check">
        <input type="radio" id="definirProximaEtapa1" formControlName="definirProximaEtapa" value="enviarElaborador"
          class="form-check-input">
        <label class="form-check-label" for="definirProximaEtapa1">
          Enviar demanda novamente para o Elaborador (a demanda será alterada e o ciclo de aprovação reiniciado)
        </label>
      </div>
      <div class="form-check">
        <input type="radio" id="definirProximaEtapa2" formControlName="definirProximaEtapa" value="cancelarDemanda"
          class="form-check-input">
        <label class="form-check-label" for="definirProximaEtapa2">
          Cancelar demanda (a demanda será arquivada e o processo finalizado).
        </label>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col text-right">
      <button type="submit" class="btn btn-link mx-3" (click)="reprovar()">
        <span>Cancelar</span>
      </button>

      <button type="submit" class="btn btn-danger mx-3" (click)="confirmReprovacao()"
        [disabled]="formReprovado.invalid">
        <i class="ta-cancel-circle pr-2"></i>
        <span>Reprovar Demanda</span>
      </button>
    </div>
  </div>
</div>



<!-- Botão reprovar e aprovar -->
<div class="row">
  <div class="col text-right pt-5">
    <button type="submit" class="btn btn-danger mx-3" (click)="reprovar()" *ngIf="status">
      <i class="ta-cancel-circle pr-2"></i>
      <span>Reprovar Demanda</span>
    </button>
    <button type="submit" class="btn btn-success mx-3" (click)="aprovar()" *ngIf="status">
      <i class="ta-ok pr-2"></i>
      <span>Aprovar Demanda</span>
    </button>
  </div>
</div>

<!-- botão definir revisor se aprovado -->
<div class="row">
  <div class="col-4 pt-2">
    <div *ngIf="aprovou" [formGroup]="formRevisor">
      <div class="form-group">
        <label for="revisorDemanda">REVISOR DA DEMANDA</label>
        <select id="revisorDemanda" formControlName="revisorDemanda" class="form-control">
          <option value="revisor1">Revisor 1</option>
          <option value="revisor2">Revisor 2</option>
          <option value="revisor3">Revisor 3</option>
        </select>
      </div>

      <button type="submit" class="btn btn-success btn-sm" (click)="definirRevisor()" [disabled]="formRevisor.invalid">
        <i class="ta-user-o pr-2"></i>
        <span>Definir Revisor</span>
      </button>
    </div>
  </div>
</div>