.dropdown-item {
    border-bottom: solid 2px $gray-300;

    &:last-child {
        border-bottom-color: transparent;
    }
}

.dropdown-menu {
    &.show {
        &::before {
            content: " ";
            display: block;
            position: absolute;
            width: 22px;
            height: 22px;
            background: linear-gradient(-45deg, transparent 0%, transparent 50%, white 50%, white 100%);
            top: -11px;
            right: 18px;
            transform: rotate(45deg);
            border: 1px solid rgba(0, 0, 0, 0.15);
            border-width: 1px 0 0 1px;
            z-index: -1;
        }
    }
}
