.nav-bar-row {
    background: $cinzaClaro;

    .nav-item {
        padding: 0 0.5rem;

        .nav-link {
            padding: 0.5rem 0;
            border-bottom: solid 2px transparent;
            border-top: solid 2px transparent;
            display: inline-block;
            transition: border 200ms linear;
            color: $cinza;

            &.active {
                border-bottom-color: $blue;
                color: $blue;
            }
        }
    }
}
