@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?u3rve7') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?u3rve7') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?u3rve7##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="ta-"], [class*=" ta-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ta-control_point {
  &:before {
    content: $ta-control_point; 
  }
}
.ta-remove_circle_outline {
  &:before {
    content: $ta-remove_circle_outline; 
  }
}
.ta-plus {
  &:before {
    content: $ta-plus; 
  }
}
.ta-remove {
  &:before {
    content: $ta-remove; 
  }
}
.ta-alert {
  &:before {
    content: $ta-alert; 
  }
}
.ta-alocacao-material {
  &:before {
    content: $ta-alocacao-material; 
  }
}
.ta-alocacao-rh {
  &:before {
    content: $ta-alocacao-rh; 
  }
}
.ta-ambiente {
  &:before {
    content: $ta-ambiente; 
  }
}
.ta-ampulheta {
  &:before {
    content: $ta-ampulheta; 
  }
}
.ta-box {
  &:before {
    content: $ta-box; 
  }
}
.ta-central-admin {
  &:before {
    content: $ta-central-admin; 
  }
}
.ta-chart {
  &:before {
    content: $ta-chart; 
  }
}
.ta-chat {
  &:before {
    content: $ta-chat; 
  }
}
.ta-edit {
  &:before {
    content: $ta-edit; 
  }
}
.ta-empresas {
  &:before {
    content: $ta-empresas; 
  }
}
.ta-envelope {
  &:before {
    content: $ta-envelope; 
  }
}
.ta-etapas {
  &:before {
    content: $ta-etapas; 
  }
}
.ta-extrato {
  &:before {
    content: $ta-extrato; 
  }
}
.ta-eye {
  &:before {
    content: $ta-eye; 
  }
}
.ta-gear {
  &:before {
    content: $ta-gear; 
  }
}
.ta-group {
  &:before {
    content: $ta-group; 
  }
}
.ta-lamp {
  &:before {
    content: $ta-lamp; 
  }
}
.ta-lock {
  &:before {
    content: $ta-lock; 
  }
}
.ta-log {
  &:before {
    content: $ta-log; 
  }
}
.ta-ok {
  &:before {
    content: $ta-ok; 
  }
}
.ta-projeto {
  &:before {
    content: $ta-projeto; 
  }
}
.ta-question {
  &:before {
    content: $ta-question; 
  }
}
.ta-recurso-material {
  &:before {
    content: $ta-recurso-material; 
  }
}
.ta-save {
  &:before {
    content: $ta-save; 
  }
}
.ta-sync {
  &:before {
    content: $ta-sync; 
  }
}
.ta-table {
  &:before {
    content: $ta-table; 
  }
}
.ta-torre {
  &:before {
    content: $ta-torre; 
  }
}
.ta-tubo-ensaio {
  &:before {
    content: $ta-tubo-ensaio; 
  }
}
.ta-user-id {
  &:before {
    content: $ta-user-id; 
  }
}
.ta-bin {
  &:before {
    content: $ta-bin; 
  }
}
.ta-blocked {
  &:before {
    content: $ta-blocked; 
  }
}
.ta-cancel-circle {
  &:before {
    content: $ta-cancel-circle; 
  }
}
.ta-checkbox-checked {
  &:before {
    content: $ta-checkbox-checked; 
  }
}
.ta-checkbox-unchecked {
  &:before {
    content: $ta-checkbox-unchecked; 
  }
}
.ta-circle-down {
  &:before {
    content: $ta-circle-down; 
  }
}
.ta-circle-left {
  &:before {
    content: $ta-circle-left; 
  }
}
.ta-circle-right {
  &:before {
    content: $ta-circle-right; 
  }
}
.ta-circle-up {
  &:before {
    content: $ta-circle-up; 
  }
}
.ta-confused {
  &:before {
    content: $ta-confused; 
  }
}
.ta-download2 {
  &:before {
    content: $ta-download2; 
  }
}
.ta-enter {
  &:before {
    content: $ta-enter; 
  }
}
.ta-exit {
  &:before {
    content: $ta-exit; 
  }
}
.ta-info {
  &:before {
    content: $ta-info; 
  }
}
.ta-notification {
  &:before {
    content: $ta-notification; 
  }
}
.ta-question1 {
  &:before {
    content: $ta-question1; 
  }
}
.ta-radio-checked {
  &:before {
    content: $ta-radio-checked; 
  }
}
.ta-radio-unchecked {
  &:before {
    content: $ta-radio-unchecked; 
  }
}
.ta-spinner11 {
  &:before {
    content: $ta-spinner11; 
  }
}
.ta-upload2 {
  &:before {
    content: $ta-upload2; 
  }
}
.ta-warning {
  &:before {
    content: $ta-warning; 
  }
}
.ta-user-o {
  &:before {
    content: $ta-user-o; 
  }
}

