$icomoon-font-family: "taesa-icon" !default;
$icomoon-font-path: "fonts" !default;

$ta-group: "\e900";
$ta-ok: "\e901";
$ta-chart: "\e902";
$ta-alert: "\e903";
$ta-alocacao-material: "\e904";
$ta-alocacao-rh: "\e905";
$ta-ambiente: "\e906";
$ta-ampulheta: "\e907";
$ta-box: "\e908";
$ta-central-admin: "\e909";
$ta-chat: "\e90a";
$ta-edit: "\e90b";
$ta-empresas: "\e90c";
$ta-envelope: "\e90d";
$ta-etapas: "\e90e";
$ta-extrato: "\e90f";
$ta-eye: "\e910";
$ta-gear: "\e911";
$ta-lamp: "\e912";
$ta-lock: "\e913";
$ta-log: "\e914";
$ta-plus: "\e915";
$ta-projeto: "\e916";
$ta-question: "\e917";
$ta-recurso-material: "\e918";
$ta-save: "\e919";
$ta-sync: "\e91a";
$ta-table: "\e91b";
$ta-torre: "\e91c";
$ta-tubo-ensaio: "\e91d";
$ta-user-id: "\e91e";
$ta-bin: "\e9ac";
$ta-blocked: "\ea0e";
$ta-cancel-circle: "\ea0d";
$ta-checkbox-checked: "\ea52";
$ta-checkbox-unchecked: "\ea53";
$ta-circle-down: "\ea43";
$ta-circle-left: "\ea44";
$ta-circle-right: "\ea42";
$ta-circle-up: "\ea41";
$ta-confused: "\e9f5";
$ta-download2: "\e9c5";
$ta-enter: "\ea13";
$ta-exit: "\ea14";
$ta-info: "\ea0c";
$ta-notification: "\ea08";
$ta-question1: "\ea09";
$ta-radio-checked: "\ea54";
$ta-radio-unchecked: "\ea56";
$ta-spinner11: "\e984";
$ta-upload2: "\e9c6";
$ta-warning: "\ea07";
$ta-checkbox-checked1: "\ea55";
$ta-user-o: "\e91f";

