$icomoon-font-family: "taesa-icon" !default;
$icomoon-font-path: "fonts" !default;

$ta-taesa: "\e936";
$ta-ficha: "\e915";
$ta-capacete: "\e935";
$ta-camera: "\e412";
$ta-arrow-down: "\e317";
$ta-arrow-left: "\e318";
$ta-arrow-right: "\e319";
$ta-arrow-up: "\e31a";
$ta-plus-circle: "\e3ba";
$ta-remove-circle: "\e15d";
$ta-power: "\e8ac";
$ta-search: "\e8b6";
$ta-alert: "\e903";
$ta-alocacao-material: "\e904";
$ta-alocacao-rh: "\e905";
$ta-ambiente: "\e906";
$ta-ampulheta: "\e907";
$ta-trash: "\e91f";
$ta-blocked: "\e920";
$ta-box: "\e908";
$ta-cancel-circle: "\e921";
$ta-ok: "\e901";
$ta-central-admin: "\e909";
$ta-chart: "\e902";
$ta-chat: "\e90a";
$ta-checkbox-checked: "\e922";
$ta-checkbox-unchecked: "\e923";
$ta-radio-checked: "\e92f";
$ta-radio-unchecked: "\e930";
$ta-circle-down: "\e924";
$ta-circle-left: "\e925";
$ta-circle-right: "\e926";
$ta-circle-up: "\e927";
$ta-confused: "\e928";
$ta-download: "\e929";
$ta-edit: "\e90b";
$ta-empresas: "\e90c";
$ta-enter: "\e92a";
$ta-envelope: "\e90d";
$ta-etapas: "\e90e";
$ta-exit: "\e92b";
$ta-extrato: "\e90f";
$ta-eye: "\e910";
$ta-gear: "\e911";
$ta-group: "\e900";
$ta-info: "\e92c";
$ta-lamp: "\e912";
$ta-lock: "\e913";
$ta-log: "\e914";
$ta-warning: "\e933";
$ta-notification: "\e92d";
$ta-question-o: "\e92e";
$ta-question: "\e917";
$ta-projeto: "\e916";
$ta-recurso-material: "\e918";
$ta-save: "\e919";
$ta-spinner: "\e931";
$ta-sync: "\e91a";
$ta-table: "\e91b";
$ta-torre: "\e91c";
$ta-tubo-ensaio: "\e91d";
$ta-upload: "\e932";
$ta-user-id: "\e91e";
$ta-user-o: "\e934";

