<table class="table">
    <thead>
    <tr>
        <th width="1%"></th>
        <th>
            <div class="d-flex align-items-center">
                <span class="mx-2">Nome</span>
                <app-handler-order [current]="listOrder" field="nomeCompleto" (order)=order($event)></app-handler-order>
            </div>
        </th>
        <th>
            <div class="d-flex align-items-center">
                <span class="mx-2">Empresa</span>
                <app-handler-order [current]="listOrder" field="catalogEmpresa.nome"
                                   (order)=order($event)></app-handler-order>
            </div>

        </th>
        <!--
        <th>
          <div class="d-flex align-items-center">
            <span class="mx-2">Status</span>
            <app-handler-order [current]="listOrder" field="status" (order)=order($event)></app-handler-order>
          </div>
        </th>
         -->
        <th>
            <div class="d-flex align-items-center">
                <span class="mx-2">Data Cadastro</span>
                <app-handler-order [current]="listOrder" field="dataCadastro" (order)=order($event)></app-handler-order>
            </div>
        </th>
        <th>
            <div class="d-flex align-items-center">
                <span class="mx-2">Ações</span>
            </div>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users | orderBy:listOrder.field:listOrder.direction" class="align-middle">
        <td>
            <div class="d-block user-avatar" [ngStyle]="{'background-image': userAvatar(user)}"></div>
        </td>
        <td>
            <span>{{ user.nomeCompleto | notDefined }}</span>
        </td>
        <td>
            <span *ngIf="user.catalogEmpresa">{{ user.catalogEmpresa.nome }}</span>
            <span *ngIf="!user.catalogEmpresa && user.razaoSocial">{{ user.razaoSocial }}</span>
        </td>
        <!--
        <td>
            <span>{{ user.status | userStatus }}</span>
        </td>
         -->
        <td>
            <span>{{ user.dataCadastro | date:'dd/MM/yyyy' }}</span>
        </td>
        <td>
            <a [routerLink]="['/dashboard/gerenciar-usuarios/edit/', user.id]" class="btn btn-sm btn-block btn-primary">
                <i class="ta-edit"></i> EDITAR
            </a>
        </td>
    </tr>
    </tbody>
</table>
