<div class="row justify-content-between">
  <div class="col">
    <h5 class="text-uppercase text-blue font-weight-normal my-4">DOCUMENTO E APROVAÇÕES</h5>
  </div>
</div>

<div class="row">
  <div class="col">
    <app-pdf-viewer [url]="'https://localhost:8080/api/Demandas/1/Form/especificacao-tecnica/Pdf'"></app-pdf-viewer>
  </div>
</div>


<div class="" *ngIf="desc">
  <div class="row">
    <div class="col my-3">
      <div class="form-group">
        <label for="">HISTÓRICO DE COMENTÁRIOS</label>
      </div>
      <div class="card">
        <div class="card-header bg-blue-light text-white d-flex justify-content-between">
          <div>
            <img *ngIf="avatar" [src]="avatar" width="32" height="32" alt="" class="rounded-circle mr-3">
            <span>Alberto Wagner Collavizza</span>
          </div>

          <div>
            {{ hora | date:'dd/MM/yyyy'  }} ás {{ minuto |date:'HH:mm:ss' }}
          </div>
        </div>
        <div class="card-body">
          {{ desc }}
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col my-3">
      <div class="form-group">
        <label for="">RESPONDER COMENTÁRIOS</label>
      </div>
      <textarea name="d" id="" cols="30" rows="4" class="form-control"></textarea>
    </div>
  </div>
</div>


<!-- http://localhost:4200/dashboard/projeto/35/logs -->


<div class="row">
  <div class="col text-right pt-5">
    <button type="submit" class="btn btn-primary" (click)="enviarProximaEtapa()" *ngIf="status == 1">
      <i class="ta-save pr-2"></i>
      <span>Enviar para Próxima Etapa</span>
    </button>
  </div>
</div>
