<div class="modal-header">
  <div class="text-uppercase modal-title text-blue-light fs-24">
    {{ fornecedor ? 'EDITAR FORNECEDOR' : 'NOVO FORNECEDOR' }}
  </div>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.close(false)"
  >
    <i class="ta-cancel-circle"></i>
  </button>
</div>

<div class="modal-body">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="nome-fornecedor">Nome fornecedor</label>
      <input type="text" class="form-control" id="nome-fornecedor" formControlName="nome">
    </div>

    <div class="form-group">
      <label for="cnpj">Cnpj fornecedor</label>
      <input
        type="text"
        class="form-control"
        id="cnpj"
        formControlName="cnpj"
        mask="00.000.000/0000-00"
        placeholder="00.000.000/0000-00"
      />
    </div>
    <hr class="my-4">
    <div class="form-group">
      <label for="nome-responsavel">Nome responsável</label>
      <input type="text" class="form-control" id="nome-responsavel" formControlName="responsavelNome">
    </div>

    <div class="form-group">
      <label for="email-responsavel">Email responsável</label>
      <input type="email" class="form-control" id="email-responsavel" formControlName="responsavelEmail">
    </div>

    <div *ngIf="fornecedor">
      <div class="form-group">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="trocar-responsavel"
                 formControlName="trocarResponsavel">
          <label class="form-check-label" for="trocar-responsavel">
            Trocar Responsável (o usuário atual será desativado)
          </label>
        </div>
      </div>
      <hr class="my-3">
      <div class="form-group">
        <label for="fornecedor-ativo">Status</label>
        <div>

          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="fornecedor-ativo" #inputAtivo
                   formControlName="ativo">
            <label class="form-check-label" for="fornecedor-ativo">
              Fornecedor Ativo
            </label>
          </div>
        </div>
      </div>

      <div class="alert border border-danger d-flex align-items-center" *ngIf="!inputAtivo.checked">
        <div class="mr-3">
          <i class="ta-alert fs-48 text-danger"></i>
        </div>
        <div>
          Ao desativar um fornecedor o usuário atrelado a ele será desativado e qualquer proposta em etapa de captação
          será encerrada.
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="text-right">
        <div
          class="button btn btn-link"
          (click)="activeModal.close(false)"
        >
          Cancelar
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
          <i class="ta-save mr-1"></i>
          Salvar
        </button>
      </div>
    </div>

  </form>
</div>
