<div class="row">
  <div class="col-12 d-flex justify-content-end my-4">
    <button
      class="btn btn-outline-primary"
      type="button"
      routerLink="/dashboard/configuracoes-do-sistema/contratos-padrao/novo"
    >
      <i class="ta-plus-circle fs-24 align-middle align-middle"></i>
      Novo Contrato
    </button>
  </div>
</div>

<div class="row pb-4" *ngIf="filters && filters.length > 0">
  <div class="form-group col-3" *ngFor="let filter of filters">
      <select
      class="form-control"
      [(ngModel)]="filter.value"
      (change)="setCurrentData()"
      >
      <option
          *ngFor="let f of filter.options | orderBy: 'text'"
          [value]="f.value"
          >{{ f.text }}</option
      >
      </select>
  </div>
</div>

<div class="row">
  <div class="col">
      <ng-container *ngIf="!loading; else loadingTpl">
          <app-table 
              [cols]="cols" 
              [data]="contratos.data" 
              [buttons]="buttons" 
              (action)="tableAction($event)">
          </app-table>
      </ng-container>
      <ng-container *ngTemplateOutlet="paginacao"></ng-container>
  </div>
</div>

<ng-template #loadingTpl>
  <h6 class="text-center py-3">
      Carregando contratos...
  </h6>
</ng-template>
<ng-template #paginacao>
  <div class="d-flex justify-content-center" *ngIf="contratos && !hidePagination">
      <ngb-pagination [(page)]="contratos.page" 
                      [pageSize]="contratos.perPage"
                      [collectionSize]="contratos.totalItems" 
                      (pageChange)="gotoPage($event)"
                      [ellipses]="true" 
                      [rotate]="true" 
                      [maxSize]="5">
      </ngb-pagination>
  </div>
</ng-template>