<table class="table">
    <thead>
        <tr>
            <th>
                <div class="d-flex align-items-center">
                    <span class="mx-2">NOME XML</span>
                    <app-handler-order [current]="listOrder" field="nomeArquivo" (order)="listOrder=$event"></app-handler-order>
                </div>
            </th>
            <th>
                <div class="d-flex align-items-center">
                    <span class="mx-2">USUÁRIO</span>
                    <app-handler-order [current]="listOrder" field="nomeArquivo" (order)="listOrder=$event"></app-handler-order>
                </div>

            </th>
            <th>
                <div class="d-flex align-items-center">
                    <span class="mx-2">DATA</span>
                    <app-handler-order [current]="listOrder" field="created" (order)="listOrder=$event"></app-handler-order>
                </div>

            </th>
            <th>
                <div class="d-flex align-items-center">
                    <span class="mx-2">AÇÕES</span>
                </div>
            </th>
        </tr>
    </thead>
    <tr [hidden]="!loading.isLoading">
        <td colspan="4" class="text-center">
            <app-loading type="inline"></app-loading>
        </td>
    </tr>
    <tr *ngFor="let file of xmls | orderBy:listOrder.field:listOrder.direction">
        <td>{{ file.nomeArquivo }}</td>
        <td>{{file.user.nomeCompleto}}</td>
        <td>{{ file.created | date:'dd/MM/yyyy' }}</td>
        <td>
            <button type="button" class="btn btn-primary" [downloadFile]="file">
                <i class="ta-download"></i>
                DOWNLOAD
            </button>
        </td>
    </tr>
</table>
