<div class="row justify-content-between">
  <div class="col">
    <h5 class="text-uppercase text-blue font-weight-normal my-4">Projetos em Proposta</h5>
  </div>
</div>



<div *ngFor="let project of projetos">
  <div *ngIf="project.catalogStatus.status == 'Proposta'">{{ project.titulo }}</div>
</div>


<!-- <app-projetos-list [projetos]="projetos"></app-projetos-list> -->

<div class="py-4 text-center btn-sm" *ngIf="projetos.length === 0 && !loading.isLoading">
  <button class="btn btn-primary" (click)="loadData()">Atualizar</button>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <app-loading type="inline" background="transparent" color="#AAA" size="3x"></app-loading>
    </div>
  </div>
</div>