<div class="modal-header">
  <div class="text-uppercase modal-title text-blue-light fs-24">Proposta {{captacao.proposta}}</div>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.close('close')">
    <i class="ta-cancel-circle"></i>
  </button>
</div>
<div class="modal-body position-relative">
  <app-loading type="fullparent" [isLoading]="progress !== null" background="rgba(255,255,255,0.75)"
               color="#444"></app-loading>
  <div>
    <button class="btn btn-link" type="button"
            (click)="download('PlanoTrabalho')">
      <i class="ta-attachment"></i>
      Plano de Trabalho.pdf
    </button>
  </div>
  <div>
    <button class="btn btn-link" type="button" (click)="download('Contrato')">
      <i class="ta-attachment"></i>
      Contrato.pdf
    </button>
  </div>
  <div>
    <button class="btn btn-link" type="button" (click)="download('ArquivoComprobatorio')">
      <i class="ta-attachment"></i>
      Arquivo Comprobatório
    </button>
  </div>
</div>
