@import "src/styles/components-base";

.wrap-controls {
  margin-left: -.25rem;
  margin-right: -.25rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: .25rem;

  &.disabled {
    .wrap-input-control {
      background-color: $cinzaClaro;
      cursor: default;

      &.active {
        background-color: $cinza;

      }
    }
  }
}

.wrap-input-control {
  padding: .25rem;
  cursor: pointer;
  background: $cinzaClaro;
  transition: background-color 250ms ease-in-out;

  &.active {
    color: white;
    background-color: $blue;
  }

  &:hover {
    background-color: #DDDDDD88;
  }
}
