<div class="modal-header">
  <div class="text-uppercase modal-title text-blue-light fs-24">Proposta {{proposta.fornecedor}}</div>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.close('close')">
    <i class="ta-cancel-circle"></i>
  </button>
</div>
<div class="modal-body position-relative">
  <app-loading type="fullparent" [isLoading]="progress !== null" background="rgba(255,255,255,0.75)"
               color="#444"></app-loading>
  <div *ngIf="proposta.planoFinalizado; else noPlano">
    <button class="btn btn-link" type="button"
            (click)="download('PlanoTrabalho')">
      <i class="ta-attachment"></i>
      Plano de Trabalho.pdf
    </button>
  </div>
  <div *ngIf="proposta.contratoFinalizado; else noContrato">
    <button class="btn btn-link" type="button" (click)="download('Contrato')">
      <i class="ta-attachment"></i>
      Contrato.pdf
    </button>
  </div>
</div>
<ng-template #noPlano>
  <div class="alert alert-cinza">
    O Plano de trabalho não foi gerado ao longo da etapa de captação da Proposta
  </div>
</ng-template>
<ng-template #noContrato>
  <div class="alert alert-cinza">
    O Contrato não foi gerado ao longo da etapa de captação da Proposta
  </div>
</ng-template>
