<app-loading type="fullscreen"></app-loading>
<form [formGroup]="form" *ngIf="form" appLogger="Registro REFP">
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="">BENEFICIÁRIO (RECURSO HUMANO)</label>
                <select class="form-control" formControlName="recursoHumanoId" appLogItem="Beneficiário">
                    <option value="">Selecionar</option>
                    <option [value]="r.id" *ngFor="let r of recursos">{{ r.nomeCompleto }}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">

            <div class="form-group">
                <label>MÊS REFERÊNCIA</label>
                <select class="form-control" formControlName="mes" appLogItem="Mês referência">
                    <option value="">Selecione</option>
                    <option [value]="item.value" *ngFor="let item of mesesRef">{{item.text}}</option>
                </select>
            </div>

        </div>

        <div class="col-4">
            <div class="form-group">
                <label>QUANTIDADE HORAS</label>
                <input type="text" class="form-control" maxlength="3" value="" placeholder="000" mask="0*"
                       appLogItem="Quantidade horas"
                       formControlName="qtdHrs">
            </div>
        </div>

        <div class="col-4">
            <div class="form-group">
                <label>EMPRESA FINACIADORA</label>
                <select class="form-control" formControlName="empresaFinanciadoraId"
                        appLogItem="Empresa Financiadora">
                    <option value="">Selecionar Empresa</option>
                    <option [value]="e.id" *ngFor="let e of empresas">{{e.nome}} </option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="form-group">
                <label>TIPO DE DOCUMENTO?</label>
                <select class="form-control" formControlName="tipoDocumento" appLogItem="Tipo de documento">
                    <option value="">Selecionar</option>
                    <option [value]="t.value" *ngFor="let t of tipoDocs">{{ t.text }}</option>
                </select>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label for="">NÚMERO DE DOCUMENTO</label>
                <input type="text" class="form-control" value="" formControlName="numeroDocumento"
                       appLogItem="Número de documento">
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label for="">DATA DO DOCUMENTO</label>
                <input type="date" class="form-control" value="" placeholder="dd/mm/aaaa"
                       appLogItem="Data do documento"
                       formControlName="dataDocumento">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="">CUSTO FINAL (CÁLCULO AUTOMÁTICO)</label>
                <input type="text" disabled class="form-control" [value]="valorFinal | currency:'R$'">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="">ATIVIDADE REALIZADA NA ETAPA PELA PESSOA</label>
                <textarea name="" id="" cols="30" rows="4" class="form-control"
                          formControlName="atividadeRealizada"
                          appLogItem="Atividade realizada na etapa pela pessoa"></textarea>
            </div>

        </div>
    </div>
    <div class="row" *ngIf="observacoes.length > 0">
        <div class="col-12">
            <div class="form-group">
                <label for="">OBSERVAÇÕES INTERNAS</label>
                <div *ngFor="let obs of observacoes">
                    <div class="border border-cinza bg-cinza-claro rounded my-3 p-3">{{obs.texto}}</div>
                    <div class="text-right">
                        <span>{{obs.created | date:'medium'}}</span>
                        <span> por {{obs.user.nomeCompleto}}</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="form-group">
                <label for="">COMPROVANTE DE DESPESA</label>
            </div>
            <div *ngIf="registro">
                <div class="btn btn-link" [downloadFile]="file" *ngFor="let file of registro.uploads">
                    {{file.nomeArquivo}}
                    <!-- <i class="ta-cancel-circle" (click)="deletarArquivo(file)"></i> -->
                </div>
            </div>
            <div *ngIf="isEditable">
                <label class="btn btn-link">
                    <i class="ta-upload mx-2 fs-22"></i>
                    <span>Selecionar arquivo </span>
                    <strong *ngFor="let file of file.files"> ({{file.name}})</strong>
                    <input type="file" name="" id="" class="form-control d-none" #file (change)="changeFile($event)">
                </label>
            </div>
        </div>
        <div class="col-4">&nbsp;</div>
        <div class="col-4">

        </div>
    </div>
    <ng-container [ngSwitch]="status">
        <ng-container *ngSwitchCase="'pendente'">
            <div class="row" *appUserAprovador>
                <div class="col-12 d-flex justify-content-around">
                    <button class="btn btn-danger" (click)="saveStatus('reprovado')">
                        <i class="ta-cancel-circle"></i>
                        Reprovar Registro
                    </button>
                    <button class="btn btn-success" (click)="saveStatus('aprovado')">
                        <i class="ta-ok"></i>
                        Aprovar registro
                    </button>
                </div>
            </div>
            <div class="row mt-4" *appUserAdmin>
                <div class="col-12">
                    <button class="btn btn-link" (click)="removerRegistro()">
                        <i class="ta-cancel-circle"></i>
                        Excluir Registro
                    </button>
                </div>
            </div>
        </ng-container>
        <ng-container *ngSwitchCase="'reprovado'">
            <div class="row">
                <div class="col-12">
                    <div class="form-group" [formGroup]="obsInternas">
                        <label for="">RESPOSTA QUESTIONAMENTOS (SERÁ ADICIONADO AS OBSERVAÇÕES INTERNAS)</label>
                        <textarea name="" id="" cols="30" rows="4" class="form-control"
                                  formControlName="texto"
                                  appLogItem="Resposta questionamentos"
                        ></textarea>
                    </div>
                    <div class="text-right">
                        <button class="btn btn-primary" *appUserEscrita [disabled]="obsInternas.invalid"
                                (click)="enviarAprovacao()">
                            <i class="ta-plus-circle"></i>
                            Reenviar para Aprovação
                        </button>
                    </div>
                </div>
            </div>
            <div class="row mt-4" *appUserAdmin>
                <div class="col-12">
                    <button class="btn btn-link" (click)="removerRegistro()">
                        <i class="ta-cancel-circle"></i>
                        Excluir Registro
                    </button>
                </div>
            </div>
        </ng-container>
        <ng-container *ngSwitchCase="'aprovado'">
            <div class="row mt-4">
                <div class="col-12">
                    <button class="btn btn-link" (click)="editarRegistro()" *appUserAprovador>
                        <i class="ta-edit"></i>
                        Editar Registro
                    </button>
                    <button class="btn btn-link" (click)="removerRegistro()" *appUserAdmin>
                        <i class="ta-cancel-circle"></i>
                        Excluir Registro
                    </button>
                </div>
            </div>
        </ng-container>
    </ng-container>
</form>
