<div class="row" [hidden]="!loading.isLoading">
    <div class="col-12 text-center py-4">
        <app-loading type="inline"></app-loading>
    </div>
</div>
<div class="row" [hidden]="loading.isLoading">
    <div class="col-12">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <div class="d-flex align-items-center">
                            <span class="mx-2">NOME</span>
                            <span class="d-flex flex-column">
                                <fa-icon icon="caret-up" class="d-inline-flex" size="1x"></fa-icon>
                                <fa-icon icon="caret-down" class="d-inline-flex" size="1x"></fa-icon>
                            </span>
                        </div>
                    </th>
                    <th>
                        <div class="d-flex align-items-center">
                            <span class="mx-2">EMPRESA</span>
                            <span class="d-flex flex-column">
                                <fa-icon icon="caret-up" class="d-inline-flex" size="1x"></fa-icon>
                                <fa-icon icon="caret-down" class="d-inline-flex" size="1x"></fa-icon>
                            </span>
                        </div>

                    </th>
                    <th>
                        <div class="d-flex align-items-center">
                            <span class="mx-2">&nbsp;</span>
                        </div>
                    </th>
                </tr>
            </thead>
            <tr *ngFor="let userPermissao of usersPermissao">
                <td> {{userPermissao.user.nomeCompleto}} </td>
                <td>
                    <span *ngIf="userPermissao.user.catalogEmpresa">
                        {{userPermissao.user.catalogEmpresa.nome}} 
                    </span>
                    <span>
                        {{userPermissao.user.razaoSocial}} 
                    </span>
                </td>
                <td class="w-25">
                    <form [formGroup]="userPermissao.formGroup">
                        <select name="" id="" class="form-control" formControlName="catalogUserPermissaoId">
                            <option value="">Sem Permissão</option>
                            <option [value]="nivel.id" *ngFor="let nivel of permissoes">
                                {{nivel.nome}}
                            </option>
                        </select>
                    </form>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-12 text-right">
        <button class="btn btn-primary" ngbTooltip="Em desenvolvimento"><i class="ta-save"></i> Salvar</button>
    </div>
</div>