<div class="row">
    <div class="col-12">
        <table class="table">
            <thead>
                <tr>
                    <th><input type="checkbox" [formControl]="selectAll"></th>
                    <th>&nbsp;</th>
                    <th>
                        <div class="d-flex align-items-center">
                            <span class="mx-2">NOME</span>
                            <span class="d-flex flex-column">
                                <fa-icon icon="caret-up" class="d-inline-flex" size="1x"></fa-icon>
                                <fa-icon icon="caret-down" class="d-inline-flex" size="1x"></fa-icon>
                            </span>
                        </div>
                    </th>
                    <th>
                        <div class="d-flex align-items-center">
                            <span class="mx-2">EMPRESA</span>
                            <span class="d-flex flex-column">
                                <fa-icon icon="caret-up" class="d-inline-flex" size="1x"></fa-icon>
                                <fa-icon icon="caret-down" class="d-inline-flex" size="1x"></fa-icon>
                            </span>
                        </div>

                    </th>
                    <th>
                        <div class="d-flex align-items-center">
                            <span class="mx-2">&nbsp;</span>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td [hidden]="!loading.isLoading" colspan="5" class="text-center">
                        <app-loading type="inline"></app-loading>
                    </td>
                </tr>
                <tr *ngFor="let userPermissao of usersPermissao; index as i">
                    <td [formGroup]="formUsersSelecteds">
                        <input type="checkbox" [formControlName]="userPermissao.user.id">
                    </td>
                    <td width="32">
                        <!-- 
                            <img [src]="avatars[userPermissao.user.id] | async" width="32" height="32" alt="" class="rounded-circle mr-3">
                        -->
                    </td>
                    <td> {{userPermissao.user.nomeCompleto}} </td>
                    <td>
                        <span *ngIf="userPermissao.user.catalogEmpresa">
                        {{userPermissao.user.catalogEmpresa.nome}}
                        </span>
                        <span>
                        {{userPermissao.user.razaoSocial}}
                        </span>
                    </td>
                    <td class="w-25">
                        <form [formGroup]="userPermissao.formGroup">
                            <select name="" id="" class="form-control" formControlName="catalogUserPermissaoId">
                                <option value="">Sem Permissão</option>
                                <option [value]="nivel.id" *ngFor="let nivel of permissoes">
                                    {{nivel.nome}}
                                </option>
                            </select>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td colspan="5">Alteração em massa:
                        <br>
                        <select class="d-inline-block form-control-sm" [formControl]="globalcatalogUserPermissaoId">
                            <option value="">Sem Permissão</option>
                            <option [value]="nivel.id" *ngFor="let nivel of permissoes">
                                {{nivel.nome}}
                            </option>
                        </select>
                        <button class="btn btn-light btn-outline-cinza btn-sm d-inline-block ml-3" (click)="aplicarPermissoes()">Aplicar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-12 text-right">
        <button class="btn btn-primary" (click)="save()" [disabled]="loadingSaving.isLoading">
            <i class="ta-save"></i> Salvar
        </button>
    </div>
</div>
<app-loading #saving type="fullscreen"></app-loading>
