<app-loading #loading type="fullscreen"></app-loading>
<div *ngIf="canExtend && form && mesesRef.length === 0">
    <div class="row">
        <div class="col-12">
            <div class="alert alert-danger">
                <i class="ta-warning fs-24"></i>
                Esse projeto atingiu o limite máximo de 60 meses.
            </div>
        </div>
    </div>
</div>
<div *ngIf="!canExtend && canExtendMessage.length > 0">
    <div class="row">
        <div class="col-12">
            <div class="alert alert-danger">
                <i class="ta-warning fs-24"></i>
                {{canExtendMessage}}
            </div>
        </div>
    </div>
</div>
<div *ngIf="form && mesesRef.length > 0">
    <div class="row">
        <div class="col-12">
            <div class="alert alert-danger"><i class="ta-warning"></i> Será criada uma nova Etapa no projeto chamada
                "Prorrogação" contendo a duração que será acrescentada ao projeto.
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="form-group m-0">
                <label for="">NOVA DATA FINAL DO PROJETO</label>
            </div>

            <div class="form-group" [formGroup]="form">
                <select name="" id="" class="form-control" formControlName="dataFim">
                    <option value="">Selecione</option>
                    <option [value]="item.value" *ngFor="let item of mesesRef" [innerHTML]="item.text"></option>
                </select>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="">PRODUTOS INTERMEDIÁRIOS ASSOCIADOS A ESTA ETAPA</label>
                <div class="row mb-3" *ngFor="let item of produtosGroup.controls; let i = index;">
                    <div class="col-11" [formGroup]="item">
                        <select name="" id="" class="form-control" formControlName="produtoId">
                            <option value="">Selecione</option>
                            <option *ngFor="let p of filtrarProdutos(item)" [value]="p.id">{{p.titulo}}</option>
                        </select>
                    </div>
                    <div class="col-1 d-flex align-items-center">
                        <button class="btn p-0 hover-text-blue" type="button" (click)="removerProduto(i)">
                            <i class="ta-remove-circle fs-24"></i>
                        </button>
                    </div>
                </div>

                <div class="row my-3" *ngIf="produtosGroup.length < produtos.length">
                    <div class="col">
                        <button class="btn p-0 hover-text-blue" (click)="adicionarProduto()">
                            <i class="ta-plus-circle fs-24 align-middle"></i>
                            Adicionar Produto
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="form-group" [formGroup]="etapaGroup">
                <label for="">DESCRIÇÃO DAS ATIVIDADES</label>
                <textarea name="" id="" cols="30" rows="4" class="form-control" formControlName="desc"></textarea>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-12 text-right">
            <button class="btn btn-primary" [disabled]="form.invalid" (click)="submit()">
                <i class="ta-sync"></i>
                Prorrogar Projeto
            </button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h5>GERAR XML DE PRORROGAÇÃO PROJETO</h5>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="bg-cinza-claro my-3 p-3 rounded">

            <div class="form-group" [formGroup]="formXml">
                <label for="">VERSÃO</label>
                <div class="row">
                    <div class="col-2">
                        <input type="text" class="form-control" formControlName="xmlProjetoProrrogacao" mask="0*">
                    </div>
                    <div class="col-10">
                        <app-loading #xmlLoading type="inline"></app-loading>
                        <button class="btn btn-primary" [disabled]="formXml.invalid" (click)="gerarXmlProrrogacao()">
                            <i class="ta-download"></i> Gerar XML
                        </button>
                    </div>
                </div>
            </div>
            <div hidden>
                <p class="text-success"><i class="ta-ok"></i> Todos os campos necessários para a geração deste XML estão
                    preenchidos.</p>
            </div>
        </div>
    </div>
</div>
