<div class="row" *ngIf="parent.captacao.status === 'Cancelada'">
  <div class="col">
    <div class="alert alert-danger d-flex align-items-center">
      <i class="ta-alert fs-22 mr-3"></i>
      <span class="fs-18">Esta captação foi cancelada</span>
    </div>
  </div>
</div>
<div class="row justify-content-between">
  <div class="col">
    <h5 class="text-uppercase text-blue font-weight-normal my-4">
      PROJETOS - CAPTAÇÃO DE PROPOSTAS
    </h5>
  </div>
</div>

<div class="row mb-5" >
  <div class="col-12">
    <ul class="nav nav-bar-row nav-justified pt-3">
      <ng-container *ngFor="let route of menu">
        <li class="nav-item">
          <a
            routerLinkActive="active"
            class="nav-link"
            [routerLink]="route.path"
          >{{ route.text }}</a
          >
        </li>
      </ng-container>
    </ul>
  </div>
</div>

<div class="wrap-outlet-projeto">
  <router-outlet></router-outlet>
</div>
