<header class="dashboard-header">
  <div class="container-fluid py-4 text-white">
    <div class="row">
      <div class="col-12 d-flex justify-content-between px-5">
        <div class="align-items-center d-flex">
          <div class="d-inline-block border-right border-white px-3 mr-3">
            <a routerLink="/">
              <img src="/assets/logo.png" alt="TAESATEC"/>
            </a>
          </div>
          <span class="fs-24">GESTOR PDI</span>
        </div>
        <div>
          <div class="d-flex flex-row">
            <div style="width: 48px;">
              <div
                *ngIf="currentUser"
                class="embed-responsive embed-responsive-1by1 cursor-pointer"
                (click)="openCadastro()"
              >
                <div
                  class="embed-responsive-item rounded-circle"
                  [ngStyle]="{
                    'background-size': 'cover',
                    'background-position': 'center',
                    'background-image': 'url('+avatar+')'
                  }"
                ></div>
              </div>
            </div>
            <div
              *ngIf="currentUser"
              class="px-3 mr-3 border-right border-white cursor-pointer"
              (click)="openCadastro()"
            >
              <strong>{{ currentUser.nomeCompleto }} </strong>
              <br/>
              <span>{{ empresa }}</span>
            </div>
            <div class="wrap-menu-dropdown">
              <div
                ngbDropdown
                class="d-inline-block"
                #menuDrop="ngbDropdown"
                placement="bottom-right"
              >
                <button class="btn text-white" id="menuDrop" ngbDropdownToggle>
                  <div class="ta-gear fs-36"></div>
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <ng-container *ngFor="let route of menu">
                    <a [routerLink]="route.path"
                       class="dropdown-item"
                       routerLinkActive="active"
                    >
                      <span class="fs-24 mr-3"><i [class]="route.icon"></i></span>
                      {{ route.text }}
                    </a>
                  </ng-container>
                  <button (click)="logout()"
                          class="dropdown-item"
                  >
                    <span class="fs-24 mr-3"><i class="ta-exit"></i></span>
                    Logout
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
