<div class="row">
    <div class="col">
        <h5 class="text-uppercase text-blue font-weight-normal my-3">RESULTADOS APOIO A INFRA-ESTRUTURA</h5>
    </div>
</div>

<div class="row mt-5">
    <div class="col-12 text-right">
        <button *appUserEscrita class="btn btn-outline-primary" (click)="criar()"><i class="ta-plus-circle"></i> Registrar Apoio a Infra-estrutura</button>
    </div>
</div>

<div class="row mt-5">
    <div class="col-12">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <div class="d-flex align-items-center">
                                <span class="mx-2">Nome Laboratório</span>
                                <app-handler-order [current]="listOrder" field="nomeLaboratorio" (order)="listOrder=$event"></app-handler-order>
                            </div>
                        </th>
                        <th>
                            <div class="d-flex align-items-center">
                                <span class="mx-2">CNPJ Entidade</span>
                                <app-handler-order [current]="listOrder" field="cnpjReceptora" (order)="listOrder=$event"></app-handler-order>
                            </div>
                        </th>
                        <th class="text-right">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let resultado of resultados | orderBy:listOrder.field:listOrder.direction">
                        <td>{{resultado.nomeLaboratorio}}</td>
                        <td>{{resultado.cnpjReceptora | mask:'00.000.000/0000-00'}}</td>
                        <td class="text-right">
                            <button class="btn btn-primary btn-sm" type="button" (click)="editar(resultado)"><i class="ta-edit"></i> Editar</button>
                        </td>
                    </tr>
                    <tr [hidden]="!loading.isLoading">
                        <td colspan="3" class="text-center">
                            <app-loading type="inline"></app-loading>
                        </td>
                    </tr>
                    <tr *ngIf="resultados.length === 0 && !loading.isLoading">
                        <td colspan="3" class="text-center">Nenhum Resultado Encontrado</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
