<div class="row">
  <div class="col-12 px-4 py-5">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="row mb-3">
        <div class="form-group col">
          <label for="titulo-contrato">Título Contrato</label>
          <input type="text" class="form-control" id="titulo-contrato" formControlName="titulo">
        </div>
      </div>
      <div class="form-group">
        <label>PARTE INICIAL (NÃO EDITÁVEL PELO FORNECEDOR)</label>
        <ckeditor
          [editor]="editor"
          [config]="configEditor"
          formControlName="header"
        ></ckeditor>
      </div>
      <hr class="my-3">
      <div class="form-group">
        <label>PARTE CENTRAL (EDITÁVEL PELO FORNECEDOR)</label>
        <ckeditor
          [editor]="editor"
          [config]="configEditorFornecedor"
          formControlName="conteudo"
        ></ckeditor>
      </div>
      <hr class="my-3">
      <div class="form-group">
        <label>PARTE FINAL (NÃO EDITÁVEL PELO FORNECEDOR)</label>
        <ckeditor
          [editor]="editor"
          [config]="configEditor"
          formControlName="footer"
        ></ckeditor>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
          <i class="ta-save"></i>
          Salvar Dados
        </button>
      </div>
    </form>
  </div>
</div>
