<div class="row mb-5">
  <div class="col">
    <h5 class="text-uppercase text-blue font-weight-normal my-3">
            Empresas
        </h5>
  </div>
  <div class="col text-right">
    <button class="btn btn-outline-primary" *appUserEscrita type="button" (click)="openModal()">
      <i class="ta-plus-circle fs-24 align-middle"></i>
      Nova empresa
    </button>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <table class="table">
      <thead>
        <tr>
          <th>
            <div class="d-flex align-items-center">
              <span class="mx-2">Nome ou Razão Social</span>
            </div>
          </th>
          <th>
            <div class="d-flex align-items-center">
              <span class="mx-2">Classificação</span>
            </div>

          </th>
          <th>
            <div class="d-flex align-items-center">
              <span class="mx-2">Ações</span>
            </div>
          </th>
        </tr>
      </thead>
      <tr>
        <td colspan="3" class="text-center p-0">
          <app-loading type="inline"></app-loading>
        </td>
      </tr>
      <tr *ngFor="let empresa of empresas">
        <td>
          <span *ngIf="empresa.catalogEmpresa">
            {{ empresa.catalogEmpresa.nome }}
          </span>
          <span>
            {{empresa.razaoSocial}}
          </span>
        </td>
        <td>Empresa {{ empresa.classificacaoValor }}</td>
        <td>
          <button type="button" class="btn btn-primary" [disabled]="empresa.classificacaoValor === 'Proponente'" (click)="openModal(empresa)">
            <i class="ta-edit"></i>
            EDITAR
          </button>
        </td>
      </tr>
    </table>
  </div>
</div>

<hr>
<div class="row">
  <div class="col-auto">
    <!-- <i class="ta-user-o text-blue-light"></i> Última atualização em 16.02.2019, às 19:30 por André Moraes --> </div>
  <div class="col text-right">

  </div>
</div>
