<div class="row">
  <div class="col">
    <h5 class="text-uppercase text-blue font-weight-normal my-4">CONTRATOS</h5>
  </div>
</div>

<div class="row mb-5 bg-light">
  <div class="col d-flex justify-content-between align-items-center py-2">
    <h5 class="font-weight-normal m-0">{{contrato.titulo}}</h5>
  </div>
</div>

<div class="row mb-3" *ngIf="contrato.finalizado">
  <div class="col">
    <div class="border border-success rounded d-flex text-success align-items-center p-3">
      <i class="ta-ok fs-48 mr-3"></i>
      <div>
        Você marcou o contrato como finalizado. Se quiser é possível editar o mesmo até a data máxima de captação.
      </div>
    </div>
  </div>
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit($event)">

  <div class="row">
    <div class="col">
      <h5 class="text-blue-light">PARTE INICIAL (NÃO EDITÁVEL - VARÍAVEIS PREENCHIDAS AUTOMATICAMENTE):</h5>
      <div class="bg-cinza-claro p-3 rounded my-3">
        <div [innerHTML]="contrato.header" class="bg-white p-3" style="cursor: not-allowed"></div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col">


      <div class="form-group">
        <div class="bg-cinza-claro p-3 rounded my-3">
          <ckeditor
            [editor]="editor"
            [config]="configEditor"
            formControlName="conteudo"
          ></ckeditor>
        </div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col">
      <h5 class="text-blue-light">PARTE FINAL (NÃO EDITÁVEL - VARÍAVEIS PREENCHIDAS AUTOMATICAMENTE):</h5>
      <div class="bg-cinza-claro p-3 rounded my-3">
        <div [innerHTML]="contrato.parent.footer" class="bg-white p-3" style="cursor: not-allowed"></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">

      <div class="form-group d-flex mt-4">
        <button type="button" class="button btn btn-link px-0" (click)="historico()">
          <i class="ta-ampulheta"></i>
          Histórico de Versões
        </button>
        <div class="ml-auto">
          <button type="button" class="btn btn-link" [disabled]="contrato.id === 0" (click)="downloadPdf()">
            <i class="ta-download"></i>
            Download PDF
          </button>
          <button type="submit" class="btn btn-outline-primary mx-2" value="draft" [disabled]="form.invalid">
            <i class="ta-save fs-24 align-middle"></i>
            Salvar como Rascunho
          </button>
          <button type="submit" class="btn btn-success mx-2" value="publish" [disabled]="form.invalid">
            <i class="ta-ok fs-24 align-middle"></i>
            Salvar e Marcar como Finalizado
          </button>
        </div>
      </div>

    </div>
  </div>
</form>
