<div class="modal-header">
    <div class="text-uppercase modal-title text-blue-light fs-20">
        {{ capacitacao ? 'Editar' : 'Registrar' }} Capacitação Profissional
    </div>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.close('close')">
        <i class="ta-cancel-circle"></i>
    </button>
</div>

<div class="modal-body">
    <form [formGroup]="form" (ngSubmit)="submit()">

        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label>RECURSO HUMANO</label>
                    <select class="form-control" formControlName="recursoId">
                        <option value="" hidden>Selecione</option>
                        <option [value]="1">Valor 1</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label>TIPO DE CAPACITAÇÃO</label>
                    <select class="form-control" formControlName="tipo">
                        <option value="" hidden>Selecione</option>
                        <option value="PD">PósDoutorado (Stricto Sensu)</option>
                        <option value="DO">Doutorado (Stricto Sensu)</option>
                        <option value="ME">Mestrado (Stricto Sensu)</option>
                        <option value="ES">Especialização (Lato Sensu)</option>
                    </select>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label>CONCLUSÃO DA CAPACITAÇÃO?</label>
                    <select class="form-control" formControlName="isConcluido">
                        <option value="" hidden>Selecione</option>
                        <option value="true">Sim</option>
                        <option value="false">Não</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label>DATA DE CONCLUSÃO CAPACITAÇÃO</label>
                    <input type="date" class="form-control" formControlName="dataConclusao">
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label>CNPJ INSTITUIÇÃO</label>
                    <input formControlName="cnpjInstituicao" type="text" class="form-control" 
                        placeholder="00.000.000/0000-00" mask="00.000.000/0000-00">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label>ÁREA DA PESQUISA DE CAPTAÇÃO PROFISSIONAL</label>
                    <app-textarea class="form-control" rows="2" maxlength="50" formControlName="areaPesquisa"></app-textarea>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label>TÍTULO DO TRABALHO QUE DEU ORIGEM À CAPACITAÇÃO PROFISSIONAL</label>
                    <app-textarea class="form-control" rows="2" maxlength="200" formControlName="tituloTrabalhoOrigem"></app-textarea>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="form-group m-0">
                    <label>ANEXAR ARQUIVO DO TRABALHO QUE DEU ORIGEM A CAPTAÇÃO PROFISSIONAL (EM PDF)</label>
                </div>
                <label class="btn-link btn px-0">
                    <i class="ta-attachment"></i> {{file?.name || 'Anexar'}}
                    <input type="file" accept=".pdf" hidden (change)="fileChange('file', $event)">
                </label>
            </div>
        </div>

        <div class="form-group d-flex justify-content-end mt-4">
            <div class="button btn btn-link" (click)="activeModal.close('cancel')">
                Cancelar
            </div>
            <button type="button" class="btn btn-link" [disabled]="form.invalid"
                *ngIf="form.value.id"
                (click)="delete()">
                <i class="ta-times-circle mr-1"></i>
                Excluir
            </button>
            <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
                <i class="ta-save mr-1"></i>
                Salvar Captação Profissional
            </button>
        </div>
    </form>
</div>