<div class="row justify-content-between">
  <div class="col mb-4">
    <h5 class="text-uppercase text-blue font-weight-normal my-4">TABELA DE RISCOS</h5>
  </div>
  <div class="col-auto">
    <a class="btn btn-outline-primary" routerLink="./" fragment="novo">
      <i class="ta-plus-circle fs-24 align-middle"></i>
      Registrar Risco
    </a>
  </div>
</div>
<div class="row">
  <div class="col">
    <app-table
      [cols]="cols"
      [data]="riscos"
      [buttons]="buttons"
    >
    </app-table>
  </div>
</div>
