<form [formGroup]="form" class="mt-5">
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <label for="">Nome do Item</label>
        <input type="text" class="form-control">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <label for="">Recurso Material Associado</label>
        <select name="" id="" class="form-control"></select>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <div class="form-group">
        <label for="">Empresa Financiadora</label>
        <select name="" id="" class="form-control"></select>
      </div>
    </div>
    <div class="col-4">
      <div class="form-group">
        <label for="">Empresa Recebedora</label>
        <select name="" id="" class="form-control"></select>
      </div>
    </div>
    <div class="col-4">
      <div class="form-group">
        <label for="">Beneficiado</label>
        <input type="text" class="form-control">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <div class="form-group">
        <label for="">Irá equipar laboratório Existente</label>
        <select name="" id="" class="form-control"></select>
      </div>
    </div>
    <div class="col-4">
      <div class="form-group">
        <label for="">Irá equipar laboratório Novo</label>
        <select name="" id="" class="form-control"></select>
      </div>
    </div>
    <div class="col-4">
      <div class="form-group">
        <label for="">Item Nacional</label>
        <select name="" id="" class="form-control"></select>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-4">
      <div class="form-group">
        <label for="">Mês Referência</label>
        <select name="" id="" class="form-control"></select>
      </div>
    </div>
    <div class="col-4">
      <div class="form-group">
        <label for="">Quantidade itens</label>
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="col-4">
      <div class="form-group">
        <label for="">Valor Unitário</label>
        <input type="number" class="form-control">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <div class="form-group">
        <label for="">Tipo de Documento?</label>
        <select name="" id="" class="form-control">
          <option value="">Selecione</option>
          <option value="CupomFiscal">Cupom Fiscal</option>
          <option value="Declaracao">Declaração</option>
          <option value="Fatura">Fatura</option>
          <option value="Guia">Guia</option>
          <option value="Nota">Nota</option>
          <option value="Recibo">Recibo</option>
          <option value="Reserva">Reserva</option>
          <option value="ReciboSemCnpj">Recibo Sem Cnpj</option>
        </select>
      </div>
    </div>
    <div class="col-4">
      <div class="form-group">
        <label for="">Número de Documento</label>
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="col-4">
      <div class="form-group">
        <label for="">Data do Documento</label>
        <input type="date" class="form-control">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="form-group"><label>Específicação Técnica</label>
        <textarea name="" id="" cols="30" rows="5" class="form-control"></textarea>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="form-group"><label>Função deste recurso nesta etapa do projeto</label>
        <textarea name="" id="" cols="30" rows="5" class="form-control"></textarea>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="form-group"><label>Observações Internas (Opcional)</label>
        <textarea name="" id="" cols="30" rows="5" class="form-control"></textarea>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="d-flex justify-content-between">
        <div class="form-group">
          <label>COMPROVANTE DA DESPESA</label>
          ...
        </div>
        <div class="form-group">
          <label>Valor Final (Cálculo automático)</label>
          <input type="text" class="form-control" readonly value="00000">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 d-flex justify-content-end">
      <button class="btn btn-link" type="button">Cancelar</button>
      <button class="btn btn-primary" type="submit"><i class="ta-plus-circle"></i> Salvar Registro</button>
    </div>
  </div>


</form>
