<div class="modal-header">
    <h5 class="modal-title">REGISTRAR PROPRIEDADE INTELECTUAL</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div [formGroup]="form" *ngIf="form" appLogger="Resultados produção técnico cientifica">
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="">TIPO DE PROPRIEDADE INTELECTUAL</label>
                    <select class="form-control" formControlName="tipo" appLogItem="Tipo de propriedade intelectual">
                        <option value="">Selecione</option>
                        <option *ngFor="let tipo of tiposPropriedades" [value]="tipo.value">{{tipo.text}}</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label for="">DATA DO PEDITO INPI</label>
                    <input type="date" class="form-control" formControlName="dataPedido"
                           appLogItem="Data do pedito INPI">
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="">NÚMERO PEDIDO INPI</label>
                    <input type="text" formControlName="numeroPedido" maxlength="15" mask="0*" class="form-control"
                           appLogItem="Número pedido INPI">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="">TÍTULO DA PROPRIEDADE INTELECTUAL NO INPI</label>
                    <app-textarea formControlName="titulo" maxlength="200" rows="3" class="form-control"
                                  appLogItem="Título da propriedade intelectual no INPI"></app-textarea>
                </div>
            </div>
        </div>

        <div class="row" *ngIf="inventoresGroup">
            <div class="col-12">
                <div class="form-group">
                    <label for="">INVENTORES</label>
                    <div class="row mb-3" *ngFor="let item of inventoresGroup.controls; let i = index;">
                        <div class="col-11" [formGroup]="item">
                            <select class="form-control" formControlName="recursoHumanoId"
                                    appLogItem="Inventor">
                                <option value="">Selecione</option>
                                <option *ngFor="let p of filtrarInventor(item)" [value]="p.id">
                                    {{p.nomeCompleto}}
                                </option>
                            </select>
                        </div>
                        <div class="col-1 d-flex align-items-center">
                            <button class="btn p-0 hover-text-blue" type="button" (click)="removerInvetor(i)">
                                <i class="ta-remove-circle fs-24"></i>
                            </button>
                        </div>
                    </div>
                    <div class="row mb-4" *ngIf="inventoresGroup.length < recursosHumanos.length">
                        <div class="col">
                            <button class="btn p-0 hover-text-blue" (click)="adicionarInventor()">
                                <i class="ta-plus-circle fs-24 align-middle"></i>
                                Adicionar Inventor
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row" *ngIf="depositantesGroup">
            <div class="col-12">
                <div class="form-group">
                    <label for="">DEPOSITANTE PROPRIEDADE INTELECTUAL
                        <span [ngClass]="{'text-danger': depositantePercentual>100, 'text-warning':depositantePercentual < 100}">({{depositantePercentual}}
                            %)</span>
                    </label>
                    <div class="row mb-3" *ngFor="let item of depositantesGroup.controls; let i = index;"
                         [formGroup]="item">
                        <div class="col-5">
                            <select name="" id="" class="form-control" formControlName="empresaId"
                                    appLogItem="Depositante propriedade intelectual">
                                <option value="">Selecione</option>
                                <option *ngFor="let e of filtrarDepositante(item)" [value]="e.id">
                                    {{e.catalogEmpresa ? e.catalogEmpresa.nome : e.razaoSocial}}
                                </option>
                            </select>
                        </div>
                        <div class="col-5">
                            <input type="text" class="form-control" formControlName="entidade" sufix="%" mask="percent"
                                   appLogItem="Porcentagem">
                        </div>
                        <div class="col-1 d-flex align-items-center">
                            <button class="btn p-0 hover-text-blue" type="button" (click)="removerDepositante(i)">
                                <i class="ta-remove-circle fs-24"></i>
                            </button>
                        </div>
                    </div>
                    <div class="row mb-4" *ngIf="depositantesGroup.length < empresas.length">
                        <div class="col">
                            <button class="btn p-0 hover-text-blue" (click)="adicionarDepositante()">
                                <i class="ta-plus-circle fs-24 align-middle"></i>
                                Adicionar Depositante
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col">
                <button *ngIf="editable" class="btn btn-link" (click)="remove()">
                    <i class="ta-trash"></i> Excluir
                </button>
            </div>
            <div class="col">
                <div class="text-right">
                    <button class="btn btn-link" (click)="close()"><i class="ta-cancel-circle"></i> Cancelar</button>
                    <button *appUserEscrita class="btn btn-primary" (click)="submit()" [disabled]="form.invalid"><i
                            class="ta-plus-circle"></i> Salvar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<app-loading type="fullscreen"></app-loading>
