<h5 class="text-uppercase text-blue font-weight-normal my-3">Projeto Base Pesquisa e Desenvolvimento</h5>
<app-loading type="inline"></app-loading>
<div class="row">
    <div class="col-6">
        <div class="form-group">
            <label for="">Número projeto <app-tip [tipId]="7"></app-tip></label>
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="col-6">
        <div class="form-group">
            <label for="">Empresa Proponente <app-tip [tipId]="10"></app-tip></label>
            <select name="" id="" class="form-control"></select>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="form-group">
            <label for="">Titulo resumido projeto <app-tip [tipId]="8"></app-tip></label>
            <input type="text" class="form-control">
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="form-group">
            <label for="">Titulo do projeto <app-tip [tipId]="9"></app-tip></label>
            <textarea name="" id="" cols="30" rows="4" class="form-control"></textarea>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="form-group">
            <label for="">Segmento</label>
            <select name="" id="" class="form-control"></select>
        </div>
    </div>
    <div class="col-6">
        <div class="form-group">
            <label for="">Avaliação inicial do projeto</label>
            <select name="" id="" class="form-control"></select>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="form-group">
            <label for="">Compartilhamento dos resultados</label>
            <select name="" id="" class="form-control"></select>
        </div>
    </div>
    <div class="col-6">
        <div class="form-group">
            <label for="">Código do projeto</label>
            <input type="text" disabled class="form-control">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="form-group">
            <label for="">Motivação</label>
            <textarea name="" id="" cols="30" rows="4" class="form-control"></textarea>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="form-group">
            <label for="">Originalidade</label>
            <textarea name="" id="" cols="30" rows="4" class="form-control"></textarea>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="form-group">
            <label for="">Aplicabilidade</label>
            <textarea name="" id="" cols="30" rows="4" class="form-control"></textarea>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="form-group">
            <label for="">Relevância</label>
            <textarea name="" id="" cols="30" rows="4" class="form-control"></textarea>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="form-group">
            <label for="">Razoabilidade dos custos</label>
            <textarea name="" id="" cols="30" rows="4" class="form-control"></textarea>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="form-group">
            <label for="">Pesquisas Correlatas</label>
            <textarea name="" id="" cols="30" rows="4" class="form-control"></textarea>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-auto">
        <i class="ta-user-o text-blue-light"></i> Última atualização em 16.02.2019, às 19:30 por André Moraes</div>
    <div class="col text-right"><button class="btn btn-primary">Salvar Dados</button></div>
</div>