<div>
  <div class="file-list">
    <div class="file-item d-flex align-items-center justify-content-between"
         *ngFor="let file of fileinfo; let i = index;">
      <span class="text-primary">
        <i class="ta-attachment pr-2"></i> <span>{{file.name}} ({{file.size | filesize}})</span>
      </span>
      <button class="btn hover-text-primary" type="button" (click)="removeAt(i)">
        <i class="ta-cancel-circle"></i>
      </button>
    </div>
  </div>
</div>
<label class="btn btn-link px-0 text-primary font-weight-normal">
  <span class="text-capitalize">
    Adicionar arquivo <i class="ta-plus-circle"></i>
  </span>
  <input type="file" hidden (change)="elOnChange($event)">
</label>

