<div >
  <div class="d-flex justify-content-end" *ngIf="form === null">
    <button class="btn btn-danger" (click)="reprovar()">
      <i class="ta-cancel-circle"></i>
      Reprovar Demanda
    </button>
    <button class="btn btn-success ml-3" (click)="proximaEtapa()">
      <i class="ta-ok"></i>
      Aprovar Demanda
    </button>
  </div>
  <div *ngIf="form" [formGroup]="form">
    <h6 class="text-blue-light text-uppercase"> Motivo Reprovação (Será Adicionado as observações internas)</h6>
    <div class="form-group">
      <textarea cols="30" rows="5" class="form-control" formControlName="motivo"></textarea>
    </div>
    <h6 class="text-blue-light text-uppercase"> DEFINIR PRÓXIMA ETAPA:</h6>
    <div class="d-flex flex-column">
      <label>
        <input type="radio" formControlName="proximaEtapa" name="proximaEtapa" value="reiniciar">
        <span>Enviar demanda novamente para o Elaborador (a demanda será alterada e o ciclo de aprovação reiniciado)</span>
      </label>
      <label>
        <input type="radio" formControlName="proximaEtapa" name="proximaEtapa" value="finalizar">
        <span>Cancelar demanda (a demanda será arquivada e o processo finalizado).</span>
      </label>
      <div class="d-flex justify-content-end">
        <button class="btn btn-link" (click)="cancelarReprovacao()">
          Cancelar
        </button>
        <button class="btn btn-danger" (click)="reprovar()" [disabled]="form.invalid">
          <i class="ta-cancel-circle"></i>
          Reprovar Demanda
        </button>
      </div>
    </div>
  </div>
</div>

