<div class="modal-header">
    <div class="text-uppercase modal-title text-blue-light fs-24">{{modalTitle}}</div>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <i class="ta-cancel-circle"></i>
    </button>
</div>
<form class="modal-body" [formGroup]="form">
    <div class="mb-3">
        <div class="form-group m-0">
            <label>Classificação</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="input-r-produto-intermediario" value="Intermediario" formControlName="classificacao">
            <label class="form-check-label" for="input-r-produto-intermediario">Produto Intermediário</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="input-r-produto-final" value="Final" formControlName="classificacao">
            <label class="form-check-label" for="input-r-produto-final">Produto Final</label>
        </div>
    </div>
    <div class="form-group">
        <label for="">Tipo de produto</label>
        <select name="" id="" class="form-control" formControlName="tipo">
            <option value="">Selecione</option>
            <option [value]="tipo.value" *ngFor="let tipo of tiposProdutos">{{tipo.text}}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="">Fase da cadeia de inovação</label>
        <select name="" id="" class="form-control" formControlName="faseCadeia">
            <option value="">Selecione</option>
            <option [value]="fase.value" *ngFor="let fase of fases">{{fase.text}}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="">Titulo produto</label>
        <input type="text" class="form-control" formControlName="titulo">
    </div>
    <div class="form-group">
        <label for="">Descrição detalhada do produto</label>
        <app-textarea cols="30" rows="2" formControlName="desc" class="form-control"></app-textarea>
    </div>
    <ngb-alert [dismissible]="false" type="danger" *ngFor="let item of inconsistencias">
        {{item}}
    </ngb-alert>
    <div class="d-flex justify-content-between">
        <div>
            <ng-container *appUserAdmin>
                <button class="btn btn-link" (click)="excluir()" *ngIf="produto.id"><i class="ta-cancel-circle"></i> Excluir</button>
            </ng-container>
        </div>
        <div class="text-right">
            <button class="btn btn-link" (click)="activeModal.dismiss('cancel')">Cancelar</button>
            <button class="btn btn-primary" type="button" (click)="submit()" *appUserEscrita [disabled]="form.invalid">
                <i [class]="buttonAction.icon"></i>
                {{buttonAction.text}}
            </button>
        </div>
    </div>
</form>
<app-loading type="fullscreen"></app-loading>
