<div class="modal-header">
    <h5 class="modal-title">REGISTRAR PRODUÇÃO TÉCNICO CIENTÍFICA</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body" *ngIf="form" [formGroup]="form" appLogger="Resultados Produção técnico cientifica">
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label>TIPO DE PRODUÇÃO</label>
                <select class="form-control" formControlName="tipo" appLogItem="Tipo de produção">
                    <option value="">Selecione</option>
                    <option *ngFor="let tipo of tiposProducao" [value]="tipo.value">{{tipo.text}}</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label>DATA DA PUBLICAÇÃO</label>
                <input type="date" class="form-control" formControlName="dataPublicacao"
                       appLogItem="Data da publicação">
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label>RECEBIDA A CONFIRMAÇÃO DA PUBLICAÇÃO?</label>
                <select formControlName="confirmacao" class="form-control"
                        appLogItem="Recebida a confirmação da publicação">
                    <option value="">Selecione</option>
                    <option value="true">Sim</option>
                    <option value="false">Não</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label>NOME DO PERIÓDICO OU DO EVENTO DE PUBLICAÇÃO DA PRODUÇÃO TÉCNICO-CIENTÍFICA</label>
                <app-textarea class="form-control" formControlName="nome" maxlength="50" rows="1"
                              appLogItem="Nome do periódico ou evento de publicação"></app-textarea>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label>ENDEREÇO NA INTERNET DO PERIÓDICO OU DO EVENTO DE PUBLICAÇÃO </label>
                <app-textarea class="form-control" formControlName="url" rows="1"
                              appLogItem="Endereço na internet do periódico ou do evento de publicação"></app-textarea>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label>PAÍS DA PUBLICAÇÃO</label>
                <select class="form-control" formControlName="catalogPaisId" appLogItem="País da publicação">
                    <option value="">Selecione</option>
                    <option [value]="pais.id" *ngFor="let pais of paises">{{pais.nome}}</option>
                </select>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label>CIDADE DA PUBLICAÇÃO</label>
                <input type="text" class="form-control" formControlName="cidade" appLogItem="Cidade da publicação">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label>TÍTULO DO TRABALHO QUE GEROU A PRODUÇÃO TÉCNICO-CIENTÍFICA</label>
                <app-textarea class="form-control" formControlName="titulo" maxlength="200" rows="1"
                              appLogItem="Título do trabalho que gerou a produção técnico-científica"></app-textarea>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label>ANEXAR ARQUIVO DO TRABALHO QUE DEU ORIGEM A CAPTAÇÃO PROFISSIONAL (EM PDF)</label>
                <div *ngIf="editable">
                    <span class="btn btn-link" *ngFor="let file of editable.uploads" [downloadFile]="file">
                        {{file.nomeArquivo}}
                        <i class="ta-cancel-circle" title="Excluir o arquivo" (click)="deletarArquivo(file)"></i>
                    </span>
                </div>
            </div>
            <label class="btn btn-link">
                <i class="ta-upload mx-2 fs-22"></i>
                <span>Selecionar arquivo </span>
                <strong *ngFor="let file of file.files"> ({{file.name}})</strong>
                <input type="file" accept=".pdf" class="form-control d-none" #file (change)="changeFile($event)">
            </label>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div *appUserAdmin>
                <button *ngIf="editable" class="btn btn-link" (click)="remove()">
                    <i class="ta-trash"></i> Excluir
                </button>
            </div>
        </div>
        <div class="col">
            <div class="text-right">
                <button class="btn btn-link" (click)="close()"><i class="ta-cancel-circle"></i> Cancelar</button>
                <button *appUserEscrita class="btn btn-primary" (click)="submit()" [disabled]="form.invalid"><i
                        class="ta-plus-circle"></i> Salvar
                </button>
            </div>
        </div>
    </div>
</div>
