<h5 class="text-uppercase text-blue font-weight-normal mb-5">Extrato Financeiro por empresas</h5>
<div class="row">
    <div class="col-12 text-center">
        <app-loading type="inline"></app-loading>
    </div>
</div>
<div class="row extrato-empresas mb-5 pb-4" *ngFor="let empresa of extratoEmpresas">
    <div class="col-12 pr-5">
        <table class="table table-borderless m-0">
            <tr>
                <td>
                    <strong>{{empresa.nome}}</strong>
                </td>
                <td width="15%">
                    Previsto
                </td>
                <td width="15%">
                    Realizado
                </td>
                <td width="80">
                    Desvio
                </td>
            </tr>
        </table>
    </div>
    <div class="col-12">
        <app-accordion *ngFor="let relatorio of empresa.relatorios">
            <header role="heading" class="">
                <table class="table table-borderless m-0">
                    <tr>
                        <td>
                            {{ relatorio.desc }}
                        </td>
                        <td width="15%">
                            {{relatorio.valor | currency:'R$'}}
                        </td>
                        <td width="15%">
                            {{relatorio.valorAprovado | currency:'R$'}}
                        </td>
                        <td width="80">
                            {{calcDesvio(relatorio.desvio)}}
                        </td>

                    </tr>
                </table>
            </header>
            <div role="main">
                <table class="table table-borderless m-0" *ngIf="relatorio.items.length > 0">
                    <tr *ngFor="let i of relatorio.items">
                        <td width="25%">
                            <span class="btn btn-link p-0" (click)="openModal(i)">{{itemDesc(i)}}</span>
                        </td>
                        <ng-container *ngIf="projeto.isPD">
                            <td width="15%">
                                <span *ngIf="i.etapa && etapas[i.etapa.id]"
                                      [title]="etapas[i.etapa.id].desc"> Etapa {{etapas[i.etapa.id].numeroEtapa}}</span>
                            </td>
                            <td>
                                <span *ngIf="i.etapa">
                                {{ i.etapa.desc }}
                                </span>
                            </td>
                        </ng-container>
                        <td class="text-right" width="15%">{{i.valor | currency:'R$'}}</td>
                    </tr>
                </table>
            </div>
        </app-accordion>
        <div class="ml-5 mr-4">
            <div class="px-3">
                <table class="table table-borderless m-0 text-blue-light">
                    <tr>
                        <td>
                            &nbsp;
                        </td>
                        <td width="15%">
                            {{empresa.valor | currency:'R$'}}
                        </td>
                        <td width="15%">
                            {{empresa.valorAprovado | currency:'R$'}}
                        </td>
                        <td width="80">
                            {{calcDesvio(empresa.desvio)}}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="row" *ngIf="extrato">
    <div class="col text-right">
        <h5 class="text-blue">
            Total Geral: {{ totalGeral | currency:'R$' }}
        </h5>
        <button class="btn btn-outline-blue" (click)="projeto.extratoGerarCSV()">
            <i class="ta-download fs-18"></i>
            Gerar XLSX
        </button>
    </div>
</div>
