<div class="modal-header">
    <div class="text-uppercase modal-title text-blue-light fs-24">{{modalTitle}}</div>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <i class="ta-cancel-circle"></i>
    </button>
</div>
<form class="modal-body" [formGroup]="form" *ngIf="form" appLogger="Recurso Humano">
    <div class="row">
        <div class="col-6">
            <div class="form-group">

                <label for="">Empresa</label>
                <select class="form-control" formControlName="empresaId" appLogItem="Empresa">
                    <option value="">Selecione</option>
                    <option [value]="empresa.id" *ngFor="let empresa of empresas">{{empresa.nome}}</option>
                </select>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label for="">Custo Hora</label>
                <input type="text" currencyMask formControlName="valorHora" class="form-control"
                       appLogItem="Custo Hora">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="">Nome Completo</label>
                <input type="text" class="form-control" formControlName="nomeCompleto" appLogItem="Nome Completo">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label for="">Titulo</label>
                <select name="" id="" class="form-control" formControlName="titulacao" appLogItem="Titulo">
                    <option value="">Selecione</option>
                    <option [value]="titulo.value" *ngFor="let titulo of titulacao">{{titulo.text}}</option>
                </select>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group" *ngIf="projeto.isPD">
                <label for="">Função</label>
                <select name="" id="" class="form-control" formControlName="funcao" appLogItem="Função">
                    <option value="">Selecione</option>
                    <option [value]="funcao.value" *ngFor="let funcao of funcoes">{{funcao.text}}</option>
                </select>
            </div>
            <div class="form-group" *ngIf="projeto.isPG">
                <label for="">Será o Gerente do Projeto?</label>
                <select name="" id="" class="form-control" formControlName="gerenteProjeto"
                        appLogItem="Gerente do Projeto">
                    <option value="">Selecione</option>
                    <option *ngIf="!hasManager || this.recursoHumano.gerenteProjeto" value="true">Sim</option>
                    <option value="false">Não</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">

            <div class="form-group" *ngIf="projeto.isPD">
                <label for="">Brasileiro</label>
                <select name="" id="" class="form-control" formControlName="nacionalidade" appLogItem="Brasileiro">
                    <option [value]="nac.value" *ngFor="let nac of nacionalidades">{{nac.text}}</option>
                </select>
            </div>

            <div class="form-group" *ngIf="projeto.isPG">
                <label for="">Endereço Currículo Lattes</label>
                <input type="text" class="form-control" formControlName="urlCurriculo" appLogItem="Currículo Lattes">
            </div>
        </div>
        <div class="col-6">
            <div class="form-group" *ngIf="nacionalidade.value === 'Brasileiro'">
                <label for="">CPF</label>
                <input type="text" formControlName="cpf" mask="000.000.000-00" class="form-control" appLogItem="CPF">
            </div>
            <div class="form-group" *ngIf="nacionalidade.value === 'Estrangeiro'">
                <label for="">Passaporte</label>
                <input type="text" formControlName="passaporte" class="form-control" appLogItem="Passaporte">
            </div>
        </div>
    </div>
    <div class="row" *ngIf="projeto.isPD">
        <div class="col-12">
            <div class="form-group">
                <label for="">Endereço Currículo Lattes</label>
                <input type="text" class="form-control" formControlName="urlCurriculo" appLogItem="Currículo Lattes">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-between">
                <div>
                    <div *appUserAdmin>
                        <button class="btn btn-link" (click)="excluir()" *ngIf="recursoHumano.id"><i
                                class="ta-cancel-circle"></i> Excluir
                        </button>
                    </div>
                </div>

                <div class="text-right">
                    <div class="button btn btn-link" (click)="activeModal.dismiss('cancel')">Cancelar</div>

                    <button class="btn btn-primary" *appUserEscrita type="button" (click)="submit()"
                            [disabled]="form.invalid || !form.touched || !form.dirty">
                        <i [class]="buttonAction.icon"></i>
                        {{buttonAction.text}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
<app-loading type="fullscreen"></app-loading>
