<div class="modal-header">
    <h5 class="modal-title">APROVAÇÃO REGISTRO</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.dismiss('cancel')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body" [ngSwitch]="tipo">
    <app-registro-recurso-humano *ngSwitchCase="'RH'" [registro]="registro.registro" (registroAlterado)="activeModal.close('updated')"></app-registro-recurso-humano>

    <app-registro-recurso-material *ngSwitchCase="'RM'" [registro]="registro.registro" (registroAlterado)="activeModal.close('updated')"></app-registro-recurso-material>
</div>
