<h5 class="text-uppercase text-blue font-weight-normal my-3" *ngIf="projeto && projeto.isPD">
    Projeto Base Pesquisa e Desenvolvimento
</h5>
<h5 class="text-uppercase text-blue font-weight-normal my-3" *ngIf="projeto && projeto.isPG">
    PROJETO BASE DE GESTÃO
</h5>
<app-loading type="fullscreen"></app-loading>
<form *ngIf="form" [formGroup]="form" (ngSubmit)="onSubmit()" appLogger="Projeto">
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label for="">Número projeto
                    <app-tip [tipId]="7"></app-tip>
                </label>
                <input type="text" class="form-control" formControlName="numero" maxlength="6" mask="0000S"
                       [patterns]="numeroPatterns" placeholder="00000X" appLogItem="Número do projeto">
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label for="">Empresa Proponente
                    <app-tip [tipId]="10"></app-tip>
                </label>
                <select name="" id="" class="form-control" formControlName="catalogEmpresaId"
                        appLogItem="Empresa Proponente">
                    <option *ngFor="let empresa of empresas" [value]="empresa.id">{{empresa.nome}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="projeto.isPG">
        <div class="col-6">
            <div class="form-group">
                <label for="">Compartilhamento dos resultados</label>
                <select name="" id="" class="form-control" formControlName="compartResultados"
                        appLogItem="Compartilhamento dos resultados">
                    <option value="">Selecione o tipo de Compartilhamento dos resultados</option>
                    <option *ngFor="let c of compartilhamentos" [value]="c.value">{{c.text }}</option>
                </select>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label for="">Código do projeto</label>
                <input type="text" class="form-control" formControlName="codigo" appLogItem="Código do projeto">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="">Titulo resumido projeto
                    <app-tip [tipId]="8"></app-tip>
                </label>
                <input type="text" class="form-control" formControlName="titulo" appLogItem="Titulo resumido projeto">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="">Titulo do projeto
                    <app-tip [tipId]="9"></app-tip>
                </label>
                <app-textarea [maxlength]="1000" rows="4" class="form-control"
                              appLogItem="Titulo do projeto"
                              formControlName="tituloDesc"></app-textarea>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="projeto.isPD">
        <div class="col-6">
            <div class="form-group">
                <label for="">Segmento</label>
                <select class="form-control" formControlName="catalogSegmentoId" appLogItem="Segmento">
                    <option value="">Selecione o Segmento</option>
                    <option *ngFor="let segmento of segmentos" [value]="segmento.id"> {{ segmento.nome }}</option>
                </select>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label for="">Avaliação inicial do projeto</label>
                <select name="" id="" class="form-control" formControlName="avaliacaoInicial"
                        appLogItem="Avaliação inicial do projeto">
                    <option [value]="true">Sim</option>
                    <option [value]="false">Não</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="projeto.isPD">
        <div class="col-6">
            <div class="form-group">
                <label for="">Compartilhamento dos resultados</label>
                <select name="" id="" class="form-control" formControlName="compartResultados"
                        appLogItem="Compartilhamento dos resultados">
                    <option value="">Selecione o tipo de Compartilhamento dos resultados</option>
                    <option *ngFor="let c of compartilhamentos" [value]="c.value">{{c.text }}</option>
                </select>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label for="">Código do projeto</label>
                <input type="text" class="form-control" formControlName="codigo" appLogItem="Código do projeto">
            </div>
        </div>
    </div>
    <div class="row" *ngIf="projeto.isPD">
        <div class="col-12">
            <div class="form-group">
                <label for="">Motivação</label>
                <app-textarea [maxlength]="1000" rows="4" class="form-control"
                              appLogItem="Motivação"
                              formControlName="motivacao"></app-textarea>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="projeto.isPD">
        <div class="col-12">
            <div class="form-group">
                <label for="">Originalidade</label>
                <app-textarea [maxlength]="2000" rows="4" class="form-control"
                              appLogItem="Originalidade"
                              formControlName="originalidade"></app-textarea>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="projeto.isPD">
        <div class="col-12">
            <div class="form-group">
                <label for="">Aplicabilidade</label>
                <app-textarea [maxlength]="1000" rows="4" class="form-control"
                              appLogItem="Aplicabilidade"
                              formControlName="aplicabilidade"></app-textarea>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="projeto.isPD">
        <div class="col-12">
            <div class="form-group">
                <label for="">Relevância</label>
                <app-textarea [maxlength]="1000" rows="4" class="form-control"
                              appLogItem="Relevância"
                              formControlName="relevancia"></app-textarea>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="projeto.isPD">
        <div class="col-12">
            <div class="form-group">
                <label for="">Razoabilidade dos custos</label>
                <app-textarea [maxlength]="1000" rows="4" class="form-control"
                              appLogItem="Razoabilidade dos custos"
                              formControlName="razoabilidade"></app-textarea>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="projeto.isPD">
        <div class="col-12">
            <div class="form-group">
                <label for="">Pesquisas Correlatas</label>
                <app-textarea [maxlength]="1000" rows="4" class="form-control"
                              appLogItem="Pesquisas Correlatas"
                              formControlName="pesquisas"></app-textarea>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-auto">
            <!-- <i class="ta-user-o text-blue-light"></i> Última atualização em 16.02.2019, às 19:30 por André Moraes -->
        </div>
        <div class="col text-right">
            <button *appUserAdmin class="btn btn-primary" [disabled]="form.invalid">Salvar Dados</button>
        </div>
    </div>
</form>
