<div class="demanda-progresso">
  <div class="demanda-chunk demanda-info">
    <header class="text-cinza text-uppercase fs-12 font-weight-bold mb-1">
      Demanda: {{ demandaId }}
    </header>
    <main>
      <div class="text-blue fs-14 font-weight-medium">
        {{ demanda.titulo }}
      </div>
    </main>
    <footer>

      <div [ngSwitch]="demanda.etapaAtual" class="text-blue fs-12 font-weight-medium">
        <a [routerLink]="[root_url, 'demandas', demanda.id]"
           class="text-blue text-uppercase"
        ><i class="ta-edit"></i> {{canEdit ? 'Editar' : 'Visualizar'}}</a>
        <ng-container *ngSwitchCase="ETAPAS_VALUES.Captacao">
          <div *ngIf="demanda.captacaoDate; else enviado">
            ENVIADO PARA CAPTAÇÃO <br>
            EM {{demanda.captacaoDate | date:'short'}}
          </div>
          <ng-template #enviado>Demanda enviada</ng-template>
        </ng-container>

        <ng-container *ngSwitchCase="ETAPAS_VALUES.AprovacaoDiretor">
          <button *ngIf="demanda.status === ETAPAS_STATUS.Aprovada"
                  class="btn btn-link text-uppercase p-0 fs-12 font-weight-medium" (click)="enviarCaptacao(demanda.id)">
            <i class="ta-ok"></i>
            Enviar para Captação
          </button>
        </ng-container>
      </div>
    </footer>
  </div>
  <ng-container *ngIf="responsaveis">
    <app-demanda-progress-etapa
      *ngFor="let etapa of etapas; let i = index;"
      [responsavel]="responsaveis[i]"
      [etapa]="etapa"
      [demanda]="demanda"
      [etapaDemanda]="etapaAtual"
      [etapaDemandaStatus]="etapaAtualStatus"
    ></app-demanda-progress-etapa>
  </ng-container>
</div>
