<app-loading type="fullscreen"></app-loading>
<div class="row">
    <div class="col-12">
        <div class="form-group">
            <label for="">Status</label>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div *ngIf="form" class="d-flex" [formGroup]="form"
             appLogger="Central Administrativa - Alteração Status Projeto">
            <select class="form-control flex-grow-1" formControlName="catalogStatusId"
                    (change)="changeStatus($event)"
                    appLogItem="Status">
                <option [value]="item.id" *ngFor="let item of status">{{ item.status }}</option>
            </select>
            <button class="btn btn-primary btn-sm mx-3 text-nowrap" (click)="save()">
                <i class="ta-save"></i> Salvar Alterações
            </button>
        </div>
    </div>

</div>
<div class="row my-3">
    <div class="col-12">
        <button class="btn btn-danger btn-sm" type="button" (click)="deletarProjeto()">
            <i class="ta-trash"></i>
            Excluir Projeto
        </button>
    </div>
</div>
