<div class="row">
    <div class="col">
        <h5 class="text-uppercase text-blue font-weight-normal my-3">RESULTADOS PRODUÇÃO TÉCNICO CIENTÍFICA</h5>
    </div>
</div>

<div class="row mt-5">
    <div class="col-12 text-right">
        <button *appUserEscrita class="btn btn-outline-primary" (click)="criar()"><i class="ta-plus-circle"></i> Registrar Produção Técnico Científica</button>
    </div>
</div>

<div class="row mt-5">
    <div class="col-12">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <div class="d-flex align-items-center">
                                <span class="mx-2">Tipo</span>
                                <app-handler-order [current]="listOrder" field="tipoValor" (order)="listOrder=$event"></app-handler-order>
                            </div>
                        </th>
                        <th>
                            <div class="d-flex align-items-center">
                                <span class="mx-2">Periódico</span>
                                <app-handler-order [current]="listOrder" field="nome" (order)="listOrder=$event"></app-handler-order>
                            </div>
                        </th>
                        <th>Arquivo Cadastrado?</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let resultado of resultados | orderBy:listOrder.field:listOrder.direction">
                        <td>{{producao(resultado.tipoValor)}}</td>
                        <td>{{resultado.nome}}</td>
                        <td>{{resultado.uploads.length > 0?'Sim':'Não'}}</td>
                        <td>
                            <button class="btn btn-primary btn-sm" type="button" (click)="editar(resultado)"><i class="ta-edit"></i> Editar</button>
                        </td>
                    </tr>
                    <tr [hidden]="!loading.isLoading">
                        <td colspan="4" class="text-center">
                            <app-loading type="inline"></app-loading>
                        </td>
                    </tr>
                    <tr *ngIf="resultados.length === 0 && !loading.isLoading">
                        <td colspan="4" class="text-center">Nenhum Resultado Encontrado</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
