<div class="row justify-content-between">
    <div class="col">
        <h5 class="text-uppercase text-blue font-weight-normal my-4">PLANO DE TRABALHO</h5>
    </div>
</div>

<form [formGroup]="formPlanoTrabalho" (ngSubmit)="onSubmit()">

    <div class="form-group">
        <label>Manipulação</label>
        <app-textarea class="form-control" rows="5" maxlength="1000" formControlName="motivacao" placeholder="Descrição, sucinta, das justificativas para proposição do projeto."></app-textarea>
    </div>

    <div class="form-group">
        <label>Originalidade</label>
        <app-textarea class="form-control" rows="5" maxlength="1000" formControlName="originalidade" placeholder="Descrição da originalidade do produto principal do projeto, em relação ao estadodaarte, com foco no setor elétrico brasileiro."></app-textarea>
    </div>

    <div class="form-group">
        <label>Aplicabilidade</label>
        <app-textarea class="form-control" rows="5" maxlength="1000" formControlName="aplicabilidade" placeholder="Descrição do âmbito e abrangência de aplicação do produto principal do projeto."></app-textarea>
    </div>

    <div class="form-group">
        <label>Relevância</label>
        <app-textarea class="form-control" rows="5" maxlength="1000" formControlName="relevancia" placeholder="Descrição da relevância do produto para as entidades participantes do projeto e o setor elétrico brasileiro."></app-textarea>
    </div>

    <div class="form-group">
        <label>Razoabilidade dos custos</label>
        <app-textarea class="form-control" rows="5" maxlength="1000" formControlName="razoabilidadeCustos" placeholder="Descrição do estudo de viabilidade econômica do projeto."></app-textarea>
    </div>

    <div class="form-group">
        <label>Pesquisas correlatas</label>
        <app-textarea class="form-control" rows="5" maxlength="1000" formControlName="pesquisasCorrelatas" placeholder="Listagem de pesquisas correlatas a este Projeto de P&D."></app-textarea>
    </div>

    <div class="form-group">
        <label>Metodologia de trabalho</label>
        <app-textarea class="form-control" rows="5" maxlength="1000" formControlName="metodologiaTrabalho" placeholder="Descrever detalhadamente a metodologia que será empregada para o desenvolvimento do Projeto. Este tópico não diz respeito a metodologia que será desenvolvida."></app-textarea>
    </div>

    <div class="form-group">
        <label>Busca de anterioridade detalhada</label>
        <app-textarea class="form-control" rows="5" maxlength="1000" formControlName="buscaAnterioridade" placeholder="Demonstrar uma busca de anterioridade detalhada e sem omissões."></app-textarea>
    </div>

    <div class="form-group">
        <label>Bibliografia</label>
        <app-textarea class="form-control" rows="5" maxlength="1000" formControlName="bibliografia" placeholder="Descrever a Bibliografia principal utilizada para elaboração da proposta e que pretende-se utilizar na execução do projeto."></app-textarea>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="form-group mb-0">
                <label>Arquivos complementares (opcional)</label>
            </div>
            <label class="btn btn-link px-0">
                <i class="ta-attachment"></i>
                <span> Selecionar arquivo</span>
                <input type="file" class="form-control d-none" (change)="changeFile($event)">
            </label>
        </div>
    </div>

    <div class="form-group">
        <div class="text-right">
            <button type="submit" class="btn btn-primary" [disabled]="formPlanoTrabalho.invalid">
                <i class="ta-save"></i>
                Salvar Dados
            </button>
        </div>
    </div>

</form>