<div class="row justify-content-between">
  <div class="col">
    <h5 class="text-uppercase text-blue font-weight-normal my-4">PROCESSO DE APROVAÇÃO DA DEMANDA -
      ETAPA {{etapa_atual}}</h5>
  </div>
</div>

<div class="row">
  <div class="col">
    <app-pdf-viewer [url]="pdfUrl"></app-pdf-viewer>
  </div>
</div>

<div class="row my-3">
  <div class="col-12">
    <h6 class="text-uppercase text-blue-light">Arquivos Complementares</h6>
    <div class="pr-3 mb-3">
        <span *ngFor="let anexo of anexos;" style="cursor: pointer" class="text-blue d-block my-1"
              (click)="download(anexo)">
          <i class="ta-projeto"></i> -
          <span>{{anexo.fileName}}</span>
        </span>
    </div>
  </div>
</div>

<div class="row my-4" *ngIf="demanda.comentarios && demanda.comentarios.length > 0">
  <div class="col-12">
    <h6 class="text-uppercase text-blue-light font-weight-bold">Histórico de comentários</h6>
    <app-demanda-comentario *ngFor="let comentario of demanda.comentarios"
                            [comentario]="comentario"></app-demanda-comentario>
  </div>
</div>
<ng-container *ngIf="responsavel === auth.user.id; else notResponsavel">
  <div class="row">
    <div class="col-12">
      <app-definir-revisor *ngIf="demanda.etapaAtual === ETAPAS_VALUES.RevisorPendente"
                           [demanda]="demanda" [users]="equipe.outros"
                           (userSelected)="userSelected($event)"></app-definir-revisor>
      <app-avaliar-demanda *ngIf="emAprovacao && demanda.etapaAtual !== ETAPAS_VALUES.RevisorPendente"
                           [demanda]="demanda"
                           (avaliacao)="avaliacao($event)"></app-avaliar-demanda>
    </div>
  </div>
</ng-container>
<ng-template #notResponsavel>
  <div class="d-flex justify-content-center">Você não é o responsável por avaliar/editar essa demanda no momento</div>
</ng-template>
