<h5 class="text-uppercase text-blue font-weight-normal my-3">Página Base</h5>
<div class="row">
    <div class="col-12">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, deserunt. Id doloremque molestias ipsum
            aperiam? Quaerat tenetur, et qui iusto ipsam quos veritatis necessitatibus eius, quis minima at illo
            deserunt obcaecati eveniet dignissimos? Impedit doloremque repudiandae est reprehenderit facere deserunt
            fugiat consequatur quia eum cumque!</p>
        <p>Necessitatibus nisi, quis alias vero quae dolor illum accusamus culpa rerum earum dolorum molestias nihil
            totam harum aut soluta laborum voluptas ea ut veniam velit! Ea repellendus, incidunt consectetur
            accusantium, error cumque, ducimus molestias praesentium optio ratione exercitationem accusamus enim
            dolorum quos quam consequatur eveniet?</p>
        <p>Veritatis ex labore error ipsum officiis at, earum facilis porro sit sint fugiat voluptatem consequuntur
            quae sunt! Natus repellendus quia qui dolores commodi vitae esse! Blanditiis laborum ad maxime magnam
            molestias ratione omnis, soluta, qui reprehenderit corrupti ipsum, eos odio. Modi dignissimos enim aliquid
            deleniti?</p>
        <p>Dolorem et quas explicabo architecto tempora dolores id cumque quasi, deleniti sequi dolore corporis
            consequuntur odit ab eaque minus adipisci. Dolorum, distinctio. At alias ducimus quia, voluptatum
            consequuntur, hic odio ipsam iure debitis laudantium error, deleniti sit tenetur suscipit exercitationem
            soluta! Alias dolorum tenetur dolore.</p>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-auto">
        <i class="ta-user-o text-blue-light"></i> Última atualização em 16.02.2019, às 19:30 por André Moraes</div>
    <div class="col text-right">

    </div>
</div>