<div class="row">
  <div class="col">
    <h5 class="text-uppercase text-cinza font-weight-normal my-4">CARGOS CHAVES</h5>

    <hr>
  </div>
</div>

<form class="ve" [formGroup]="formEquipe" (ngSubmit)="salvar()">
  <div class="row">
    <div class="col-4">
      <div class="form-group">
        <label for="">
          Diretor P&D
        </label>
        <select class="form-control flex-grow-1" formControlName="diretor">
          <option value="" hidden>Selecione o DIRETOR do projeto</option>
          <option [value]="pess.id" *ngFor="let pess of PessoasEquipe">{{ pess.name }}</option>
        </select>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="linha"></div>
    <div class="col-4">
      <div class="form-group pl-2">
        <label for="">
          GERENTE P&D
        </label>
        <select class="form-control flex-grow-1" formControlName="gerente">
          <option value="" hidden>Selecione o GERENTE do projeto</option>
          <option [value]="pess.id" *ngFor="let pess of PessoasEquipe">{{ pess.name }}</option>
        </select>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="linha2"></div>
    <div class="col-4 pl-6">
      <div class="form-group py-2">
        <label for="">
          COORDENADOR P&D
        </label>
        <select class="form-control flex-grow-1" formControlName="coordenador">
          <option value="" hidden>Selecione o COORDENADOR do projeto</option>
          <option [value]="pess.id" *ngFor="let pess of PessoasEquipe">{{ pess.name }}</option>
        </select>
      </div>
    </div>
  </div>



  <div class="row justify-content-between">
    <div class="col">
      <h5 class="text-uppercase text-cinza font-weight-normal my-4">OUTRAS PESSOAS EQUIPE P&D</h5>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <div class="d-flex pt-2" *ngFor="let formPe of equipeOutros.controls; let i = index" [formGroup]="formPe">
        <select class="form-control flex-grow-1 pr-1" formControlName="id">
          <option value="">Selecione uma pessoa</option>
          <option [value]="pess.id" *ngFor="let pess of PessoasEquipe">{{ pess.name }}</option>
        </select>
        <button type="button" class="btn btn-outline-danger btn-sm ml-4 p-1 text-nowrap" *ngIf="i > 0" (click)="remove(i)">
          <i class="ta-trash"></i> Remover
        </button>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-4">
      <div class="d-flex py-3">
        <button type="button" class="btn btn-outline-blue btn-sm py-2 text-nowrap" (click)="add()">
          <i class="ta-plus-circle"></i> Adicionar Mais Pessoas
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 text-left pt-5">
      <button type="submit" class="btn btn-primary" [disabled]="formEquipe.invalid">
        <i class="ta-save"></i> Salvar Alterações
      </button>
    </div>
  </div>

</form>