<h5 class="text-uppercase text-blue font-weight-normal mb-5">Extrato Financeiro por empresas</h5>
<div class="row">
    <div class="col-12 text-center">
        <app-loading type="inline"></app-loading>
    </div>
</div>
<div class="row" *ngFor="let empresa of extratoEmpresas">
    <div class="col-12">
        <h6>{{empresa.nome}}</h6>
    </div>
    <div class="col-12">
        <app-accordion *ngFor="let relatorio of empresa.relatorios">
            <header role="heading" class="d-flex justify-content-between">
                <span>{{ relatorio.desc }}</span><span>{{relatorio.valor | currency:'R$'}}</span>
            </header>
            <div role="main">
                <table class="table table-borderless m-0">
                    <tr *ngFor="let i of relatorio.items">
                        <td>
                            <div class="btn btn-link p-0 text-left"
                                 (click)="openModal(i, relatorio.items)">{{i.desc}}</div>
                        </td>
                        <td width="15%" *ngIf="projeto.isPD">
                            <span *ngIf="etapas[i.etapa.id]"
                                  [title]="etapas[i.etapa.id].desc"> Etapa {{etapas[i.etapa.id].numeroEtapa}}</span>
                        </td>
                        <td width="20%">
                            {{empresaRecebedoraFromItem(i)}}
                        </td>
                        <td class="text-right" width="15%">{{i.valor | currency:'R$'}}</td>
                    </tr>
                </table>
            </div>
        </app-accordion>
    </div>
</div>
<hr>
<div class="row" *ngIf="extrato">
    <div class="col text-right">
        <h5 class="text-blue">
            Total Geral: {{ totalGeral | currency:'R$' }}
        </h5>
        <button class="btn btn-outline-blue" (click)="orcamentoGerarCSV()">
            <i class="ta-download fs-18"></i>
            Gerar XLSX
        </button>
    </div>
</div>
