<div class="row pb-4" *ngIf="filters && filters.length > 0">
    <div class="form-group col-3" *ngFor="let filter of filters">
        <select
        class="form-control"
        [(ngModel)]="filter.value"
        (change)="setCurrentData()"
        >
        <option
            *ngFor="let f of filter.options | orderBy: 'text'"
            [value]="f.value"
            >{{ f.text }}</option
        >
        </select>
    </div>
</div>

<div class="row">
    <div class="col">
        <ng-container *ngIf="!loading; else loadingTpl">
            <app-table 
                [cols]="cols" 
                [data]="propostas.data">
            </app-table>
        </ng-container>
        <ng-container *ngTemplateOutlet="paginacao"></ng-container>
    </div>
</div>

<ng-template #loadingTpl>
    <h6 class="text-center py-3">
        Carregando propostas...
    </h6>
</ng-template>
<ng-template #paginacao>
    <div class="d-flex justify-content-center" *ngIf="propostas && !hidePagination">
        <ngb-pagination [(page)]="propostas.page" 
                        [pageSize]="propostas.perPage"
                        [collectionSize]="propostas.totalItems" 
                        (pageChange)="gotoPage($event)"
                        [ellipses]="true" 
                        [rotate]="true" 
                        [maxSize]="5">
        </ngb-pagination>
    </div>
</ng-template>
