<div class="row mb-5">
    <div class="col">
        <h5 class="text-uppercase text-blue font-weight-normal my-3">
            Alocar Recursos Humanos
        </h5>
    </div>
    <div class="col text-right">
        <button class="btn btn-outline-primary" *appUserEscrita type="button" (click)="openModal()">
            <i class="ta-alocacao-rh fs-24 align-middle"></i>
            Alocar Pessoa
        </button>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <table class="table">
            <thead>
            <tr>
                <th>
                    <div class="d-flex align-items-center">
                        <span class="mx-2">Nome</span>
                        <app-handler-order [current]="listOrder" field="recursoHumano.nomeCompleto"
                                           (order)=order($event)></app-handler-order>
                    </div>
                </th>
                <th *ngIf="projeto && projeto.isPD">
                    <div class="d-flex align-items-center">
                        <span class="mx-2">Etapa</span>
                        <app-handler-order [current]="listOrder" field="currentEtapa.numeroEtapa"
                                           (order)=order($event)></app-handler-order>
                    </div>

                </th>
                <th>
                    <div class="d-flex align-items-center">
                        <span class="mx-2">Empresa Financiadora</span>
                        <app-handler-order [current]="listOrder" field="empresa.nome"
                                           (order)=order($event)></app-handler-order>
                    </div>

                </th>
                <th>
                    <div class="d-flex align-items-center">
                        <span class="mx-2">Empresa Recebedora</span>
                        <app-handler-order [current]="listOrder" field="recursoHumano.empresa.nome"
                                           (order)=order($event)></app-handler-order>
                    </div>

                </th>
                <th>
                    <div class="d-flex align-items-center">
                        <span class="mx-2">Custo</span>
                        <app-handler-order [current]="listOrder" field="valorTotal"
                                           (order)=order($event)></app-handler-order>
                    </div>
                </th>
                <th>
                    <div class="d-flex align-items-center">
                        <span class="mx-2">Ações</span>
                    </div>
                </th>
            </tr>
            </thead>
            <tr>
                <td colspan="5" class="text-center p-0">
                    <app-loading type="inline"></app-loading>
                </td>
            </tr>
            <tr *ngFor="let alocacao of alocacoes | orderBy:listOrder.field:listOrder.direction">
                <td>{{alocacao.recursoHumano.nomeCompleto}}</td>
                <td *ngIf="projeto.isPD">
                    <span *ngIf="alocacao.currentEtapa">
                    Etapa {{alocacao.currentEtapa.numeroEtapa}}
                    </span>
                    <span *ngIf="!alocacao.currentEtapa">
                        Etapa não associada
                    </span>
                </td>
                <td>{{alocacao.empresa.nome}}</td>
                <td>
                    <span *ngIf="alocacao.recursoHumano.empresa">{{alocacao.recursoHumano.empresa.nome}}</span>
                </td>
                <td>{{alocacao.valorTotal | currency:'R$'}}</td>
                <td>
                    <button type="button" class="btn btn-primary btn-sm btn-block" (click)="openModal(alocacao)">
                        <i class="ta-edit"></i>
                        EDITAR
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>

<hr>
<div class="row">
    <div class="col-auto">
        <!-- <i class="ta-user-o text-blue-light"></i> Última atualização em 16.02.2019, às 19:30 por André Moraes -->
    </div>
    <div class="col text-right">

    </div>
</div>
