<div class="row mb-5">
    <div class="col">
        <h5 class="text-uppercase text-blue font-weight-normal my-3">
            Recursos Humanos
        </h5>
    </div>
    <div class="col text-right">
        <button class="btn btn-outline-primary" *appUserEscrita type="button" (click)="openModal()">
            <i class="ta-plus-circle fs-24 align-middle"></i>
            Nova pessoa
        </button>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <table class="table">
            <ng-container *ngIf="projeto">

                <thead>
                    <tr>
                        <th>
                            <div class="d-flex align-items-center">
                                <span class="mx-2">Nome</span>
                                <app-handler-order [current]="listOrder" field="nomeCompleto" (order)=order($event)></app-handler-order>
                            </div>
                        </th>
                        <th>
                            <div class="d-flex align-items-center">
                                <span class="mx-2">Empresa</span>
                                <app-handler-order [current]="listOrder" field="empresa.nome" (order)=order($event)></app-handler-order>
                            </div>

                        </th>
                        <th>
                            <div class="d-flex align-items-center" *ngIf="projeto.isPD">
                                <span class="mx-2">Função</span>
                                <app-handler-order [current]="listOrder" field="funcaoNome" (order)=order($event)></app-handler-order>
                            </div>
                            <div class="d-flex align-items-center" *ngIf="projeto.isPG">
                                <span class="mx-2">Gerente</span>
                                <app-handler-order [current]="listOrder" field="gerenteProjeto" (order)=order($event)></app-handler-order>
                            </div>
                        </th>
                        <th>
                            <div class="d-flex align-items-center">
                                <span class="mx-2">Título</span>
                                <app-handler-order [current]="listOrder" field="titulacaoNome" (order)=order($event)></app-handler-order>
                            </div>
                        </th>
                        <th>
                            <div class="d-flex align-items-center">
                                <span class="mx-2">Custo Hora</span>
                                <app-handler-order [current]="listOrder" field="valorHora" (order)=order($event)></app-handler-order>
                            </div>
                        </th>
                        <th>
                            <div class="d-flex align-items-center">
                                <span class="mx-2">Ações</span>
                            </div>
                        </th>
                    </tr>
                </thead>
            </ng-container>
            <tr>
                <td colspan="5" class="text-center p-0">
                    <app-loading type="inline"></app-loading>
                </td>
            </tr>
            <ng-container *ngIf="projeto">
                <tr *ngFor="let recursoHumano of recursosHumano | orderBy:listOrder.field:listOrder.direction">
                    <td>{{recursoHumano.nomeCompleto}}</td>
                    <td>{{recursoHumano.empresa.nome}}</td>
                    <td *ngIf="projeto.isPD">{{recursoHumano.funcaoNome}}</td>
                    <td *ngIf="projeto.isPG">{{recursoHumano.gerenteProjeto?'Sim':'Não'}}</td>
                    <td>{{recursoHumano.titulacaoNome}}</td>
                    <td>{{recursoHumano.valorHora|currency:'R$'}}</td>
                    <td>
                        <button type="button" class="btn btn-primary btn-sm btn-block" (click)="openModal(recursoHumano)">
                            <i class="ta-edit"></i>
                            EDITAR
                        </button>
                    </td>
                </tr>
            </ng-container>
        </table>
    </div>
</div>

<hr>
<div class="row">
    <div class="col-auto">
        <!-- <i class="ta-user-o text-blue-light"></i> Última atualização em 16.02.2019, às 19:30 por André Moraes -->
    </div>
    <div class="col text-right">

    </div>
</div>
