<div class="modal-header">
    <div class="text-uppercase modal-title text-blue-light fs-24">{{modalTitle}}</div>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <i class="ta-cancel-circle"></i>
    </button>
</div>
<form class="modal-body" *ngIf="form" [formGroup]="form">
    <div class="row">
        <div class="col-12">
            <div class="form-group">

                <label for="">Nome do recurso material</label>
                <input type="text" class="form-control" formControlName="nome">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label for="">Categorial Contábil</label>
                <select name="" id="" class="form-control" formControlName="categoriaContabil">
                    <option value="">Selecione</option>
                    <option [value]="cat.value" *ngFor="let cat of categoriaContabel">{{cat.text}}</option>
                </select>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label for="">Valor unitário</label>
                <input type="text" currencyMask class="form-control" formControlName="valorUnitario">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="">Especificação técninca detalhada do recurso</label>
                <app-textarea name="" id="" maxlength="1000" cols="30" rows="3" class="form-control" formControlName="especificacao"></app-textarea>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-between">
                <div>
                    <button class="btn btn-link" (click)="excluir()" *ngIf="recursoMaterial.id"><i class="ta-cancel-circle"></i> Excluir</button>
                </div>

                <div class="text-right">
                    <div class="button btn btn-link" (click)="activeModal.dismiss('cancel')">Cancelar</div>

                    <button class="btn btn-primary" type="button" (click)="submit()" [disabled]="form.invalid || !form.touched || !form.dirty">
                        <i [class]="buttonAction.icon"></i>
                        {{buttonAction.text}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
<app-loading type="fullscreen"></app-loading>
