<div class="modal-header">
    <div class="text-uppercase modal-title text-blue-light fs-24">Adicionar Recurso Material</div>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <fa-icon icon="times-circle"></fa-icon>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-12">
            <div class="form-group">

                <label for="">Nome do recurso material</label>
                <input type="text" class="form-control">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label for="">Categorial Contábil</label>
                <select name="" id="" class="form-control"></select>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label for="">Valor unitário</label>
                <input type="text" class="form-control">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="">Especificação técninca detalhada do recurso</label>
                <textarea name="" id="" cols="30" rows="3" class="form-control"></textarea>
                <div class="text-right">
                    xxx caracteres sobrando
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-right">
            <div class="button btn btn-link" (click)="activeModal.dismiss('cancel')">Cancelar</div>
            <button class="btn btn-primary" (click)="activeModal.close('temp')">
                <i class="ta-plus"></i>
                Adicionar Recurso
            </button>
        </div>
    </div>
</div>