<div class="modal-header">
    <div class="text-uppercase modal-title text-blue-light fs-24">{{tituloTxt}}</div>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <i class="ta-cancel-circle"></i>
    </button>
</div>
<app-loading type="fullscreen"></app-loading>
<div class="modal-body" *ngIf="form">
    <form [formGroup]="form" appLogger="Etapas">
        <div class="form-group">
            <label>Descrição das atividades</label>
            <app-textarea cols="30" rows="2" maxlength="300" formControlName="desc" class="form-control"
                          appLogItem="Descrição das atividades"></app-textarea>
        </div>
        <div class="form-group" *ngIf="projeto.isPD">
            <label>PRODUTOS ASSOCIADOS A ESTA ETAPA</label>
            <div class="row mb-3" *ngFor="let item of produtosGroup.controls; let i = index;">
                <div class="col-11" [formGroup]="item">
                    <select name="" id="" class="form-control" formControlName="ProdutoId"
                            appLogItem="Produto associado a etapa">
                        <option value="">Selecione</option>
                        <option *ngFor="let p of filtrarProdutos(item)" [value]="p.id">{{p.titulo}}</option>
                    </select>
                </div>
                <div class="col-1 d-flex align-items-center">
                    <button class="btn p-0 hover-text-blue" type="button" (click)="removerProduto(i)">
                        <i class="ta-remove-circle fs-24"></i>
                    </button>
                </div>
            </div>
            <div class="row mb-4" *ngIf="produtosGroup.length < produtos.length">
                <div class="col">
                    <button class="btn p-0 hover-text-blue" (click)="adicionarProduto()">
                        <i class="ta-plus-circle fs-24 align-middle"></i>
                        Adicionar Produto
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="d-flex justify-content-between">
                        <div>
                            <div *appUserAdmin>
                                <button class="btn btn-link" (click)="excluirEtapa()" *ngIf="etapa.id"><i
                                        class="ta-cancel-circle"></i> Excluir
                                </button>
                            </div>
                        </div>
                        <div class="text-right">
                            <div class="button btn btn-link" (click)="activeModal.dismiss('cancel')">Cancelar</div>
                            <button class="btn btn-primary"
                                    *appUserEscrita
                                    type="button"
                                    [disabled]="form && form.invalid"
                                    (click)="submit()">
                                <i class="ta-save"></i>
                                {{btnTxt}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group" *ngIf="projeto.isPG">
            <div>
                <label>MESES DESTA ETAPA</label>
            </div>
            <div class="row" [formGroup]="mesesGroup">
                <div class="col-4" *ngFor="let mes of meses">
                    <label>
                        <app-checkbox [formControlName]="mes.value"></app-checkbox>
                        {{mes.text}}
                    </label>
                </div>
            </div>
            <div class="row mt-2 mb-3">
                <div class="col-12 text-center">
                    <span class="btn btn-link" style="cursor: pointer" (click)="selMeses()">Marca todos</span>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="d-flex justify-content-between">
                        <div>
                            <div *appUserAdmin>
                                <button class="btn btn-link" (click)="excluirEtapa()" *ngIf="etapa.id"><i
                                        class="ta-cancel-circle"></i> Excluir
                                </button>
                            </div>
                        </div>
                        <div class="text-right">
                            <div class="button btn btn-link" (click)="activeModal.dismiss('cancel')">Cancelar</div>
                            <button class="btn btn-primary" type="button" [disabled]="form && form.invalid"
                                    *appUserEscrita
                                    (click)="submit()">
                                <i class="ta-save"></i>
                                {{btnTxt}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
