<div class="modal-header">
    <div class="text-uppercase modal-title text-blue-light fs-24">Registrar empresa</div>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <i class="ta-cancel-circle"></i>
    </button>
</div>
<div class="modal-body">
    <ngb-tabset justify="justified" type="bar-row" (tabChange)="beforeChangeTab($event)">
        <ngb-tab title="Empresa Cooperada" id="cooperada">
            <ng-template ngbTabContent>
                <div class="row my-5" *ngIf="formCooperada" [formGroup]="formCooperada" appLogger="Empresa"
                     #loggerCooperada="logger">
                    <div class="col-12">
                        <div class="form-group">
                            <label for="">Empresa Cooperada</label>
                            <select name="" id="" class="form-control" formControlName="catalogEmpresaId"
                                    appLogItem="Empresa Cooperada">
                                <option value="">Selecione</option>
                                <option value="" *ngFor="let empresa of empresas"
                                        [value]="empresa.id">{{empresa.nome}}</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="d-flex justify-content-between">
                            <div>
                                <button class="btn btn-link" *appUserAdmin (click)="excluirEmpresa()"
                                        [hidden]="empresa.id === undefined"><i class="ta-cancel-circle"></i> Excluir
                                </button>
                            </div>
                            <div class="text-right">
                                <div class="button btn btn-link" (click)="activeModal.dismiss()">Cancelar</div>
                                <button *appUserEscrita class="btn btn-primary" type="button" (click)="submit('Energia')">
                                    <i class="ta-plus-circle fs-24 align-middle"></i>
                                    Salvar Empresa
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ngb-tab>
        <ngb-tab title="Empresa Executora" id="executora" *ngIf="projeto.isPD">
            <ng-template ngbTabContent>
                <div class="row my-5" *ngIf="formExecutora" [formGroup]="formExecutora" appLogger="Empresa"
                     #loggerExecutora="logger">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="">CNPJ</label>
                            <input type="text" class="form-control" mask="00.000.000/0000-00" formControlName="cnpj"
                                   appLogItem="CNPJ">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label>UF de cadastro na fazenda</label>
                            <select class="form-control" formControlName="catalogEstadoId"
                                    appLogItem="UF de cadastro na fazenda">
                                <option value="">Selecione</option>
                                <option value="" *ngFor="let estado of estados"
                                        [value]="estado.id">{{estado.nome}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label for="">Razão social</label>
                            <input type="text" class="form-control" formControlName="razaoSocial"
                                   appLogItem="Razão Social">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="d-flex justify-content-between">
                            <div>
                                <button class="btn btn-link" *appUserAdmin (click)="excluirEmpresa()"
                                        [hidden]="empresa.id === undefined"><i class="ta-cancel-circle"></i> Excluir
                                </button>
                            </div>
                            <div class="text-right">
                                <div class="button btn btn-link" (click)="activeModal.dismiss()">Cancelar</div>
                                <button *appUserEscrita class="btn btn-primary" type="button" (click)="submit('Executora')">
                                    <i class="ta-plus-circle fs-24 align-middle"></i>
                                    Salvar Empresa
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ngb-tab>
        <ngb-tab title="Empresa Parceira" id="parceira" *ngIf="projeto.isPD">
            <ng-template ngbTabContent>
                <div class="row my-5" *ngIf="formParceira" [formGroup]="formParceira"
                     appLogger="Empresa"
                     #loggerParceira="logger">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="">CNPJ</label>
                            <input type="text" class="form-control" mask="00.000.000/0000-00" formControlName="cnpj"
                                   appLogItem="CNPJ">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <div class="form-group">
                                <label for="">Razão social</label>
                                <input type="text" class="form-control" formControlName="razaoSocial"
                                       appLogItem="Razão Social">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex justify-content-between">
                            <div>
                                <button class="btn btn-link" *appUserAdmin (click)="excluirEmpresa()"
                                        [hidden]="empresa.id === undefined"><i class="ta-cancel-circle"></i> Excluir
                                </button>
                            </div>
                            <div class="text-right">
                                <div class="button btn btn-link" (click)="activeModal.dismiss()">Cancelar</div>
                                <button *appUserEscrita class="btn btn-primary" type="button" (click)="submit('Parceira')">
                                    <i class="ta-plus-circle fs-24 align-middle"></i>
                                    Salvar Empresa
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
    <app-loading type="fullparent"></app-loading>
</div>
