<div class="modal-header">
  <div class="text-uppercase modal-title text-blue-light fs-24">
    {{ form.value.id !== 0 ? 'EDITAR EMPRESA CO-EXECUTORA' : 'REGISTRAR EMPRESA CO-EXECUTORA' }}
  </div>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.close(false)">
    <i class="ta-cancel-circle"></i>
  </button>
</div>

<app-loading type="fullscreen"></app-loading>

<div class="modal-body">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <div class="form-row">
      <div class="form-group col">
        <label for="cnpj">CNPJ</label>
        <input
          type="text"
          class="form-control"
          id="cnpj"
          formControlName="cnpj"
          mask="00.000.000/0000-00"
          placeholder="00.000.000/0000-00"
        >
      </div>
      <div class="form-group col">
        <label for="uf">UF de cadastro na fazenda</label>
        <select class="form-control" id="uf" formControlName="uf">
          <option value="">Selecione</option>
          <option value="AC">Acre</option>
          <option value="AL">Alagoas</option>
          <option value="AP">Amapá</option>
          <option value="AM">Amazonas</option>
          <option value="BA">Bahia</option>
          <option value="CE">Ceará</option>
          <option value="DF">Distrito Federal</option>
          <option value="ES">Espirito Santo</option>
          <option value="GO">Goiás</option>
          <option value="MA">Maranhão</option>
          <option value="MS">Mato Grosso do Sul</option>
          <option value="MT">Mato Grosso</option>
          <option value="MG">Minas Gerais</option>
          <option value="PA">Pará</option>
          <option value="PB">Paraíba</option>
          <option value="PR">Paraná</option>
          <option value="PE">Pernambuco</option>
          <option value="PI">Piauí</option>
          <option value="RJ">Rio de Janeiro</option>
          <option value="RN">Rio Grande do Norte</option>
          <option value="RS">Rio Grande do Sul</option>
          <option value="RO">Rondônia</option>
          <option value="RR">Roraima</option>
          <option value="SC">Santa Catarina</option>
          <option value="SP">São Paulo</option>
          <option value="SE">Sergipe</option>
          <option value="TO">Tocantins</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="razao-social">Razão social</label>
      <input type="text" class="form-control" id="razao-social" formControlName="razaoSocial"
             placeholder="Razão Social">
    </div>

    <div class="form-group">
      <div class="d-flex">
        <div
          class="button btn btn-link px-0"
          (click)="excluirEmpresa()"
          *ngIf="form.value.id !== 0"
        >
          <i class="ta-cancel-circle"></i>
          Excluir Empresa
        </div>
        <div class="ml-auto">
          <div class="button btn btn-link" (click)="activeModal.close(false)">
            Cancelar
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
            <i class="ta-save mr-1"></i>
            Salvar Co Executara
          </button>

        </div>
      </div>
    </div>

  </form>
</div>
