:host {
  background: url('/assets/login-bg.png') no-repeat center;
  background-size: cover;
  display: block;
  height: 100%;

  .auth-wrap {
    width: 20vw;
    min-width: 500px;
    max-width: 768px;
  }
}
