@import "components-base";

.form-editor {
  app-form-editor-field {
    counter-increment: formeditor;

    .form-editor-field {
      padding: 4px 0;
      .form-editor-field-title {
        color: $blueLight;
        font-weight: 500;
        text-transform: uppercase;
        margin: 12px 0;
        &::before {
          content: counters(formeditor, ".");
        }
      }
      .form-editor-field-children {
        padding-left: 64px;
      }

      .form-editor-field-list {
        padding-left: 32px;
        .form-editor-field-list-item {
          margin: 12px 0;
          counter-increment: formlistitem;

          .form-editor-field-list-item-title {
            color: $blueLight;
            font-weight: 500;
            text-transform: uppercase;
            &::after {
              content: counters(formlistitem, ".", upper-alpha);
            }
          }
          .form-editor-field {
            display: flex;
          }
        }
      }
    }
  }
  > app-form-editor-field {
    display: block;
    margin-bottom: 16px;
    > .form-editor-field {
      > .form-editor-field-title {
        &::before {
          content: counters(formeditor, ".") ". ";
        }
        color: $cinza;
        font-size: 20px;
        padding: 8px 0;
        margin-bottom: 12px;
        border-bottom: $cinza solid 1px;
      }
    }
  }
}

.form-editor-field-children {
  counter-reset: formeditor;
}
