<div class="bg-light py-4">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="d-flex justify-content-between">
                    <h3 class="text-uppercase text-dark">Gerenciador de Usuários</h3>
                    <a routerLink="./novo" (click)="openNovoUser()" class="btn btn-outline-primary">
                        <fa-icon icon="plus-circle"></fa-icon>
                        Novo Usuário
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container my-4">
    <div class="row">
        <div class="col-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <div class="d-flex align-items-center">
                                <span class="mx-2">Nome</span>
                                <span class="d-flex flex-column">
                                    <fa-icon icon="caret-up" class="d-inline-flex" size="1x"></fa-icon>
                                    <fa-icon icon="caret-down" class="d-inline-flex" size="1x"></fa-icon>
                                </span>
                            </div>
                        </th>
                        <th>
                            <div class="d-flex align-items-center">
                                <span class="mx-2">Empresa</span>
                                <span class="d-flex flex-column">
                                    <fa-icon icon="caret-up" class="d-inline-flex" size="1x"></fa-icon>
                                    <fa-icon icon="caret-down" class="d-inline-flex" size="1x"></fa-icon>
                                </span>
                            </div>

                        </th>
                        <th>
                            <div class="d-flex align-items-center">
                                <span class="mx-2">Status</span>
                                <span class="d-flex flex-column">
                                    <fa-icon icon="caret-up" class="d-inline-flex" size="1x"></fa-icon>
                                    <fa-icon icon="caret-down" class="d-inline-flex" size="1x"></fa-icon>
                                </span>
                            </div>
                        </th>
                        <th>
                            <div class="d-flex align-items-center">
                                <span class="mx-2">Data Cadastro</span>
                                <span class="d-flex flex-column">
                                    <fa-icon icon="caret-up" class="d-inline-flex" size="1x"></fa-icon>
                                    <fa-icon icon="caret-down" class="d-inline-flex" size="1x"></fa-icon>
                                </span>
                            </div>
                        </th>
                        <th>
                            <div class="d-flex align-items-center">
                                <span class="mx-2">Ações</span>
                                <span class="d-flex flex-column">
                                    <fa-icon icon="caret-up" class="d-inline-flex" size="1x"></fa-icon>
                                    <fa-icon icon="caret-down" class="d-inline-flex" size="1x"></fa-icon>
                                </span>
                            </div>
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>