<div class="row mb-3">
    <div class="col-12 text-right">
        <app-loading type="inline" class="p-0" #sendFile size="1x"></app-loading>
        <label class="btn btn-outline-primary" [formGroup]="form">
            <i class="ta-plus-circle" *ngIf="!sendFile.isLoading"></i>
            Novo Log - Arquivos .txt
            <input type="file" formControlName="file" accept=".txt" (change)="sendLogFile($event)" class="d-none">
        </label>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <div class="d-flex align-items-center">
                            <span class="mx-2">ARQUIVOS LOGS</span>
                            <app-handler-order [current]="listOrder" field="nomeArquivo" (order)="listOrder=$event"></app-handler-order>
                        </div>
                    </th>
                    <th>
                        <div class="d-flex align-items-center">
                            <span class="mx-2">DATA</span>
                            <app-handler-order [current]="listOrder" field="created" (order)="listOrder=$event"></app-handler-order>
                        </div>

                    </th>
                    <th>
                        <div class="d-flex align-items-center">
                            <span class="mx-2">Ações</span>
                        </div>
                    </th>
                </tr>
            </thead>
            <tr *ngFor="let item of logsDUTO | orderBy:listOrder.field:listOrder.direction">
                <td>{{item.nomeArquivo}}</td>
                <td>{{item.created | date:'short'}}</td>
                <td>
                    <button type="button" class="btn btn-primary btn-sm" [downloadFile]="item">
                        <i class="ta-eye"></i>
                        VER LOG
                    </button>
                </td>
            </tr>
            <tr [hidden]="!loading.isLoading">
                <td colspan="3" class="text-center">
                    <app-loading type="inline" #loading></app-loading>
                </td>
            </tr>
            <tr *ngIf="logsDUTO && logsDUTO.length === 0">
                <td colspan="3" class="text-center">Nenhum Log DUTO cadastrado </td>
            </tr>
        </table>
    </div>
</div>
