<table class="table">
    <thead>
        <tr>
            <th>
                <div class="d-flex align-items-center">
                    <span class="mx-2">XML REFERÊNCIA</span>
                    <span class="d-flex flex-column">
                        <fa-icon icon="caret-up" class="d-inline-flex" size="1x"></fa-icon>
                        <fa-icon icon="caret-down" class="d-inline-flex" size="1x"></fa-icon>
                    </span>
                </div>
            </th>
            <th>
                <div class="d-flex align-items-center">
                    <span class="mx-2">DATA</span>
                    <span class="d-flex flex-column">
                        <fa-icon icon="caret-up" class="d-inline-flex" size="1x"></fa-icon>
                        <fa-icon icon="caret-down" class="d-inline-flex" size="1x"></fa-icon>
                    </span>
                </div>

            </th>
            <th>
                <div class="d-flex align-items-center">
                    <span class="mx-2">Ações</span>
                </div>
            </th>
        </tr>
    </thead>
    <tr *ngFor="let item of [1,2,3,4]">
        <td>APLPED02609_RELATORIOAUDITORIAPED_0003_S0{{item}}</td>
        <td>12/12/2020</td>
        <td>
            <button type="button" class="btn btn-primary">
                <i class="ta-eye"></i>
                VER LOG
            </button>
        </td>
    </tr>
</table>