<div class="row">
    <div class="col">
        <h5 class="text-uppercase text-blue font-weight-normal my-3">RESULTADOS INDICADORES ECONÔMICOS</h5>
    </div>
</div>

<div class="row mt-5">
    <div class="col-12 text-right">
        <button class="btn btn-outline-primary"><i class="ta-plus-circle"></i> Registrar Resultado Indicadores Econômcicos</button>
    </div>
</div>

<div class="row mt-5">
    <div class="col-12">
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>Tipo</th>
                    <th>Percentual Impacto</th>
                    <th>Ações</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Redução de Homem/Hora - Produtividade</td>
                    <td>25%</td>
                    <td>
                        <button class="btn btn-primary btn-sm" type="button"><i class="ta-edit"></i> Editar</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>