<div class="modal-header">
    <div class="text-uppercase modal-title text-blue-light fs-24">{{modalTitle}}</div>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <i class="ta-cancel-circle"></i>
    </button>
</div>
<form class="modal-body" *ngIf="form" [formGroup]="form" appLogger="Produto">
    <div class="mb-3">
        <div class="form-group m-0">
            <label>Classificação</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="input-r-produto-intermediario" value="Intermediario"
                   appLogItem="Classificação"
                   appLogItemValue="Produto Intermediário"
                   formControlName="classificacao">
            <label class="form-check-label" for="input-r-produto-intermediario">Produto Intermediário</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" #produtoFinal type="radio" id="input-r-produto-final" value="Final"
                   appLogItem="Classificação"
                   appLogItemValue="Produto Final"
                   formControlName="classificacao">
            <label class="form-check-label" for="input-r-produto-final">Produto Final</label>
        </div>
    </div>
    <div class="form-group" [hidden]="!produtoFinal.checked">
        <label>Tipo de produto</label>
        <select class="form-control" formControlName="tipo" appLogItem="Tipo de produto">
            <option value="">Selecione</option>
            <option [value]="tipo.value" *ngFor="let tipo of tiposProdutos">{{tipo.text}}</option>
        </select>
    </div>
    <div class="form-group" [hidden]="!produtoFinal.checked">
        <label>Fase da cadeia de inovação</label>
        <select class="form-control" formControlName="catalogProdutoFaseCadeiaId"
                appLogItem="Fase da cadeia de inovação">
            <option value="">Selecione</option>
            <option [value]="fase.id" *ngFor="let fase of fases">{{fase.nome}}</option>
        </select>
    </div>
    <div class="form-group" [hidden]="!produtoFinal.checked">
        <label>Tipo de produto detalhado</label>
        <select class="form-control" formControlName="catalogProdutoTipoDetalhadoId"
                appLogItem="Tipo de produto detalhado">
            <option value="">Selecione</option>
            <option [value]="tipo.id" *ngFor="let tipo of tiposDetalhados">{{tipo.nome}}</option>
        </select>
    </div>
    <div class="form-group">
        <label>Titulo produto</label>
        <input type="text" class="form-control" formControlName="titulo" appLogItem="Titulo produto">
    </div>
    <div class="form-group">
        <label>Descrição detalhada do produto</label>
        <app-textarea cols="30" rows="2" formControlName="desc" class="form-control"></app-textarea>
    </div>
    <ngb-alert [dismissible]="false" type="danger" *ngFor="let item of inconsistencias">
        {{item}}
    </ngb-alert>
    <div class="d-flex justify-content-between">
        <div>
            <ng-container *appUserAdmin>
                <button class="btn btn-link" (click)="excluir()" *ngIf="produto.id"><i class="ta-cancel-circle"></i>
                    Excluir
                </button>
            </ng-container>
        </div>
        <div class="text-right">
            <button class="btn btn-link" (click)="activeModal.dismiss('cancel')">Cancelar</button>
            <button class="btn btn-primary" type="button" (click)="submit()" *appUserEscrita [disabled]="form.invalid">
                <i [class]="buttonAction.icon"></i>
                {{buttonAction.text}}
            </button>
        </div>
    </div>
</form>
<app-loading type="fullscreen"></app-loading>
