<div class="row mb-5">
    <div class="col">
        <h5 class="text-uppercase text-blue font-weight-normal my-3">
            Alocar Recursos Materiais
        </h5>
    </div>
    <div class="col text-right">
        <button class="btn btn-outline-primary" type="button" (click)="openModal()" *appUserEscrita>
            <i class="ta-alocacao-material fs-24 align-middle"></i>
            Alocar Recurso Material
        </button>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <div class="d-flex align-items-center">
                            <span class="mx-2">Nome</span>
                            <app-handler-order [current]="listOrder" field="recursoMaterial.nome" (order)=order($event)></app-handler-order>
                        </div>
                    </th>
                    <th>
                        <div class="d-flex align-items-center">
                            <span class="mx-2">Empresa Financiadora</span>
                            <app-handler-order [current]="listOrder" field="empresaFinanciadora.nome" (order)=order($event)></app-handler-order>
                        </div>

                    </th>
                    <th>
                        <div class="d-flex align-items-center">
                            <span class="mx-2">Empresa Recebedora</span>
                            <app-handler-order [current]="listOrder" field="empresaRecebedora.nome" (order)=order($event)></app-handler-order>
                        </div>

                    </th>
                    <th>
                        <div class="d-flex align-items-center">
                            <span class="mx-2">Cat. Contábil</span>
                            <app-handler-order [current]="listOrder" field="categoriaContabelNome" (order)=order($event)></app-handler-order>
                        </div>
                    </th>
                    <th>
                        <div class="d-flex align-items-center">
                            <span class="mx-2">Qtd.</span>
                            <app-handler-order [current]="listOrder" field="qtd" (order)=order($event)></app-handler-order>
                        </div>
                    </th>
                    <th>
                        <div class="d-flex align-items-center">
                            <span class="mx-2">Custo Total</span>
                            <app-handler-order [current]="listOrder" field="valorTotal" (order)=order($event)></app-handler-order>
                        </div>
                    </th>
                    <th>
                        <div class="d-flex align-items-center">
                            <span class="mx-2">Ações</span>
                        </div>
                    </th>
                </tr>
            </thead>
            <tr>
                <td colspan="6" class="text-center p-0">
                    <app-loading type="inline"></app-loading>
                </td>
            </tr>
            <tr *ngFor="let alocacao of alocacoes | orderBy:listOrder.field:listOrder.direction">
                <td>{{alocacao.recursoMaterial.nome}}</td>
                <td>{{alocacao.empresaFinanciadora.nome}}</td>
                <td>{{alocacao.empresaRecebedora.nome}}</td>
                <td>{{alocacao.categoriaContabelNome}}</td>
                <td class="text-center">{{alocacao.qtd}}</td>
                <td><span ngbTooltip="Custo unitário {{alocacao.recursoMaterial.valorUnitario | currency:'R$'}}">{{alocacao.valorTotal | currency:'R$'}}</span></td>
                <td>
                    <button type="button" class="btn btn-primary btn-sm w-100" (click)="openModal(alocacao)">
                        <i class="ta-edit"></i>
                        EDITAR
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>

<hr>
<div class="row">
    <div class="col-auto">
        <!-- <i class="ta-user-o text-blue-light"></i> Última atualização em 16.02.2019, às 19:30 por André Moraes -->
    </div>
    <div class="col text-right">

    </div>
</div>
