<form [formGroup]="subform" class="bg-cinza-claro my-3 p-3 rounded">
  <div class="form-group">
    <label for="">Sub Tema
      <app-tip [tipId]="34"></app-tip>
    </label>
    <select name="" id="" class="form-control" formControlName="catalogSubTemaId" #subtemacontrol>
      <option value="">Selecione</option>
      <option [value]="subTema.subTemaId" *ngFor="let subTema of temas | orderBy:'order'">{{subTema.nome}}</option>
    </select>
  </div>
  <div class="form-group" *ngIf="isOther">
    <label>Outro sub-tema</label>
    <app-textarea [maxlength]="200" rows="2" class="form-control" formControlName="outroDesc"></app-textarea>
  </div>
  <div class="text-right" *ngIf="index > 0">
    <button type="button" class="btn btn-link text-cinza" (click)="delete()">
      <i class="ta-cancel-circle"></i> Excluir
    </button>
  </div>
</form>
