<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
 
  </system.web>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Imported Rule 1" enabled="true" stopProcessing="true">
                    <match url="^" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAny">
                        <add input="{DOCUMENT_ROOT}{URL}" matchType="IsFile" ignoreCase="false" />
                        <add input="{DOCUMENT_ROOT}{URL}" matchType="IsDirectory" ignoreCase="false" />
                    </conditions>
                    <action type="None" />
                </rule>
                <rule name="Imported Rule 2" enabled="true">
                    <match url="^" ignoreCase="false" />
                    <action type="Rewrite" url="/index.html" />
                </rule>
            </rules>
        </rewrite>
        <security>
            <requestFiltering>
                <verbs>
                    <add verb="POST" allowed="true" />
                    <add verb="PUT" allowed="true" />
                    <add verb="DELETE" allowed="true" />
                </verbs>
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>