<div class="modal-header">
  <div class="text-uppercase modal-title text-blue-light fs-24">
    {{ form.value.id > 0 ? 'EDITAR' : 'REGISTRAR' }} ITEM DE AJUDA
  </div>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <i class="ta-cancel-circle"></i>
  </button>
</div>

<app-loading type="fullscreen"></app-loading>

<div class="modal-body">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="codigo">Código </label>
      <input type="text" class="form-control" id="codigo" placeholder="Digite o codigo do item"
             formControlName="codigo">
    </div>
    <div class="form-group">
      <label for="nome">Nome</label>
      <input type="text" class="form-control" id="nome" placeholder="Digite o nome do item" formControlName="nome">

    </div>
    <div class="form-group">
      <label for="descricao">Texto tooltip</label>
      <input type="text" class="form-control" id="descricao" placeholder="Descrição breve do item"
             formControlName="descricao">
    </div>
    <div class="form-group">
      <label for="nome">Conteúdo Lightbox (opcional)</label>
      <ckeditor
        [editor]="editor"
        [config]="configEditor"
        formControlName="conteudo"
      ></ckeditor>
    </div>
    <div class="form-group d-flex justify-content-between">
      <div>
        <button type="button" class="button btn btn-danger" (click)="remover()" *ngIf="form.value.id !== 0">
          <i class="ta-trash mr-1"></i>
          Excluir Item
        </button>
      </div>

      <div class="text-right">
        <div class="button btn btn-link" (click)="activeModal.dismiss('cancel')">
          Cancelar
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
          <i class="ta-save mr-1"></i>
          Salvar Item
        </button>
      </div>
    </div>
  </form>
</div>
