<div class="row">
    <div class="col">
        <h5 class="text-uppercase text-blue font-weight-normal my-3">
            Produtos
        </h5>
    </div>
    <div class="col text-right">
        <button class="btn btn-outline-primary" type="button" (click)="openModal()" *appUserEscrita>
            <i class="ta-plus-circle"></i>
            Novo Produto
        </button>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <div class="d-flex align-items-center">
                            <span class="mx-2">Produto Intermediário</span>
                            <app-handler-order [current]="listOrder" field="titulo" (order)=order($event)></app-handler-order>
                        </div>
                    </th>
                    <th>
                        <div class="d-flex align-items-center">
                            <span class="mx-2">Etapa Associada</span>
                            <!--  <app-handler-order [current]="listOrder" field="faseCadeiaValor" (order)=order($event)></app-handler-order> -->
                        </div>

                    </th>
                    <th>
                        <div class="d-flex align-items-center">
                            <span class="mx-2">Classificação</span>
                            <app-handler-order [current]="listOrder" field="classificacaoValor" (order)=order($event)></app-handler-order>

                        </div>
                    </th>
                    <th>
                        <div class="d-flex align-items-center">
                            <span class="mx-2">Ações</span>
                        </div>
                    </th>
                </tr>
            </thead>
            <tr *ngFor="let produto of produtos | orderBy:listOrder.field:listOrder.direction">
                <td>{{produto.titulo}}</td>
                <td>
                    <span *ngFor="let etapa of produto.etapaProduto">
                        <span *ngIf="etapas[etapa.etapaId]" [title]="etapas[etapa.etapaId].desc"> Etapa {{etapas[etapa.etapaId].numeroEtapa}}</span>
                    </span>
                </td>
                <td>Produto {{produto.classificacaoValor}}</td>
                <td>
                    <button type="button" class="btn btn-primary btn-sm btn-block" (click)="openModal(produto)">
                        <i class="ta-edit"></i>
                        EDITAR
                    </button>
                </td>
            </tr>

        </table>
    </div>
</div>

<hr>
<div class="row">
    <div class="col-auto">
        <!-- <i class="ta-user-o text-blue-light"></i> Última atualização em 16.02.2019, às 19:30 por André Moraes -->
    </div>
    <div class="col text-right">

    </div>
</div>
