<div class="modal-header">
    <div class="text-uppercase modal-title text-blue-light fs-20">
        Registrar Resultado Socioambiental
    </div>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.close('close')">
        <i class="ta-cancel-circle"></i>
    </button>
</div>

<div class="modal-body">
    <form [formGroup]="form" (ngSumit)="submit">

        <div class="row">
            <div class="col-8">
                <div class="form-group">
                    <label>TIPO DE INDICADOR SOCIOAMBIENTAL</label>
                    <select class="form-control" formControlName="tipo">
                        <option value="" hidden>Selecione</option>
                        <option [value]="1">Valor 1</option>
                    </select>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label>RESULTADO POSITIVO?</label>
                    <select class="form-control" formControlName="resultado">
                        <option value="" hidden>Selecione</option>
                        <option [value]="1">Valor 1</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label>DESCRIÇÃO DE IMPACTO/MITIGAÇÃO DO RESULTADO DO PROJETO DE P&D</label>
                    <app-textarea class="form-control" rows="5" maxlength="500" formControlName="nome"></app-textarea>
                </div>
            </div>
        </div>

        <div class="form-group d-flex justify-content-end mt-4">
            <div class="button btn btn-link" (click)="activeModal.dismiss('cancel')">
                Cancelar
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
                <i class="ta-save mr-1"></i>
                Adicionar Resultado Socioambiental
            </button>
        </div>
    </form>
</div>