<div class="row">
    <div class="col">
        <h5 class="text-uppercase text-blue font-weight-normal my-3">
            INSERIR REGISTRO - REFP
        </h5>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <ul class="nav nav-bar-row pt-3">
            <li class="nav-item">
                <a routerLinkActive="active" class="nav-link px-3" routerLink="recurso-humano">Recurso Humano</a>
            </li>
            <li class="nav-item">
                <a routerLinkActive="active" class="nav-link px-3" routerLink="recurso-material">Recurso Material</a>
            </li>
        </ul>
    </div>
</div>
<div class="row mt-5">
    <div class="col-12">
        <router-outlet></router-outlet>
    </div>
</div>
