<div class="row">
    <div class="col">
        <h5 class="text-uppercase text-blue font-weight-normal my-3">
            LOG PROJETO
        </h5>
    </div>
</div>
<div class="row mb-5">
    <div class="col">
        <select (change)="mudarUsuario($event.target.value)" name="" id="" class="form-control">
            <option value="">Todos os usuários</option>
            <option [value]="user.id" *ngFor="let user of usuarios">{{user.nomeCompleto}}</option>
        </select>
    </div>
    <div class="col">
        <select (change)="mudarStatus($event.target.value)" name="" id="" class="form-control">
            <option value="">Todas as ações</option>
            <option [value]="s.value" *ngFor="let s of status">{{s.text}}</option>
        </select>
    </div>
    <div class="col text-right">
        {{total}} logs
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="text-center">
            <app-loading type="inline"></app-loading>

        </div>
        <app-log-item *ngFor="let log of logsProjeto | orderBy:'created':'desc'" [log]="log"></app-log-item>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <nav aria-label="Page navigation example" class="text-center">
            <ul class="pagination d-inline-flex">
                <li class="page-item"><a class="page-link" href="#">&lt;</a></li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">&gt;</a></li>
            </ul>
        </nav>
    </div>
</div>
