<div class="card my-3">
    <div class="card-header bg-blue-light text-white d-flex justify-content-between">
        <div>
            <img *ngIf="avatar" [src]="avatar" width="32" height="32" alt="" class="rounded-circle mr-3">
            <span>{{log.user.nomeCompleto}} - {{log.created | date:'short'}}</span>
        </div>
        <div>
            ID: {{log.id}}
        </div>
    </div>
    <table class="table table-bordered mb-0">
        <tr>
            <td class="w-50">
                <strong class="text-blue">Tela:</strong> {{log.tela}}
            </td>
            <td class="w-50">
                <strong class="text-blue">Ação:</strong> {{log.acaoValor}}
            </td>
        </tr>
        <tr>
            <td *ngIf="log.statusAnterior !== ''" [class]="log.statusAnterior !== '' ? 'w-50': ''"
                [attr.colspan]="log.statusNovo === '' ? 2 : ''">
                <strong class="text-blue-light mb-3 d-inline-block">
                    Status Anterior
                </strong>
                <div class="app-log app-log-status-anterior" [innerHTML]="log.statusAnterior"></div>
            </td>
            <td *ngIf="log.statusNovo !== ''" [attr.colspan]="log.statusAnterior === '' ? 2 : ''">
                <strong class="text-blue-light  mb-3 d-inline-block">
                    Novo Status
                </strong>
                <div class="app-log app-log-status-novo" [innerHTML]="log.statusNovo"></div>
            </td>
        </tr>
    </table>
</div>
