<div class="card my-3">
    <div class="card-header bg-blue-light text-white d-flex justify-content-between">
        <div>
            <img src="assets/temp-user.png" width="32" height="32" alt="" class="rounded-circle mr-3">
            <span>{{log.user.nomeCompleto}} - {{log.created | date:'short'}}</span>
        </div>
        <div>
            ID: {{log.id}}
        </div>
    </div>
    <table class="table table-bordered mb-0">
        <tr>
            <td class="w-50">
                <strong class="text-blue">Tela:</strong> {{log.tela}}
            </td>
            <td class="w-50">
                <strong class="text-blue">Ação:</strong> {{log.acao}}
            </td>
        </tr>
        <tr>
            <td *ngIf="log.statusAnterior !== ''" [class]="log.statusAnterior !== '' ? 'w-50': ''" [attr.colspan]="log.statusNovo === '' ? 2 : ''">
                <strong class="text-blue-light mb-3 d-inline-block">
                        Status Anterior
                    </strong>
                <div [innerHTML]="log.statusAnterior"></div>

                <!-- <div class="text-blue">Titulo do Projeto:</div>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem, minima.</p>
                    <div class="text-blue">Motivação:</div>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta nihil necessitatibus
                        inventore recusandae natus, minus provident quidem non sapiente, ipsa, atque perferendis
                        sit dolorum?</p> -->
            </td>
            <td *ngIf="log.statusNovo !== ''" [attr.colspan]="log.statusAnterior === '' ? 2 : ''">
                <strong class="text-blue-light  mb-3 d-inline-block">
                        Novo Status
                    </strong>
                <div [innerHTML]="log.statusNovo"></div>
                <!-- <div class="text-blue">Titulo do Projeto:</div>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem, minima.</p>
                    <div class="text-blue">Motivação:</div>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta nihil necessitatibus
                        inventore recusandae natus, minus provident quidem non sapiente, ipsa, atque perferendis
                        sit dolorum?</p> -->
            </td>
        </tr>
    </table>
</div>
